<div class="image-block--plain print-hidden featured-carousel" data-carousel data-gallery-fullscreen data-carousel-auto-scroll>
  <div class="carousel image-block__content--medium image-block__content--wide">
    <ul class="carousel__slider" data-carousel-slider>

      <li class="carousel__slide" data-carousel-slide>
        <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_1472_42, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_1224_42, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_1039_52, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_839_52, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_639_72, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_479_102, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_345_102, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_345_102_hi 2x" data-bg-slide></div>
        <noscript>
          <img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/10388/soseurope.png?center=0.5%2c0.5&amp;preset=fixed_1472_42" alt="" class="responsive__img">
        </noscript>
        <div class="carousel-slide__header-content">
          <ul class="tags">
            <li class="tags__item--solo">
              <span class="tags__icon--action">Acción</span>
            </li>
          </ul>
          <div class="carousel-header__text-container">
            <span class="carousel-header__text">
Europa - Pasaje seguro para un refugio seguro
            </span>

            <span class="carousel-header__copy">
Millones de personas huyen de situaciones
inimaginables de violencia y abusos de
derechos humanos en sus países de origen
            </span>
          </div>
          <div>
            <a class="btn-transparent--md btn--spaced-top" href="#">¡Actúa!</a>
          </div>
        </div>
      </li>
      <li class="carousel__slide" data-carousel-slide>
        <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122_hi 2x [(min-width: 390px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152_hi 2x" data-bg-slide></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
        </noscript>
        <div class="carousel-slide__header-content">
          <ul class="tags">
            <li class="tags__item--solo">
              <span class="tags__icon--action">Acción</span>
            </li>
          </ul>
          <div class="carousel-header__text-container">
            <span class="carousel-header__text">
              India - Mujeres condenadas a<br />
              ser violadas y desfilar desnudas
            </span>
          </div>
          <div>
            <a class="btn-transparent--md btn--spaced-top" href="#">¡Actúa!</a>
          </div>
        </div>
      </li>
      <li class="carousel__slide" data-carousel-slide>
        <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_1472_42, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_1224_42, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_1039_52, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_839_52, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_639_72, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_479_102, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_345_102, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_345_102_hi 2x" data-bg-slide></div>
        <noscript>
          <img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1818/whatwedo_2944x1224_header.jpg?center=0.5%2c0.5&amp;preset=fixed_1472_42" alt="" class="responsive__img">
        </noscript>
        <div class="carousel-slide__header-content">
          <ul class="tags">
            <li class="tags__item--solo">
              <span class="tags__icon--news">Noticias</span>
            </li>
          </ul>
          <div class="carousel-header__text-container">
            <span class="carousel-header__text">
              España - tres años sin #SanidadUniversal
            </span>
          </div>
          <div>
            <a class="btn-transparent--md btn--spaced-top" href="#">¡Infórmate!</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <button class="carousel__next--inline" data-carousel-next>Next</button>
  <button class="carousel__prev--inline" data-carousel-prev>Previous</button>

  <div class="carousel-pagination" data-carousel-pagination>
    <ul class="carousel-pagination__list">
      <li class="carousel-pagination__item" data-carousel-pagination-item>
        <time class="hidden-large-up carousel-pagination-item__date" datetime="1/26/2014 12:00:00 AM">27 de Julio de 2015</time>
        #SOSEUROPA
      </li>
      <li class="carousel-pagination__item" data-carousel-pagination-item>
        <time class="hidden-large-up carousel-pagination-item__date" datetime="1/26/2014 12:00:00 AM">30 de Julio de 2015</time>
        India
      </li>
      <li class="carousel-pagination__item" data-carousel-pagination-item>
        <time class="hidden-large-up carousel-pagination-item__date" datetime="1/26/2014 12:00:00 AM">10 de Agosto de 2015</time>
        España
      </li>
    </ul>

    <div class="carousel-pagination__label__wrapper">
      <div class="carousel-pagination__label" data-carousel-pagination-label></div>
    </div>
  </div>
</div>

