<div class="container--full-bleed print-hidden" data-carousel>
  <h2 class="carousel__headline">Annual Report</h2>
  <div class="image-block--plain">
    <div class="carousel--fullwidth image-block__content--tall-ghost">
      <ul class="carousel__slider" data-carousel-slider>

        <li class="carousel__slide" data-carousel-slide data-carousel-slide-caption="February - Amnesty International researchers in the Central African Republic found evidence of ethnic cleansing of Muslim civilians in the western part of the country. Thousands of people were killed during the conflict in 2014" data-carousel-slide-credits="Camille Lepage/REUTERS/Corbis &#169;">
          <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122_hi 2x [(min-width: 390px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152_hi 2x" data-bg-slide></div>
          <noscript>
            <img src="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
          </noscript>
          <div class="carousel__slide-inner">

          </div>
        </li>
        <li class="carousel__slide" data-carousel-slide data-carousel-slide-caption="March - Egypt sentenced 529 supporters of former President Mohamed Morsi to death for their alleged role in violence following his ousting in July 2013." data-carousel-slide-credits="STRINGER/Reuters/Corbis &#169;">
          <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_479_122_hi 2x [(min-width: 390px)] | https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_389_152, https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_389_152_hi 2x" data-bg-slide></div>
          <noscript>
            <img src="https://www.amnesty.org/media/patternlibrary/air_2014_15.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
          </noscript>
          <div class="carousel__slide-inner">

          </div>
        </li>
      </ul>
    </div>
    <button class="carousel__next--inline--center" data-carousel-next></button>
    <button class="carousel__prev--inline--center" data-carousel-prev></button>
  </div>
  <div class="carousel__caption" data-carousel-caption></div>
</div>

