<nav class="ai-nav-lang">
  <div class="ai-nav-lang__container">
    <div class="ai-nav-lang__item">
      <a href="#" class="ai-nav-lang__link">Español</a>
    </div>
    <div class="ai-nav-lang__item ai-nav-lang__item--current">
      <a href="#" class="ai-nav-lang__link ai-nav-lang__link--current">Galego</a>
    </div>
    <div class="ai-nav-lang__item">
      <a href="#" class="ai-nav-lang__link">Euskera</a>
    </div>
    <div class="ai-nav-lang__item">
      <a href="#" class="ai-nav-lang__link">Català</a>
    </div>
  </div>
</nav>
