// Allow depth up to 2 as file is inherited
// scss-lint:disable BemDepth
.ca-list__heading {
  font-size: rem(28px);
//   font-size: 2rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  border-top: 1px solid #dadada;
  margin-bottom: rem(24px);
//   margin-bottom: 1.71429rem;
  padding-left: rem(24px);
//   padding-left: 1.71429rem;
  padding-right: rem(24px);
//   padding-right: 1.71429rem;
  padding-top: rem(24px);
//   padding-top: 1.71429rem;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .ca-list__heading {
    font-size: rem(38px);
//     font-size: 2.75rem;
  }
}

.ca-list__itemblock {
  padding: rem(24px) rem(11px) 0 rem(11px);
//   padding: 1.71429rem .85714rem 0 .85714rem;
}

@media screen and (min-width: 40em) {
  .ca-list__itemblock {
    padding: rem(24px) rem(24px) rem(14px) rem(24px);
//     padding: 1.71429rem 1.71429rem 1rem 1.71429rem;
  }
}

.ca-list__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: rem(1px);
//   min-height: .07143rem;
  padding-left: rem(10px);
//   padding-left: .71429rem;
  margin-bottom: rem(10px);
//   margin-bottom: .71429rem;
  width: 100%;
  height: rem(415px);
//   height: 29.64286rem;
  overflow: hidden;
}

@media screen and (min-width: 40em) {
  .ca-list__item {
    width: 50%;
  }
}

@media screen and (min-width: 65em) {
  .ca-list__item {
    width: 25%;
  }
}

.ca-list__item__cell--bottom {
  bottom: rem(11px);
//   bottom: .85714rem;
  left: rem(11px);
//   left: .85714rem;
  position: absolute;
  right: rem(11px);
//   right: .85714rem;
}

.ca-list__item--1\/2 .ca-list__item__cell--bottom {
  bottom: rem(24px);
//   bottom: 1.71429rem;
  left: rem(24px);
//   left: 1.71429rem;
  right: rem(24px);
//   right: 1.71429rem;
}

.ca-list__item__content {
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-bottom: rem(11px) solid #fff;
//   border-bottom: .85714rem solid #fff;
  padding: rem(11px) rem(11px) 0 rem(11px);
//   padding: .85714rem .85714rem 0 .85714rem;
}

.search-item--1\/2 .ca-list__item__content {
  border-bottom: 0;
}

.ca-list__item__content--bottom {
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.search-item--1\/2 .ca-list__item__content--bottom {
  border-bottom: 0;
}

.ca-list__item__content--half {
  background-position: 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-bottom: rem(11px) solid #fff;
//   border-bottom: .85714rem solid #fff;
  padding: rem(11px) rem(11px) 0 rem(11px);
//   padding: .85714rem .85714rem 0 .85714rem;
  background-color: #e5e5e5;
  height: 50%;
}

.search-item--1\/2 .ca-list__item__content--half {
  border-bottom: 0;
}

.ca-list__item__content--padded {
  background-color: #e5e5e5;
  padding: rem(24px);
//   padding: 1.71429rem;
}

.ca-list__item__image {
  background-color: #b6b6b6;
  background-position: 50%;
  background-size: cover;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.ca-list__item__link {
  text-decoration: none;
}

.ca-list__item__title {
  font-size: rem(28px);
//   font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: rem(94px);
//   height: 6.71429rem;
  margin: rem(11px) 0 rem(7px) 0;
//   margin: .85714rem 0 .5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ca-list__item__title--tape {
  margin: 0 rem(8px);
//   margin: 0 .57143rem;
  position: relative;
  top: rem(1px);
//   top: .07143rem;
}

.ca-list__item__title--huge {
  font-size: rem(23px);
//   font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  border-left: 10px solid #000;
  padding-left: rem(19px);
//   padding-left: 1.42857rem;
  margin: rem(24px) 0;
//   margin: 1.71429rem 0;
}

@media screen and (min-width: 30em) {
  .ca-list__item__title--huge {
    font-size: rem(38px);
//     font-size: 2.75rem;
  }
}

@media screen and (min-width: 40em) {
  .ca-list__item__title--huge {
    font-size: rem(28px);
//     font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $f-title;
    -webkit-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    -webkit-font-kerning: normal;
    font-kerning: normal;
    line-height: 1.1;
    border-left: 8px solid #000;
    padding-left: rem(24px);
//     padding-left: 1.71429rem;
  }
}

@media screen and (min-width: 65em) {
  .ca-list__item__title--huge {
    font-size: rem(38px);
//     font-size: 2.75rem;
  }
}


