---
iter_6: [1,2,3,4,5,6]
---
<div class="ca-list print-hidden">
  <div class="grid">

      {{#each iter_6}}
      <article class="ca-list__item ca-list__item--3col">
        <div class="ca-list__item__image">
          <div class="responsive--bg lazyloaded" data-bgset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228_hi 2x [(min-width: 640px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208_hi 2x [(min-width: 346px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208_hi 2x" style="background-image: url(https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228);"></div>
          <noscript>
            &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228" alt="" class="responsive__img" /&gt;
          </noscript>
          <ul class="tags--bottom">
            <li class="tags__item--solo"><span class="tags__icon--action">Acción</span></li>
          </ul>
        </div>
        <div class="ca-list__item__content--half">
          <p class="tags__item--faux">take Action!</p>
          <h1 class="ca-list__item__title">Release torture victim Adrián Vásquez now!</h1>
          <a href="accion.html" class="btn-primary--md--fullwidth">¡Actúa!</a>
        </div>
      </article>
      {{/each}}
  </div>
</div>

