.col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: rem(1px);
//   min-height: .07143rem;
  padding-left: rem(10px);
//   padding-left: .71429rem;
  width: 100%;
}

.col--stacked {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: rem(1px);
//   min-height: .07143rem;
  padding-left: rem(10px);
//   padding-left: .71429rem;
  margin-bottom: rem(10px);
//   margin-bottom: .71429rem;
  width: 100%;
}

.col--1\/4 {
  width: 25%;
}

.col--1\/2 {
  width: 50%;
}

.col--3\/4 {
  width: 75%;
}

@media screen and (min-width: 40em) {
  .col--1\/12--md {
    width: 8.33333%;
  }
  .col--1\/6--md {
    width: 16.66667%;
  }
  .col--1\/4--md {
    width: 25%;
  }
  .col--1\/3--md {
    width: 33.33333%;
  }
  .col--5\/12--md {
    width: 41.66667%;
  }
  .col--1\/2--md {
    width: 50%;
  }
  .col--7\/12--md {
    width: 58.33333%;
  }
  .col--2\/3--md {
    width: 66.66667%;
  }
  .col--3\/4--md {
    width: 75%;
  }
  .col--5\/6--md {
    width: 83.33333%;
  }
  .col--11\/12--md {
    width: 91.66667%;
  }
  .col--1\/8--md {
    width: 12.5%;
  }
}

@media screen and (min-width: 52.5em) {
  .col--1\/12--md-lg {
    width: 8.33333%;
  }
  .col--1\/6--md-lg {
    width: 16.66667%;
  }
  .col--1\/4--md-lg {
    width: 25%;
  }
  .col--1\/3--md-lg {
    width: 33.33333%;
  }
  .col--5\/12--md-lg {
    width: 41.66667%;
  }
  .col--1\/2--md-lg {
    width: 50%;
  }
  .col--7\/12--md-lg {
    width: 58.33333%;
  }
  .col--2\/3--md-lg {
    width: 66.66667%;
  }
  .col--3\/4--md-lg {
    width: 75%;
  }
  .col--5\/6--md-lg {
    width: 83.33333%;
  }
  .col--11\/12--md-lg {
    width: 91.66667%;
  }
  .col--1\/8--md {
    width: 25%;
  }
}

@media screen and (min-width: 65em) {
  .col--1\/12--lg {
    width: 8.33333%;
  }
  .col--1\/6--lg {
    width: 16.66667%;
  }
  .col--1\/4--lg {
    width: 25%;
  }
  .col--1\/3--lg {
    width: 33.33333%;
  }
  .col--5\/12--lg {
    width: 41.66667%;
  }
  .col--1\/2--lg {
    width: 50%;
  }
  .col--7\/12--lg {
    width: 58.33333%;
  }
  .col--2\/3--lg {
    width: 66.66667%;
  }
  .col--3\/4--lg {
    width: 75%;
  }
  .col--5\/6--lg {
    width: 83.33333%;
  }
  .col--11\/12--lg {
    width: 91.66667%;
  }
}

.col__content, .col__content--padded {
  padding: rem(24px) rem(24px) 0 rem(24px);
//   padding: 1.71429rem 1.71429rem 0 1.71429rem;
}

@media screen and (min-width: 40em) {
  .col__content {
    padding: 0;
  }
}

@media print {
  .col__content {
    padding-top: 0;
  }
}

.col__content--padded-full {
  padding: rem(24px);
//   padding: 1.71429rem;
}

.col__content--right {
  padding: rem(24px) rem(24px) 0 rem(24px);
//   padding: 1.71429rem 1.71429rem 0 1.71429rem;
}

@media screen and (min-width: 40em) {
  .col__content--right {
    padding: rem(24px) rem(24px) 0 0;
//     padding: 1.71429rem 1.71429rem 0 0;
  }
}

@media screen and (min-width: 79.5em) {
  .col__content--right {
    padding: rem(24px) 0 0 0;
//     padding: 1.71429rem 0 0 0;
  }
}

@media print {
  .col__content--right {
    padding: 0;
    margin: 0;
  }
}

.grid {
  margin-left: rem(-10px);
//   margin-left: -.71429rem;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

.grid--bg {
  margin-left: rem(-10px);
//   margin-left: -.71429rem;
  position: relative;
  &:after {
    clear: both;
    content: ' ';
    display: table;
  }
  &:before {
    clear: both;
    content: ' ';
    background-color: #e5e5e5;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    left: rem(10px);
//     left: .71429rem;
    right: 0;
  }
}

@media print {
  .grid--bg:before {
    background-color: transparent;
  }
}

.grid--top {
  margin-top: rem(24px);
//   margin-top: 1.71429rem;
}

@media screen and (min-width: 40em) {
  .grid--side-border .col + .col {
    border-left: 1px solid #dadada;
  }
}

.container, .container--padded {
  margin: 0 auto;
  max-width: rem(1223px);
//   max-width: 87.42857rem;
}

@media screen and (min-width: 40em) {
  .container--padded {
    padding: 0 rem(24px);
//     padding: 0 1.71429rem;
  }
}

.container--padded-all {
  margin: 0 auto;
  max-width: rem(1223px);
//   max-width: 87.42857rem;
  padding: 0 rem(11px);
//   padding: 0 .85714rem;
}

@media screen and (min-width: 40em) {
  .container--padded-all {
    padding: 0 rem(24px);
//     padding: 0 1.71429rem;
  }
}

.container--full-bleed {
  margin: 0 auto;
  max-width: rem(1472px);
//   max-width: 105.14286rem;
}

.container--txt-center {
  text-align: center;
}

.container--padded-vertical, .container--padded-vertical-double {
  margin: 0 auto;
  max-width: rem(1223px);
  padding: rem(10) 0;
}

@media screen and (min-width: 40em) {
  .container--padded-vertical {
    padding: rem(24px) 0;
  }
}

@media screen and (min-width: 40em) {
  .container--padded-vertical-double {
    padding: rem(47px) 0;
  }
}

.container--bordered-top {
  border-top: 1px solid #e5e5e5;
  margin-top: rem(24px);
}

.container--bordered-bottom {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: rem(24px);
}

.container--wide {
  margin: 0 auto;
  max-width: rem(1271px);
//   max-width: 90.85714rem;
}

.container--highlight {
  background-color: $c-grey--lighter;
  max-width: $s-container-width--medium;
  margin: 0 auto;

  padding-bottom: $s-margin--small;

  @include media($m-ai-medium) {
    padding-bottom: $s-margin--medium;
  }

  &__content {
    max-width: $s-container-width--small;
    margin: 0 auto;
    box-sizing: border-box;
  }

}



.ai-c {

  margin: 0 auto;
  max-width: $s-container-width--small;
  padding-left: $s-margin--small;
  padding-right: $s-margin--small;
  box-sizing: border-box;

  @include media($m-ai-large) {
    padding-left: $s-margin--medium;
    padding-right: $s-margin--medium;
  }

  .ai-c {
    padding-left: 0;
    padding-right: 0;
  }

  &--wide {
    max-width: $s-container-width--medium;
  }

  &--padded-vertical {
    padding-top: $s-margin--small;
    padding-bottom: $s-margin--small;
    @include media($m-ai-large) {
      padding-top: $s-margin--medium;
      padding-bottom: $s-margin--medium;
    }
  }

  &--padded-vertical-double {
    padding-top: $s-margin--small;
    padding-bottom: $s-margin--small;
    @include media($m-ai-large) {
      padding-top: $s-margin--large;
      padding-bottom: $s-margin--large;
    }
  }

  &--bordered-top {
    border-top: 1px solid #e5e5e5;
    margin-top: $s-margin--medium;
  }

  &--bordered-bottom {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: $s-margin--medium;
  }

  &--text-left {
    text-align: left;
  }

  &--text-center {
    text-align: center;
  }

  &--text-right {
    text-align: right;
  }

}
