.h1 {
  font-size: 49px;
  font-size: 3.5rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h2 {
  font-size: 38px;
  font-size: 2.75rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h3 {
  font-size: 28px;
  font-size: 2rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h4 {
  font-size: 23px;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h5 {
  font-size: 21px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h6 {
  font-size: 14px;
  font-size: 1rem;
  letter-spacing: 0;
  letter-spacing: .02rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h1--caps {
  font-size: 49px;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h2--caps {
  font-size: 38px;
  font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h3--caps {
  font-size: 28px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h4--caps {
  font-size: 23px;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h5--caps {
  font-size: 21px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.h6--caps {
  font-size: 14px;
  font-size: 1rem;
  letter-spacing: 0;
  letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

