// scss-lint:disable SelectorDepth
//
// Images
// --------------------------------------------------
.image {
  display: block;
  margin-bottom: $s-margin--medium;
  line-height: 1;

  > img,
  a > img {
    display: block;
    max-width: 100%;
    height: auto;
    @include media($m-ai-small-max) {
      margin: 0 auto;
    }
  }

  .caption {
    padding: $s-margin--small;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}
.image-row {
  @include clearfix();
  margin-left: ($grid-gutter-width / 2) * -1;
  margin-right: ($grid-gutter-width / 2) * -1;
}
.image-column {
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  @include media ($m-ai-medium) {
    float: left;
  }
}
.image-wrap {
  overflow: hidden;
  max-width: 100%;
}
.image-below {
  .image-wrap {
    margin-top: $s-margin--medium;
  }
}
.image-center .image > img {
  margin: 0 auto;
}
.image-center-outer {
  width: 100%;
  position: relative;
  float: right;
  right: 50%;
}
.image-center-inner {
  width: 100%;
  position: relative;
  float: right;
  right: -50%;
}
.image-left {
  .image-wrap {
    float: left;
  }
  .text {
    clear: left;
  }
}
.image-right {
  .image-wrap {
    float: right;
  }
  .text {
    clear: right;
  }
}
.image-wrap,
.image-below,
.image-above,
.image-beside,
.image-intext {
  @include clearfix();
}
.image-beside-left .image-wrap,
.image-intext-left .image-wrap {
  float: left;
  margin-left: -1 * ($grid-gutter-width / 2);
}
.image-beside-right .image-wrap,
.image-intext-right .image-wrap {
  float: right;
  margin-right: -1 * ($grid-gutter-width / 2);
}
.image-beside-left .image-wrap,
.image-beside-right .image-wrap,
.image-intext-left .image-wrap,
.image-intext-right .image-wrap {
  max-width: 50%;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}
.image-beside-right,
.image-beside-left {
  overflow: hidden;
  zoom: 1;
  @include media ($m-ai-small-max) {
    .image-wrap {
      margin-left: -1 * ($grid-gutter-width / 2);
      margin-right: -1 * ($grid-gutter-width / 2);
      max-width: none;
      float: none;
    }
  }
  .text {
    overflow: hidden;
    zoom: 1;
  }
}
.image-header-1,
.image-header-2,
.image-header-3 {
  .image-wrap {
    margin-top: $s-margin--medium;
  }
}
.image-header-4,
.image-header-5,
.image-header-6 {
  .image-wrap {
    margin-top: ($s-margin--medium / 2);
  }
}
