$f-title: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
$f-default: sans-serif;

// Bourbon
$em-base: 14px;


// Sizes
$s-container-width--small: rem(1271);
$s-container-width--medium: rem(1472);
$s-container-width--large: rem(1682);

$s-margin--small: rem(10);
$s-margin--medium: rem(24);
$s-margin--large: rem(47);

// Neat
$max-width: $s-container-width--small;

// Media - From Bootstrap
$screen-sm: 30em;
$screen-md: 40em;
$screen-lg: 65em;
$screen-sm-min: 30em;
$screen-md-min: 40em;
$screen-lg-min: 65em;
$screen-xs-max: 29.9999em;
$screen-sm-max: 39.9999em;
$screen-md-max: 64.9999em;

$m-sm: new-breakpoint(min-width $screen-sm);
$m-md: new-breakpoint(min-width $screen-md);
$m-lg: new-breakpoint(min-width $screen-lg);

// Media - From AI (like Zurb's)
$m-ai-small: new-breakpoint(min-width 30em);
$m-ai-medium: new-breakpoint(min-width 40em);
$m-ai-large: new-breakpoint(min-width 65em);

// Colours
$c-yellow: #FF0;
$c-yellow-hover: #FFD500;
$c-black: #000;
$c-grey--darkest: #1A1A1A;
$c-grey--darker: #262626;
$c-grey--dark: #363636;
$c-grey--mid: #B6B6B6;
$c-grey--light: #DADADA;
$c-grey--lighter: #E5E5E5;
$c-grey--lightest: #F7F7F7;
$c-white: #FFF;
$c-twitter: #55ACEE;
$c-facebook: #22599D;
$c-error: #CB5757;
