$f-title: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
$f-default: sans-serif;

// Bourbon
$em-base: 14px;

// Neat
$max-width: rem(1234);

// Media
$m-sm: new-breakpoint(min-width em($screen-sm-min, 16));
$m-md: new-breakpoint(min-width em($screen-md-min, 16));
$m-lg: new-breakpoint(min-width em($screen-lg-min, 16));

$m-ai-desktop: new-breakpoint(min-width 65em);

$c-yellow: #FF0;
$c-yellow-hover: #FFD500;
$c-black: #000;
$c-grey--darkest: #1A1A1A;
$c-grey--darker: #262626;
$c-grey--dark: #363636;
$c-grey--mid: #B6B6B6;
$c-grey--light: #DADADA;
$c-grey--lighter: #E5E5E5;
$c-grey--lightest: #F7F7F7;
$c-white: #FFF;
$c-twitter: #55ACEE;
$c-facebook: #22599D;
$c-error: #CB5757;
