$icon-font-path: '../fonts/';

// scss-lint:disable ImportPath
// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower
// scss-lint:enable ImportPath
@import "variables";
$ai-accion--is-widget: true;

// Disable all viewports but lg
//$screen-sm: 1em;
//$screen-md: 1em;
//$screen-lg: 1em;
//$screen-sm-min: 1em;
//$screen-md-min: 1em;
//$screen-lg-min: 1em;
//$screen-xs-max: 1em;
//$screen-sm-max: 1em;
//$screen-md-max: 1em;
//$m-sm: new-breakpoint(min-width $screen-sm);
//$m-md: new-breakpoint(min-width $screen-md);
//$m-lg: new-breakpoint(min-width $screen-lg);
//$m-ai-small: new-breakpoint(min-width 1em);
//$m-ai-medium: new-breakpoint(min-width 1em);
//$m-ai-large: new-breakpoint(min-width 1em);
//$m-ai-small-max: new-breakpoint(max-width 1em);
//$m-ai-medium-max: new-breakpoint(max-width 1em);
//$m-ai-large-max: new-breakpoint(max-width 65em);
//$m-ai-small-only: new-breakpoint(min-width 1em max-width 1em);
//$m-ai-medium-only: new-breakpoint(min-width 1em max-width 1em);

@import "bootstrap";
@import "functions";
@import "magnific-popup";
@import "sprites";
@import "grid";
@import "base";
@import "headings";
@import "forms";
@import "modules/heading";
@import "modules/overlay";
@import "../blocks/btn/btn";
@import "../blocks/ai-page-title/ai-page-title";
@import "modules/cookies";
@import "modules/ai-accion";
@import "../blocks/ai-people-acted/ai-people-acted";
@import "typo3";

html {
  font-size: 12px;
}

.ai-page-title {
  font-size: 2.25rem;
}

.ai-accion-2col {
  @include outer-container;
  &__col1 {
    @include span-columns(7);
    padding: 0 rem(24) 0 0;
  }
  &__col2 {
    @include span-columns(5);
    // IE8..
    margin-right: 0;
  }
}
