---
suboptions:
  - title: Suboptions
    suboptions:
      - title: Option 1-1
      - title: Option 1-2
      - title: Option 1-3
        suboptions:
          - title: Op 1-3-1
          - title: Op 1-3-2
  - title: Option 2
  - title: Option 3
---
<ul class="dropdown__list">
  {{#each suboptions}}
  <li class="dropdown__option dropdown__option--sub dropdown__base">
    {{#if ./suboptions}}
    <div class="dropdown__toggle dropdown__toggle-sub"></div>
    {{/if}}
    <label class="dropdown__label dropdown__label--sub">
      <a href="">{{./title}}</a> (<span class="dropdown__count">0</span>)
    </label>
    {{#if ./suboptions}}
      {{partial 'dropdown__list' .}}
    {{/if}}
  </li>
  {{/each}}
</ul>

