---
iter_select: ['Option 1', 'Option 2', 'Option 3']
iter_select_sub: ['Sub Option 1', 'Sub Option 2', 'Sub Option 3']
suboptions:
  - title: Suboptions
    suboptions:
      - title: Option 1-1
      - title: Option 1-2
  - title: Option 2
  - title: Option 3
---
<div class="dropdown dropdown__base">
  <p class="dropdown__title dropdown__title--topics dropdown__toggle" data-dropdown-label="Topics">
  <span class="dropdown-title__text">Categoría</span>
  </p>
  <div class="dropdown__list-container">
    {{partial 'dropdown__list'}}
  </div>
</div>
