.ai-breadcrumbs {

  &__item {

    font-weight: 400;
    font-family: $f-title;
    font-feature-settings: 'kern';
    font-kerning: normal;

    display: inline-block;
    color: $c-grey--mid;
    padding-right: rem(10px);

    &::after {
      content: ' > ';
      padding-left: rem(10px);
    }

    &--current::after {
      content: '';
      padding-left: 0;
    }

  }

  &__link {
    color: $c-black;
    text-decoration: none;

    &--current {
      color: $c-grey--mid;
    }
  }

}

.ai-breadcrumbs-container {
  max-width: $s-container-width--small;
  margin: 0 auto;
  padding: $s-margin--small;
  box-sizing: content-box;

  @include media($m-ai-large) {
    padding: $s-margin--medium;
  }

}
