<nav class="ai-breadcrumbs">
  <div class="ai-breadcrumbs__item">
    <a class="ai-breadcrumbs__link" href="#">Inicio</a>
  </div>
  <div class="ai-breadcrumbs__item">
    <a class="ai-breadcrumbs__link" href="#">Campañas</a>
  </div>
  <div class="ai-breadcrumbs__item ai-breadcrumbs__item--current">
    <span class="ai-breadcrumbs__link ai-breadcrumbs__link--current">Stop tortura</span>
  </div>
</nav>
