.nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  right: 0;
  background-color: #f7f7f7;
  // scss-lint:disable DuplicateProperty
  height: 100%;
  height: 100vh;
  // scss-lint:enable DuplicateProperty
  opacity: 1;
  position: fixed;
  top: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
  width: rem(299px);
//   width: 21.42857rem;
  z-index: 1001;
  overflow-y: auto;
  transform: translate3d(100%, 0, 0);
  &.is-active {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 65em) {
  .nav {
    background-color: transparent;
    border-right: 1px solid #e5e5e5;
    height: rem(72px);
//     height: 5.14286rem;
    overflow: visible;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: auto;
  }
}

@media screen and (min-width: 65em) {
  .nav {
    border-right: 1px solid #e5e5e5;
    display: block;
    height: 100%;
    right: rem(72px);
//     right: 10.28571rem;
    padding-left: rem(169px);
//     padding-left: 12.07143rem;
  }
}

.nav__options {
  font-size: rem(21px);
//   font-size: 1.5rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: block;
  height: rem(72px);
//   height: 5.14286rem;
  text-transform: uppercase;
  &:before {
    height: rem(19px);
//     height: 1.42857rem;
    width: rem(19px);
//     width: 1.42857rem;
    padding-right: rem(10px);
//     padding-right: .71429rem;
  }
}

@media screen and (min-width: 65em) {
  .nav__options {
    display: none;
  }
}

.nav-options__text {
  display: inline-block;
  float: left;
  line-height: 1;
  padding: rem(24px);
//   padding: 1.71429rem;
}

.nav-options__close {
  border: 0;
  outline: 0;
  padding: 0;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  cursor: pointer;
  float: right;
  height: 100%;
  line-height: rem(72px);
//   line-height: 5.14286rem;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .25s,color .25s,border-color .25s;
  transition: background-color .25s,color .25s,border-color .25s;
  width: rem(72px);
//   width: 5.14286rem;
  z-index: 2;
  border-right: 1px solid #e5e5e5;
  display: block;
  font-size: rem(14px);
//   font-size: 1rem;
  background-color: #1a1a1a;
  &:hover {
    background-color: #e5e5e5;
  }
  &:focus {
    outline: 0;
  }
  &.is-active {
    background-color: #1a1a1a;
    color: #fff;
  }
  &:before {
    @include ai-sprite;
    padding: rem(1px);
//     padding: .07143rem;
    position: relative;
    top: rem(2px);
//     top: .14286rem;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: block;
    background-position: -12.78571em -15em;
    height: 1.71429em;
    width: 1.71429em;
    margin: rem(22px) auto;
//     margin: 1.6rem auto;
  }
}

@media screen and (min-width: 64.9375em) {
  .nav-options__close {
    z-index: 1002;
  }
}

.nav-btn {
  border: 0;
  outline: 0;
  padding: 0;
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: #fff;
  cursor: pointer;
  display: table-cell;
  float: right;
  height: 100%;
  line-height: rem(72px);
//   line-height: 5.14286rem;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .25s,color .25s,border-color .25s;
  transition: background-color .25s,color .25s,border-color .25s;
  width: rem(72px);
//   width: 5.14286rem;
  z-index: 2;
  border-left: 1px solid #e5e5e5;
  &:hover {
    background-color: #e5e5e5;
  }
  &:focus {
    outline: 0;
  }
  &.is-active {
    background-color: #1a1a1a;
    color: #fff;
  }
}

@media screen and (min-width: 64.9375em) {
  .nav-btn {
    z-index: 1002;
  }
}

@media screen and (min-width: 65em) {
  .nav-btn {
    display: none;
  }
}

@media screen and (max-width: 64.9375em) {
  .nav-btn.is-active {
    .nav-btn__lines {
      background-color: #fff;
      &:after, &:before {
        background-color: #fff;
      }
    }
    + .nav {
      opacity: 1;
      right: 0;
    }
  }
}

.nav-btn__lines {
  background-color: #000;
  border-radius: rem(1px);
//   border-radius: .07143rem;
  display: block;
  height: rem(3px);
//   height: .21429rem;
  margin: rem(33px) auto;
//   margin: 2.42857rem auto;
  position: relative;
  top: 0;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  width: rem(24px);
//   width: 1.71429rem;
  &:after, &:before {
    background-color: #000;
    border-radius: rem(1px);
//     border-radius: .07143rem;
    content: '';
    display: inline-block;
    height: rem(3px);
//     height: .21429rem;
    left: 0;
    position: absolute;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
    width: rem(24px);
//     width: 1.71429rem;
  }
  &:after {
    top: rem(8px);
//     top: .57143rem;
  }
  &:before {
    bottom: rem(8px);
//     bottom: .57143rem;
  }
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: rem(67px);
//   padding-bottom: 4.85714rem;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

@media screen and (max-width: 64.9375em) {
  .nav-list {
    text-align: center;
  }
}

@media screen and (min-width: 65em) {
  .nav-list {
    float: right;
    height: 100%;
    padding-bottom: 0;
  }
}

.nav-list--dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 1000%;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  width: 100%;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

.nav-list--sub {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

@media screen and (min-width: 30em) {
  .nav-list--sub {
    display: block;
  }
}

@media screen and (min-width: 65em) {
  .nav-list--sub {
    bottom: rem(-72px);
//     bottom: -5.14286rem;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
}

.nav-list__item {
  display: block;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
  &:hover {
    .nav-list--sub {
      top: 0;
    }
    &.has-subnav ~ .active-subnav {
      // scss-lint:disable NestingDepth
      .nav-list--sub, .nav-list--sub-container {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &.active-subnav {
    .nav-list--sub, .nav-list--sub-container {
      opacity: 1;
      visibility: visible;
    }
  }
  &:hover {
    .nav-list--sub, .nav-list--sub-container {
      opacity: 1;
      visibility: visible;
    }
  }
  &.active-subnav .nav-list--sub, &:hover .nav-list--sub {
    top: 0;
  }
}

@media screen and (min-width: 65em) {
  .nav-list__item {
    display: table;
    float: left;
    height: 100%;
    margin-left: -2px;
    &:last-child {
      margin-right: -2px;
    }
  }
}

.nav-list__item--sub {
  font-family: $f-title;
  //letter-spacing: 1px;
}

@media screen and (min-width: 65em) {
  .nav-list__item--sub {
    display: inline-block;
    margin-left: -4px;
  }
}


.nav-list__item--lowpriority {
  border-left: 1px solid $c-grey--light;
}

.nav-list__item--lowpriority + .nav-list__item--lowpriority {
  border-left: 0;
}

.nav-list__link {
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: #fff;
  color: #000;
  display: block;
  padding: rem(19px) rem(24px);
//   padding: 1.42857rem 1.71429rem;
  text-decoration: none;
  -webkit-transition: background-color .25s,color .25s;
  transition: background-color .25s,color .25s;
  text-align: left;
  line-height: 1;
  &:hover {
    background-color: #e5e5e5;
    outline: 0;
  }
  &.is-current {
    background-color: #1a1a1a;
    color: #fff;
  }
}

@media screen and (max-width: 64.9375em) {
  .nav-list__link {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
  }
}

@media screen and (min-width: 65em) {
  .nav-list__link {
    display: table-cell;
    padding: 0 rem(22px);
//     padding: 0 1.57143rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
}

@media screen and (max-width: 64.9375em) {
  .nav-list__link.is-current {
    border-bottom: 1px solid #1a1a1a;
  }
}

@media screen and (max-width: 64.9375em) {
  .nav-list__item:first-child .nav-list__link {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  }
}

.nav-list__link--lowpriority {
  color: $c-grey--mid;
}

.nav-list__subnav-btn {
  right: 0;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  height: rem(54px);
//   height: 3.92857rem;
  padding: rem(19px) rem(25px) rem(19px) rem(26px);
//   padding: 1.42857rem 1.85714rem 1.42857rem 1.92857rem;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: rem(73px);
//   width: 5.28571rem;
  background: #f7f7f7;
  &:before {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -19.35714em -1.85714em;
    height: 1.14286em;
    width: 1.14286em;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  &.is-open {
    background: #e5e5e5;
    &:before {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

@media screen and (min-width: 65em) {
  .nav-list__subnav-btn {
    display: none;
  }
}

.nav-search {
  right: 1000%;
  position: absolute;
  top: rem(72px);
//   top: 5.14286rem;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: rem(72px);
//   height: 5.14286rem;
  opacity: 1;
  width: 100%;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

@media screen and (min-width: 65em) {
  .nav-search {
    z-index: 1001;
  }
}

@media screen and (min-width: 64.9375em) {
  .nav-search {
    width: 0;
    overflow: hidden;
    -webkit-transition: all .75s;
    transition: all .75s;
    top: auto;
    right: rem(72px);
//     right: 10.28571rem;
  }
}

.no-js .nav-search:focus {
  left: 0;
  opacity: 1;
}

@media screen and (min-width: 64.9375em) {
  .nav-search.is-active {
    width: 100%;
    padding-left: rem(241px);
//     padding-left: 22.42857rem;
  }
}

.nav-search__cancel {
  display: none;
}

.nav-search__field {
  display: table-cell;
  height: 100%;
  position: relative;
  width: 100%;
}

.nav-search__inner {
  background-color: #f7f7f7;
  display: table;
  float: right;
  height: 100%;
  width: 100%;
}

.nav-search__input {
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: rem(16px);
//   font-size: 1.14286rem;
  height: rem(72px);
//   height: 5.14286rem;
  line-height: normal;
  padding: 0 rem(24px);
//   padding: 0 1.71429rem;
  position: absolute;
  top: 0;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

.nav-search__submit {
  border: 0;
  outline: 0;
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  cursor: pointer;
  float: right;
  height: 100%;
  line-height: rem(72px);
//   line-height: 5.14286rem;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .25s,color .25s,border-color .25s;
  transition: background-color .25s,color .25s,border-color .25s;
  z-index: 2;
  font-size: rem(14px);
//   font-size: 1rem;
  background-color: #ff0;
  border-right: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  display: table-cell;
  padding: 0 rem(24px);
//   padding: 0 1.71429rem;
  text-transform: background-color .25s;
  width: rem(143px);
//   width: 10.28571rem;
  &:hover {
    background-color: #e5e5e5;
  }
  &:focus {
    outline: 0;
  }
  &.is-active {
    background-color: #1a1a1a;
    color: #fff;
  }
  &:before {
    margin: rem(24px) auto;
//     margin: 1.71429rem auto;
    padding: rem(1px);
//     padding: .07143rem;
    position: relative;
    top: rem(2px);
//     top: .14286rem;
  }
  &:hover {
    background-color: #ffd500;
  }
}

@media screen and (min-width: 64.9375em) {
  .nav-search__submit {
    z-index: 1002;
  }
}

.nav-wrapper {
  height: 100%;
}

.nav-overlay {
  // scss-lint:disable DuplicateProperty
  background-color: #363636;
  background-color: rgba(54, 54, 54, 0.75);
  height: 0;
  left: -1000px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  width: 0;
  z-index: 1000;
}

.nav-overlay--visible {
  height: 100%;
  left: 0;
  opacity: 1;
  width: 100%;
}

.nav-list--sub-container {
  background: #1a1a1a;
  display: block;
  float: left;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 65em) {
  .nav-list--sub-container {
    bottom: rem(-67px);
    height: rem(72px);
    opacity: 0;
    box-shadow: rem(1130px) 0 0 #1a1a1a, rem(-1130px) 0 0 #1a1a1a;
    position: absolute;
    right: 0;
    text-align: center;
    top: rem(72px);
    visibility: hidden;
    width: rem(1151px);
  }

  .nav-list--sub-container--highlights {
    height: rem(200);
  }
}

.nav-list--sub {
  display: block;
  list-style: none;
  margin-bottom: 0;
  margin-top: rem(-1000px);
//   margin-top: -29.64286rem;
  padding-left: 0;
  position: relative;
  text-align: left;
  top: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
  visibility: hidden;
  &.is-open {
    margin-top: 0;
    visibility: visible;
  }
}

@media screen and (min-width: 65em) {
  .nav-list--sub {
    display: block;
    float: right;
    height: auto;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    top: rem(-72px);
//     top: -5.14286rem;
  }
}

.nav-list__link--secondary {
  color: #fff;
  display: block;
  padding: rem(24px) rem(47px);
//   padding: 1.71429rem 3.42857rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .35s;
  transition: all .35s;
  &:hover {
    background: #262626;
  }
  &.is-active {
    background: #363636;
    color: #fff;
    text-decoration: underline;
    &:hover {
      background: #363636;
      color: #fff;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 65em) {
  .nav-list__link--secondary {
    padding: rem(25px);
//     padding: 1.82143rem;
  }
}

.nav-list {

  &--sub--highlights {
    padding-left: rem(47px);
    padding-top: rem(24);

    @include media($m-ai-large) {
      padding-left: 0;
      padding-top: 0;
      margin-top: rem(24);
      text-align: right;
      width: 100%;
    }
  }

  &__highlight-item-sub {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-height: rem(1px);
    margin-bottom: rem(24);
    width: rem(175);
    height: rem(88);
    overflow: hidden;
    position: relative;
    transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;

    @include media($m-ai-large) {
      margin-bottom: rem(10px);
      margin-right: rem(50);
    }

    &:hover {
      opacity: .6;
      background: #1a1a1a;
    }

    &:last-of-type {
      @include media($m-ai-large) {
        margin-right: 0;
      }
    }

  }

  &__highlight-item-sub-image-block {
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  }

  &__highlight-item-sub-bottom {
    bottom: rem(11px);
    left: rem(11px);
    position: absolute;
    right: rem(11px);
    text-align: left;
  }

  &__highlight-item-sub-title {
    margin: 0 rem(8px);
    position: relative;
    top: rem(1px);

    font-size: rem(14px);
    font-weight: 400;
    font-family: $f-title;
    font-feature-settings: 'kern';
    font-kerning: normal;
    background-color: $c-black;
    color: $c-white;
    box-decoration-break: clone;
    box-shadow: rem(8px) 0 0 $c-black, rem(-8px) 0 0 $c-black;
    display: inline;
    line-height: 1.6;
    padding: rem(3px) 0;
    text-transform: uppercase;

  }

}
