---
iter_3: ['Ciberactúa', 'Hazte socio', 'Hazte voluntario']
---
<div class="nav-overlay" data-nav-overlay></div>
<div class="nav-btn" hidden aria-hidden="true" data-nav-btn>
      <span class="nav-btn__lines"></span> Menu
</div>
<nav class="nav" data-nav role="navigation" aria-expanded="false">
  <h1 class="visually-hidden" id="navigation">Menú principal</h1>
  <div class="nav__options">
    <div class="nav-options__text">
      Menú principal
    </div>
    <div class="nav-options__close" data-nav-close>
      Cerrar
    </div>
  </div>
  <ul class="nav-list">
    <li class="nav-list__item  has-subnav">
      <div class="nav-list__subnav-btn" data-subnav-btn></div>
      <a class="nav-list__link "  href="actua.html">Actúa</a>

      <div class="nav-list--sub-container nav-list--sub-container--highlights">
        <div class="nav-list--sub nav-list--sub--highlights" data-subnav>
          {{#each iter_3}}

          <a class="nav-list__highlight-item-sub" href="#">
            <div class="responsive--bg lazyload nav-list__highlight-item-sub-image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
            <noscript>
              <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
            </noscript>
            <div class="nav-list__highlight-item-sub-bottom">
              <span class="nav-list__highlight-item-sub-title">{{this}}</span>
            </div>
          </a>

          {{/each}}
        </div>

        <ul class="nav-list--sub nav-list--sub--no-highlights" data-subnav>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Haz un legado</a>
          </li><li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Haz un donativo</a>
          </li><li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Red de Acciones Urgentes</a>
          </li><li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Red de escuelas por los derechos humanos</a>
          </li><li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Recicla tu móvil</a>
          </li>
          <!-- <li class="nav-list__item--sub"> -->
          <!--   <a class="nav-list__link--secondary " href="#">Arte implicado</a> -->
          <!-- </li> -->
        </ul>
      </div>

    </li>
    <li class="nav-list__item  active-subnav">
      <a class="nav-list__link is-current"  href="#">Hazte socio</a>
    </li>
    <li class="nav-list__item  has-subnav ">
      <div class="nav-list__subnav-btn" data-subnav-btn></div>
      <a class="nav-list__link " href="#">Quienes somos</a>
      <div class="nav-list--sub-container">
        <ul class="nav-list--sub" data-subnav>
          <li class="nav-list__item--sub">
            <a class="nav-list_link--secondary " href="#">Historia</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Objetivos</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Así somos en la organización</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Nuestras cuentas</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Que hemos conseguido</a>
          </li><li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Trabaja con nosotros</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-list__item  has-subnav">
      <div class="nav-list__subnav-btn" data-subnav-btn></div>
      <a class="nav-list__link "  href="#">En qué estamos</a>
      <div class="nav-list--sub-container">
        <ul class="nav-list--sub" data-subnav>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Noticias</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Campañas</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Blog</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Los derechos humanos en España</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Información por temas</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Países A-Z</a>
          </li>
          <li class="nav-list__item--sub">
            <a class="nav-list__link--secondary " href="#">Buenas noticias</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

