<div class="action action--alternate">
  <h2 class="action__subheading">JOIN AMNESTY. PROTECT HUMAN RIGHTS </h2>                    <h2 class="action__heading">Have your say in our work and help us be there for people at risk – become a member today.</h2>
  <a href="#" class="action__btn" data-overlay-show="join">HOW DO I JOIN?</a>
</div>

