<div class="blocknav">
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Living In Dignity" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Living In Dignity" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Living In Dignity" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">Living In Dignity</div>
    </a>
  </div>
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Freedom of Expression" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Freedom of Expression" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Freedom of Expression" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">Freedom of Expression</div>
    </a>
  </div>
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Detention" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Detention" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Detention" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">Detention</div>
    </a>
  </div>
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Indigenous Peoples" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Indigenous Peoples" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Indigenous Peoples" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">Indigenous Peoples</div>
    </a>
  </div>
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="United Nations (UN)" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="United Nations (UN)" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="United Nations (UN)" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">United Nations (UN)</div>
    </a>
  </div>
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="People on the Move" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="People on the Move" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="People on the Move" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">People on the Move</div>
    </a>
  </div>
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Torture" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Torture" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Torture" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">Torture</div>
    </a>
  </div>
  <div class="blocknav__item">
    <a class="blocknav__box" href="#">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112_hi 2x">
      <!--[if IE 9]></video><![endif]-->
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Discrimination" class="blocknav__img lazyload print-hidden">
      </picture>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Discrimination" class="blocknav__img">
      </noscript>
      <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_112" alt="Discrimination" class="blocknav__img print-shown">
      <div class="blocknav__boxtitle">Discrimination</div>
    </a>
  </div>
</div>

