<div class="image-block--plain image-block--spaced-bottom print-hidden featured-carousel" data-carousel data-gallery-fullscreen data-carousel-auto-scroll>
  <div class="carousel image-block__content--medium image-block__content--wide">
    <ul class="carousel__slider" data-carousel-slider>

      <li class="carousel__slide" data-carousel-slide>
        <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122_hi 2x [(min-width: 390px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152_hi 2x" data-bg-slide></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
        </noscript>
        <div class="carousel-slide__header-content">
          <ul class="tags">
            <li class="tags__item--solo">
              <span class="tags__icon--news">News</span>
            </li>
          </ul>
          <div class="carousel-header__text-container">
            <span class="carousel-header__text">
              Amnesty International researchers in the Central African Republic found evidence of ethnic cleansing of Muslim civilians in the western part of the country. Thousands of people were killed during the conflict in 2014
            </span>
          </div>
          <div>
            <a class="btn-transparent--md btn--spaced-top" href="#">View Now</a>
          </div>
        </div>
      </li>
      <li class="carousel__slide" data-carousel-slide>
        <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122_hi 2x [(min-width: 390px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152_hi 2x" data-bg-slide></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
        </noscript>
        <div class="carousel-slide__header-content">
          <ul class="tags">
            <li class="tags__item--solo">
              <span class="tags__icon--news">News</span>
            </li>
          </ul>
          <div class="carousel-header__text-container">
            <span class="carousel-header__text">
              March - Egypt sentenced 529 supporters of former President Mohamed Morsi to death for their alleged role in violence following his ousting in July 2013.
            </span>
          </div>
          <div>
            <a class="btn-transparent--md btn--spaced-top" href="#">View Now</a>
          </div>
        </div>
      </li>
      <li class="carousel__slide" data-carousel-slide>
        <div class="responsive--bg " data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_479_122_hi 2x [(min-width: 390px)] | https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152, https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_389_152_hi 2x" data-bg-slide></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_16.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
        </noscript>
        <div class="carousel-slide__header-content">
          <ul class="tags">
            <li class="tags__item--solo">
              <span class="tags__icon--news">News</span>
            </li>
          </ul>
          <div class="carousel-header__text-container">
            <span class="carousel-header__text">
              March - Egypt sentenced 529 supporters of former President Mohamed Morsi to death for their alleged role in violence following his ousting in July 2013.
            </span>
          </div>
          <div>
            <a class="btn-transparent--md btn--spaced-top" href="#">View Now</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <button class="carousel__next--inline" data-carousel-next>Next</button>
  <button class="carousel__prev--inline" data-carousel-prev>Previous</button>

  <div class="carousel-pagination" data-carousel-pagination>
    <ul class="carousel-pagination__list">
      <li class="carousel-pagination__item" data-carousel-pagination-item>
        <time class="hidden-large-up carousel-pagination-item__date" datetime="1/26/2014 12:00:00 AM">26 January 2014</time>
        Africa, Armed Conflict
      </li>
      <li class="carousel-pagination__item" data-carousel-pagination-item>
        <time class="hidden-large-up carousel-pagination-item__date" datetime="1/26/2014 12:00:00 AM">26 January 2014</time>
        Egypt, Death Sentence
      </li>
      <li class="carousel-pagination__item" data-carousel-pagination-item>
        <time class="hidden-large-up carousel-pagination-item__date" datetime="1/26/2014 12:00:00 AM">26 January 2014</time>
        Egypt, Death Sentence
      </li>
    </ul>

    <div class="carousel-pagination__label__wrapper">
      <div class="carousel-pagination__label" data-carousel-pagination-label></div>
    </div>
  </div>
</div>

