<div class="cookies print-hidden" data-cookies>
  <div class="cookies__container">
    <p class="cookies__message">We use cookies! <a href="#">Learn More</a></p>
    <form action="/cookiemessage/hide" class="cookies__form" method="POST" data-cookie-form>
      <input type="submit" class="cookies__btn" value="Okay, got it" />
    </form>
  </div>
</div>

