<div class="counter">
  <div class="col col--1/2--md">
    <div class="counter-panel">
      <header class="counter-panel__heading"> We are a global movement</header>
      <div class="counter-panel__number" data-counter data-counter-culture="" data-counter-start="2000000" data-counter-stop="3052712"></div>
      <div class="counter-panel__text">With more than 3 million supporters, members and activists in over 150 countries - you will be in good company.</div>
    </div>
  </div>
  <div class="col col--1/2--md">
    <blockquote class="counter-panel">
      <header class="quote__source--stacked">Moses Akatugba</header>
      <div class="quote__text--stacked">When he was 16, Moses was arrested and tortured.</div>
    </blockquote>
  </div>
</div>

