<footer class="footer print-hidden">
  <div class="footer__container">

    <div class="grid">

      <div class="footer__col" data-footer-group>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>Conócenos más</a>
            <ul class="footer-list--sub">
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Nuestros objetivos</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Así somos en España</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Rendición de cuentas</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Independencia</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Ofertas de trabajo</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Contacto</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">AI Catalunya</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Grupos locales</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer__col" data-footer-group>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>Nuestro trabajo</a>
            <ul class="footer-list--sub">
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Temas y campañas</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Países prioritarios</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Informe anual</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Qué hemos conseguido</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Documentación</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer__col" data-footer-group>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>¿Cómo puedes ayudar?</a>
            <ul class="footer-list--sub">
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Ciberactúa</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Hazte voluntario</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Hazte socio</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Haz una donación</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Haz un legado</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer__col" data-footer-group>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>Actualidad</a>
            <ul class="footer-list--sub">
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Noticias</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Entrevistas</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">La Revista</a>
              </li>
              <li class="footer-list__item print-hidden">
                <a href="#" class="footer-list__link footer-list__link--item">Podcast</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer__col--1/3 print-hidden" data-footer-group>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>Recibe nuestros emails</a>
            <ul class="footer-list--sub">
              <li class="footer-list__item">
                <p class="footer-list__copy">Copy indicando ventajas para suscribirse</p>
                <a href="#" class="footer-list__btn">Suscribirse</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

    <div class="grid footer__bottom">

      <div class="footer__col--right">
        <ul class="social-list print-hidden">
          <li class="social-list__item"><a href="http://www.facebook.com/amnistia.internacional.espana" class="social-list__link--facebook" data-ga="event,Social,click,facebook">Haznos Me Gusta en Facebook</a></li>
          <li class="social-list__item"><a href="http://twitter.com/amnistiaespana" class="social-list__link--twitter" data-ga="event,Social,click,amnestytwitter">Síguenos en Twitter</a></li>
          <li class="social-list__item"><a href="http://www.youtube.com/amnistiaespana" class="social-list__link--youtube" data-ga="event,Social,click,youtube">Suscríbete a nuestro canal de YouTube</a></li>
          <li class="social-list__item"><a href="http://instagram.com/amnistiaespana/" class="social-list__link--instagram" data-ga="event,Social,click,instagram">Síguenos en Instagram</a></li>
        </ul>
      </div>

      <div class="footer__col--left">
        <p class="footer-legal">

        <a href="#" class="footer-legal__link">Política de privacidad</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="footer-legal__link">Mapa del sitio</a>
        </p>
        <p class="footer-copyright">&copy; 2015 Amnistía Internacional España</p>
      </div>

    </div>

  </div>
</footer>
