<footer class="footer print-hidden">
    <div class="footer__container">

        <div class="grid">

            <div class="footer__col" data-footer-group>
                <ul class="footer-list">
                    <li class="footer-list__item">
                        <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>ABOUT US</a>
                        <ul class="footer-list--sub">
                                                                                                                    <li class="footer-list__item print-hidden">&nbsp;</li>
                                    <li class="footer-list__item print-hidden"><a href="/en/about-us/contact/" class="footer-list__link footer-list__link--item">Contact Us</a></li>
                                    <li class="footer-list__item print-hidden"><a href="/en/about-us/how-were-run/" class="footer-list__link footer-list__link--item">How We&#39;re Run</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="footer__col" data-footer-group>
                <ul class="footer-list">
                    <li class="footer-list__item">
                        <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>RESOURCES</a>
                            <ul class="footer-list--sub">
                                    <li class="footer-list__item"><a href="/en/media-centre/" class="footer-list__link footer-list__link--item">Media Centre</a></li>
                                    <li class="footer-list__item"><a href="/en/wire-magazine/" class="footer-list__link footer-list__link--item">Wire Magazine</a></li>
                                    <li class="footer-list__item"><a href="/en/annual-report/" class="footer-list__link footer-list__link--item">Annual Report 2014/15</a></li>
                                    <li class="footer-list__item"><a href="/en/human-rights-education/" class="footer-list__link footer-list__link--item">Human Rights Education</a></li>
                                    <li class="footer-list__item"><a href="/en/amnesty-on-edx/" class="footer-list__link footer-list__link--item">Amnesty on edX</a></li>
                            </ul>
                    </li>
                </ul>
            </div>

            <div class="footer__col" data-footer-group>
                <ul class="footer-list">
                    <li class="footer-list__item">
                        <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>GET INVOLVED</a>
                            <ul class="footer-list--sub">
                                    <li class="footer-list__item"><a href="/en/get-involved/join/" class="footer-list__link footer-list__link--item">Join</a></li>
                                    <li class="footer-list__item"><a href="/en/get-involved/take-action/" class="footer-list__link footer-list__link--item">Take Action</a></li>
                                    <li class="footer-list__item"><a href="/en/volunteer/" class="footer-list__link footer-list__link--item">Volunteer</a></li>
                            </ul>
                    </li>
                </ul>
            </div>

            <div class="footer__col" data-footer-group>
                <ul class="footer-list">
                    <li class="footer-list__item">
                        <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>LATEST</a>
                            <ul class="footer-list--sub">
                                    <li class="footer-list__item"><a href="/en/latest/news/" class="footer-list__link footer-list__link--item">News</a></li>
                                    <li class="footer-list__item"><a href="/en/latest/campaigns/" class="footer-list__link footer-list__link--item">Campaigns</a></li>
                                    <li class="footer-list__item"><a href="/en/latest/research/" class="footer-list__link footer-list__link--item">Research</a></li>
                            </ul>
                    </li>
                </ul>
            </div>

            <div class="footer__col--1/3 print-hidden" data-footer-group>
                <ul class="footer-list">
                    <li class="footer-list__item">
                        <a href="#" class="footer-list__link footer-list__link--title" data-footer-group-title>WORK WITH US</a>
                        <ul class="footer-list--sub">
                            <li class="footer-list__item">
                                <p class="footer-list__copy">If you are talented and passionate about human rights then Amnesty International wants to hear from you.</p>
                                    <a href="/en/jobs/" class="footer-list__btn">JOBS &amp; INTERNSHIPS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <div class="grid footer__bottom">

            <div class="footer__col--right">
                <ul class="social-list print-hidden">
                        <li class="social-list__item"><a href="https://www.facebook.com/amnestyglobal" class="social-list__link--facebook" data-ga="event,Social,click,facebook">Like us on Facebook</a></li>
                                            <li class="social-list__item"><a href="https://twitter.com/amnestyonline" class="social-list__link--twitter" data-ga="event,Social,click,amnestytwitter">Follow us on Twitter</a></li>
                                            <li class="social-list__item"><a href="https://www.youtube.com/user/AmnestyInternational" class="social-list__link--youtube" data-ga="event,Social,click,youtube">Subscribe to us on YouTube</a></li>
                                            <li class="social-list__item"><a href="https://plus.google.com/+amnesty/posts" class="social-list__link--googleplus" data-ga="event,Social,click,google">Follow us on GooglePlus</a></li>
                                            <li class="social-list__item"><a href="http://instagram.com/amnesty" class="social-list__link--instagram" data-ga="event,Social,click,instagram">Follow us on Instagram</a></li>
                </ul>
            </div>

            <div class="footer__col--left">
                <p class="footer-legal">

                        <a href="/en/about-us/privacy-policy/" class="footer-legal__link">Privacy Policy</a>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="/en/about-us/cookie-statement/" class="footer-legal__link">Cookie Statement</a>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="/en/about-us/terms-and-conditions/" class="footer-legal__link">Terms and Conditions</a>
                </p>
                <p class="footer-copyright">&copy; 2015 Amnesty International</p>
            </div>

        </div>

    </div>
</footer>
