<header class="header " data-header role="banner">
    <div class="header__container" data-header-container>
        <h1 class="logo" data-logo><a class="logo__link" href="/en/">Amnesty International</a></h1>

<div class="nav-overlay" data-nav-overlay></div>
<div class="nav-btn" hidden aria-hidden="true" data-nav-btn>
    <span class="nav-btn__lines"></span> Menu
</div>
<nav class="nav" data-nav role="navigation" aria-expanded="false">
	<h1 class="visually-hidden" id="navigation">Main menu</h1>
		<div class="nav__options">
		    <div class="nav-options__text">
		        Main menu
		    </div>
		    <div class="nav-options__close" data-nav-close>
		        CLOSE
		    </div>
		</div>
		<ul class="nav-list">
				<li class="nav-list__item  ">
					<a class="nav-list__link "  href="/en/who-we-are/">Who We Are</a>
				</li>
				<li class="nav-list__item active-subnav ">
					<a class="nav-list__link is-current"  href="/en/what-we-do/">What We Do</a>
				</li>
				<li class="nav-list__item  ">
					<a class="nav-list__link "  href="/en/countries/">Countries</a>
				</li>
				<li class="nav-list__item  has-subnav">
						<div class="nav-list__subnav-btn" data-subnav-btn></div>
					<a class="nav-list__link "  href="/en/get-involved/">Get Involved</a>
						<div class="nav-list--sub-container">
						    <ul class="nav-list--sub" data-subnav>
						            <li class="nav-list__item--sub">
						                <a class="nav-list__link--secondary " href="/en/get-involved/take-action/">Take Action</a>
						            </li>
						            <li class="nav-list__item--sub">
						                <a class="nav-list__link--secondary " href="/en/get-involved/join/">Join</a>
						            </li>
						    </ul>
						</div>
				</li>
				<li class="nav-list__item  ">
					<a class="nav-list__link " data-overlay-show="donate" data-ga="pageview,donate" href="/en/donate/">Donate</a>
				</li>
				<li class="nav-list__item  has-subnav">
						<div class="nav-list__subnav-btn" data-subnav-btn></div>
					<a class="nav-list__link "  href="/en/latest/">Latest</a>
						<div class="nav-list--sub-container">
						    <ul class="nav-list--sub" data-subnav>
						            <li class="nav-list__item--sub">
						                <a class="nav-list__link--secondary " href="/en/latest/news/">News</a>
						            </li>
						            <li class="nav-list__item--sub">
						                <a class="nav-list__link--secondary " href="/en/latest/campaigns/">Campaigns</a>
						            </li>
						            <li class="nav-list__item--sub">
						                <a class="nav-list__link--secondary " href="/en/latest/education/">Education</a>
						            </li>
						            <li class="nav-list__item--sub">
						                <a class="nav-list__link--secondary " href="/en/latest/research/">Research</a>
						            </li>
						    </ul>
						</div>
				</li>
		</ul>
</nav>


<div class="lang-btn" hidden aria-hidden="true" data-lang-btn>en</div>
<nav class="lang" data-lang>
	<h1 class="visually-hidden" id="language">Choose language</h1>
		<ul class="lang-list">
					<li class="lang-list__item"><a class="lang-list__link ltr" href="/fr/what-we-do/">fran&#231;ais</a></li>
					<li class="lang-list__item"><a class="lang-list__link ltr" href="/es/what-we-do/">espa&#241;ol</a></li>
					<li class="lang-list__item"><a class="lang-list__link rtl" href="/ar/what-we-do/">العربية</a></li>
		</ul>
</nav>


<div class="search-btn" hidden aria-hidden="true" data-nav-search-btn>Search</div>

<form action="/en/search/" class="nav-search" data-nav-search>
    <div class="nav-search__inner">
        <div class="nav-search__field">
            <input class="nav-search__input" data-nav-search-input placeholder="What are you looking for?" type="text" name="q" />
        </div>
        <button class="nav-search__submit" type="submit" data-nav-search-submit-btn>Search</button>
    </div>
</form>

    </div>
</header>
