<div rel="galleria" style="height:50vh" class="galleria-root galleria-root--preload">
  <img
                                        src="https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1472_42"
                                        data-title="Biandintz eta zaldiak"
                                        data-description="Horses on Bianditz mountain, in Navarre, Spain."
                                        alt=" "
                                        />

  <img
                                        src="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?anchor=topcenter&preset=fixed_1472_42_hi"
                                        data-title="Title 2"
                                        data-description="Description 2"
                                        alt=" "
                                        />


</div>

