---
c-title: Countries
---
<div class="image-header--sunken image-header-sunken-spaced image-header--has-credits-sm">
  <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1224_42, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1039_52, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_839_52, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_639_72, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_479_102, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_345_102, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_345_102_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
  </noscript>
  <div class="image-header__content">
    <h1 class="image-headline__sunken-title"><span class="heading--tape--dark">
        {{c-title}}
      </span></h1>
  </div>
  <span class="credits credits--header credits--sunken-header">&#169;2015</span>
</div>

