<div class="image-header image-header--has-credits-sm">
  <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1224_42, https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1039_52, https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_839_52, https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_639_72, https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_479_102, https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_345_102, https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_345_102_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
  </noscript>
  <div class="video__cover" data-video-cover></div>
  <div class="image-header__content" data-video>
    <div class="image-headline--left image-headline--fill--sm">
      <div class="image-headline__table image-headline__table--sm">
        <div class="image-headline__cell image-headline__cell--bottom--sm">
          <div class="image-headline__aligned">
            <h1 class="image-headline__subtitle--top--sm"><span class="heading--tape">Armed Torture</span></h1>

            <div>
              <a href="//www.youtube.com/watch?v=dkl44sAEC6c" class="btn btn--primary btn--md btn--header-video" data-video-link="//www.youtube.com/embed/dkl44sAEC6c&amp;autoplay=1">Watch video</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="tags--header--md">
      <li class="tags__item--bold"><span class="tags__icon--bold--news">Issue</span></li>
    </ul>
  </div>

  <span class="credits credits--header">&#169;2015</span>
</div>

<script type="text/template" data-video-template>
  <div class="image-header__content--video" data-video>
    <iframe class="video__iframe" src="{{url}}" frameborder="0" allowfullscreen></iframe>
    <button class="video__close" type="button" data-video-close>Close</button>
  </div>
</script>

<div class="container">
  <div class="grid">
    <div class="col col--1/12--md not--sm"></div>
    <div class="col col--5/6--md">
      <div class="col__content">
        <ul class="tags--discrete--md">
          <li class="tags__item--bold--sm"><span class="tags__icon--bold--news">Issue</span></li>
          <li class="tags__item--discrete"><a class="tags__link--discrete--md" href="#" rel="tag">Nigeria</a></li>
          <li class="tags__item--discrete"><a class="tags__link--discrete--md" href="#" rel="tag">Armed Conflict</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
