<div class="key-facts--horizontal">
  <h2 class="key-facts__title">Image</h2>
  <p class="key-facts__intro">The below is a comparison facts and figures component with no images</p>
  <div class="key-facts__grid">

    <div class="key-facts__col--1/4">
      <div class="key-facts__item">
        <picture class="key-facts__figure">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200_hi 2x" media="(min-width: 346px)">
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Heading 1" class="key-facts__img lazyload print-hidden">
        </picture>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 1" class="key-facts__img">
        </noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 1" class="key-facts__img print-shown">
        <div class="key-facts__label">
          <p class="key-facts__heading--sm">Heading 1</p>
          <p class="key-facts__figure-text">Description 1</p>
        </div>
      </div>
    </div>
    <div class="key-facts__col--1/4">
      <div class="key-facts__item">
        <picture class="key-facts__figure">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200_hi 2x" media="(min-width: 346px)">
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Heading 2" class="key-facts__img lazyload print-hidden">
        </picture>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 2" class="key-facts__img">
        </noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 2" class="key-facts__img print-shown">
        <div class="key-facts__label">
          <p class="key-facts__heading--sm">Heading 2</p>
          <p class="key-facts__figure-text">Description 2</p>
        </div>
      </div>
    </div>
    <div class="key-facts__col--1/4">
      <div class="key-facts__item">
        <picture class="key-facts__figure">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200_hi 2x" media="(min-width: 346px)">
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Heading 3" class="key-facts__img lazyload print-hidden">
        </picture>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 3" class="key-facts__img">
        </noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 3" class="key-facts__img print-shown">
        <div class="key-facts__label">
          <p class="key-facts__heading--sm">Heading 3</p>
          <p class="key-facts__figure-text">Description 3</p>
        </div>
      </div>
    </div>
    <div class="key-facts__col--1/4">
      <div class="key-facts__item">
        <picture class="key-facts__figure">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200_hi 2x" media="(min-width: 346px)">
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Heading 4" class="key-facts__img lazyload print-hidden">
        </picture>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 4" class="key-facts__img">
        </noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200" alt="Heading 4" class="key-facts__img print-shown">
        <div class="key-facts__label">
          <p class="key-facts__heading--sm">Heading 4</p>
          <p class="key-facts__figure-text">Description 4</p>
        </div>
      </div>
    </div>
  </div>
</div>

