<div class="key-facts--horizontal">
  <h2 class="key-facts__title">Default</h2>
  <p class="key-facts__intro">The below is a default facts and figures component with no images</p>
  <div class="key-facts__grid">
    <div class="key-facts__col">
      <p class="key-facts__heading">100</p>
      <p class="key-facts__description">Description 1</p>
    </div>
    <div class="key-facts__col">
      <p class="key-facts__heading">50%</p>
      <p class="key-facts__description">Description 2</p>
    </div>
    <div class="key-facts__col">
      <p class="key-facts__heading">19.4</p>
      <p class="key-facts__description">Description 3</p>
    </div>
  </div>
</div>

