<div class="key-facts--horizontal">
  <div class="key-facts__grid">

    <div class="key-facts__col--1/2">
      <div class="key-facts__item key-facts__item--ampersand">
        <p class="key-facts__heading--ampersand">Good news</p>
        <p class="key-facts__description--ampersand">Yara Faris was recently released from detention in Syria following an urgent action campaign from Amnesty.</p>
        <span class="key-facts__progressor--ampersand print-hidden"></span>
      </div>
    </div>
    <div class="key-facts__col--1/2">
      <div class="key-facts__item key-facts__item--ampersand">
        <p class="key-facts__heading--ampersand">Bad news</p>
        <p class="key-facts__description--ampersand">Syria&#39;s 2012 Anti-terrorism Law still stands. Find out more.</p>
      </div>
    </div>
  </div>
</div>

