<div class="container--full-bleed container--highlight">
  <div class="container--wide container--padded-vertical-double">
    <h2 class="heading--main heading--uppercase heading--in-padded">¿Cómo puedo ayudar?</h2>

    <div class="container">
      <div class="grid cta__cols">
        <div class="col col--1/3--md">
          <div class="col__content">
            <h3 class="cta__subtitle">Hazte socio</h3>
            <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
            </picture>
            <noscript>
              &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150" alt="" class="cta__img"&gt;
            </noscript>
            <p class="cta__exlplain">Defiende los derechos humanos. Más de 500.000 personas ya lo están haciendo.</p>
            <a class="visually-hidden" href="">Hazte socio</a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <h3 class="cta__subtitle">Hazte voluntario</h3>
            <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
            </picture>
            <noscript>
              &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150" alt="" class="cta__img"&gt;
            </noscript>
            <p class="cta__exlplain">Tus acciones pueden marcar la diferencia.</p>
            <a class="visually-hidden" href="/en/what-we-do/">¡Actúa!</a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <h3 class="cta__subtitle">Haz una donación</h3>
            <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
            </picture>
            <noscript>
              &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;amp;preset=proportional_150" alt="" class="cta__img"&gt;
            </noscript>
            <p class="cta__exlplain">Con tu ayuda podemos llegar a más gente. Miles de personas te esperan.</p>
            <a class="visually-hidden" href="/en/get-involved/">Dona</a>
          </div>
        </div>
      </div>
      <div class="grid cta__cols--bottom">
        <div class="col col--1/3--md">
          <div class="col__content">
            <a class="cta__button" href="/en/who-we-are/" aria-hidden="true">
              <div class="cta-button__inner">
                Hazte socio
              </div>
            </a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <a class="cta__button" href="/en/what-we-do/" aria-hidden="true">
              <div class="cta-button__inner">
                ¡Actúa!
              </div>
            </a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <a class="cta__button" href="/en/get-involved/" aria-hidden="true">
              <div class="cta-button__inner">
                Haz una donación
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="grid cta__cols">
        <div class="col col--1/3--md">
          <div class="col__content">
            <h3 class="cta__subtitle">Hazte socio</h3>
            <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
            </picture>
            <noscript>
              &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150" alt="" class="cta__img"&gt;
            </noscript>
            <p class="cta__exlplain">Defiende los derechos humanos. Más de 500.000 personas ya lo están haciendo.</p>
            <a class="visually-hidden" href="">Hazte socio</a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <h3 class="cta__subtitle">Hazte voluntario</h3>
            <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
            </picture>
            <noscript>
              &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150" alt="" class="cta__img"&gt;
            </noscript>
            <p class="cta__exlplain">Tus acciones pueden marcar la diferencia.</p>
            <a class="visually-hidden" href="/en/what-we-do/">¡Actúa!</a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <h3 class="cta__subtitle">Haz una donación</h3>
            <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
            </picture>
            <noscript>
              &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;amp;preset=proportional_150" alt="" class="cta__img"&gt;
            </noscript>
            <p class="cta__exlplain">Con tu ayuda podemos llegar a más gente. Miles de personas te esperan.</p>
            <a class="visually-hidden" href="/en/get-involved/">Dona</a>
          </div>
        </div>
      </div>
      <div class="grid cta__cols--bottom">
        <div class="col col--1/3--md">
          <div class="col__content">
            <a class="cta__button" href="/en/who-we-are/" aria-hidden="true">
              <div class="cta-button__inner">
                Hazte socio
              </div>
            </a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <a class="cta__button" href="/en/what-we-do/" aria-hidden="true">
              <div class="cta-button__inner">
                ¡Actúa!
              </div>
            </a>
          </div>
        </div>
        <div class="col col--1/3--md">
          <div class="col__content">
            <a class="cta__button" href="/en/get-involved/" aria-hidden="true">
              <div class="cta-button__inner">
                Haz una donación
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
