<blockquote data-scenario="quote_text" class="quote">
  <div class="quote__text">It is during our darkest moments that we must focus to see the light</div>
  <footer data-scenario="quote_author" class="quote__source">Aristotle Onassis</footer>
</blockquote>

