<div class="recently-added-container">
  <h2 class="heading--sub heading--uppercase heading--in-padded centered--sm">Recently Added</h2>
  <ul class="recently-added">
    <li class="recently-added__item">
      <ul class="tags">
        <li class="tags__item tags__item--close">
          <span class="tags__icon--report">Research</span>
        </li>
      </ul>
      <a href="#" class="recently-added-item__title">Further information: China: Activists remain in detention in China</a>
    </li>
    <li class="recently-added__item">
      <ul class="tags">
        <li class="tags__item tags__item--close">
          <span class="tags__icon--report">Research</span>
        </li>
      </ul>
      <a href="#" class="recently-added-item__title">Singapore: Free 16-year-old prisoner of conscience Amos Yee</a>
    </li>
    <li class="recently-added__item">
      <ul class="tags">
        <li class="tags__item tags__item--close">
          <span class="tags__icon--report">Research</span>
        </li>
      </ul>
      <a href="#" class="recently-added-item__title">Iraq: Sentence completed, but not released</a>
    </li>
  </ul>
</div>

