<div class="grid--bg search-results">
  <article class="search-item--bordered">
    <a class="search-item__content" href="#">
      <ul class="tags">
        <li class="tags__item"><span class="tags__icon--news">Press Release</span></li>
      </ul>
      <p class="tags__item--faux">Iraq</p>
      <time class="search-item__date">8th August 2014</time>
      <h1 class="search-item__title">Lorem ipsum dolar sit amet, consectetur adipiscing.</h1>
    </a>
  </article>

  <article class="search-item">
    <a href="#" class="search-item__link">
      <div class="search-item__image">
        <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_391_228, https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_391_228_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_615_208, https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_615_208_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_321_208, https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_321_208_hi 2x"></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_391_228" alt="" class="responsive__img" />
        </noscript>
        <ul class="tags--bottom">
          <li class="tags__item--solo"><span class="tags__icon--blog">Blog</span></li>
        </ul>
      </div>
      <div class="search-item__content--half">
        <p class="tags__item--faux">Nigeria</p>
        <time class="search-item__date">23rd August 2014</time>
        <h1 class="search-item__title">Ethnic cleansing in East Africa</h1>
      </div>
    </a>
  </article>


  <article class="search-item">
    <a class="search-item__content--bottom" href="#">
      <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
      </noscript>
      <div class="search-item__cell--bottom">
        <ul class="tags--cell">
          <li class="tags__item--solo"><span class="tags__icon--news">Campaign</span></li>
        </ul>
        <h1 class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></h1>
      </div>
    </a>
  </article>

</div>

