<div class="grid">
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--primary btn--sm btn--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary btn--sm btn--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary-alt btn--sm btn--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary-on-black btn--sm btn--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--tertiary btn--sm btn--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <div class="transparent--bg">
      <button class="btn btn--transparent btn--sm btn--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
    </div>
  </div>

  <div class="col--stacked col--1/6--md">
    <button class="btn btn--primary btn--md btn--fullwidth"><span class="en">medium</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary btn--md btn--fullwidth"><span class="en">medium</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary-alt btn--md btn--fullwidth"><span class="en">medium</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary-on-black btn--md btn--fullwidth"><span class="en">medium</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--tertiary btn--md btn--fullwidth"><span class="en">medium</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <div class="transparent--bg">
      <button class="btn btn--transparent btn--md btn--fullwidth"><span class="en">medium</span><span class="ar">صغير</span></button>
    </div>
  </div>

  <div class="col--stacked col--1/6--md">
    <button class="btn btn--primary btn--lg btn--fullwidth"><span class="en">large</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary btn--lg btn--fullwidth"><span class="en">large</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary-alt btn--lg btn--fullwidth"><span class="en">large</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--secondary-on-black btn--lg btn--fullwidth"><span class="en">large</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <button class="btn btn--tertiary btn--lg btn--fullwidth"><span class="en">large</span><span class="ar">صغير</span></button>
  </div>
  <div class="col--stacked col--1/6--md">
    <div class="transparent--bg">
      <button class="btn btn--transparent btn--lg btn--fullwidth"><span class="en">large</span><span class="ar">صغير</span></button>
    </div>
  </div>



</div>


