.alphabet-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  margin-bottom: 1.71429rem;
  margin-top: 1px;
  margin-top: .07143rem;
  padding: 0;
  width: 100%;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

@media screen and (min-width: 40em) {
  .alphabet-list {
    margin-bottom: 47px;
    margin-bottom: 3.42857rem;
  }
}

.alphabet-list__inner {
  left: 0;
  margin-top: -15px;
  margin-top: -1.07143rem;
  position: absolute;
  top: 50%;
  width: 100%;
}

.alphabet-list__item {
  font-size: 21px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  float: left;
  background: #e5e5e5;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  line-height: 1.15;
  padding-bottom: 20%;
  position: relative;
  text-align: center;
  width: 20%;
}

@media screen and (min-width: 24.375em) {
  .alphabet-list__item {
    padding-bottom: 16.66667%;
    width: 16.66667%;
  }
}

@media screen and (min-width: 30em) {
  .alphabet-list__item {
    font-size: 23px;
    font-size: 1.7rem;
    padding-bottom: 12.5%;
    width: 12.5%;
  }
}

@media screen and (min-width: 40em) {
  .alphabet-list__item {
    font-size: 23px;
    font-size: 1.7rem;
    padding-bottom: 11.11111%;
    width: 11.11111%;
  }
}

@media screen and (min-width: 52.5em) {
  .alphabet-list__item {
    font-size: 28px;
    font-size: 2rem;
    padding-bottom: 9.09091%;
    width: 9.09091%;
  }
}

@media screen and (min-width: 65em) {
  .alphabet-list__item {
    padding-bottom: 7.14286%;
    width: 7.14286%;
  }
}

@media screen and (min-width: 79.5em) {
  .alphabet-list__item {
    padding-bottom: 5%;
    width: 5%;
  }
}

.alphabet-list__item--blank, .alphabet-list__item--empty {
  font-size: 21px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  float: left;
  background: #e5e5e5;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  line-height: 1.15;
  padding-bottom: 20%;
  position: relative;
  text-align: center;
  width: 20%;
  background: #e5e5e5;
  color: #b6b6b6;
}

@media screen and (min-width: 24.375em) {
  .alphabet-list__item--blank {
    padding-bottom: 16.66667%;
    width: 16.66667%;
  }
}

@media screen and (min-width: 30em) {
  .alphabet-list__item--blank {
    font-size: 23px;
    font-size: 1.7rem;
    padding-bottom: 12.5%;
    width: 12.5%;
  }
}

@media screen and (min-width: 40em) {
  .alphabet-list__item--blank {
    font-size: 23px;
    font-size: 1.7rem;
    padding-bottom: 11.11111%;
    width: 11.11111%;
  }
}

@media screen and (min-width: 52.5em) {
  .alphabet-list__item--blank {
    font-size: 28px;
    font-size: 2rem;
    padding-bottom: 9.09091%;
    width: 9.09091%;
  }
}

@media screen and (min-width: 65em) {
  .alphabet-list__item--blank {
    padding-bottom: 7.14286%;
    width: 7.14286%;
  }
}

@media screen and (min-width: 79.5em) {
  .alphabet-list__item--blank {
    padding-bottom: 5%;
    width: 5%;
  }
}

@media screen and (min-width: 24.375em) {
  .alphabet-list__item--empty {
    padding-bottom: 16.66667%;
    width: 16.66667%;
  }
}

@media screen and (min-width: 30em) {
  .alphabet-list__item--empty {
    font-size: 23px;
    font-size: 1.7rem;
    padding-bottom: 12.5%;
    width: 12.5%;
  }
}

@media screen and (min-width: 40em) {
  .alphabet-list__item--empty {
    font-size: 23px;
    font-size: 1.7rem;
    padding-bottom: 11.11111%;
    width: 11.11111%;
  }
}

@media screen and (min-width: 52.5em) {
  .alphabet-list__item--empty {
    font-size: 28px;
    font-size: 2rem;
    padding-bottom: 9.09091%;
    width: 9.09091%;
  }
}

@media screen and (min-width: 65em) {
  .alphabet-list__item--empty {
    padding-bottom: 7.14286%;
    width: 7.14286%;
  }
}

@media screen and (min-width: 79.5em) {
  .alphabet-list__item--empty {
    padding-bottom: 5%;
    width: 5%;
  }
}

@media screen and (min-width: 30em) {
  .alphabet-list__item--empty {
    display: none;
  }
}

.alphabet-list__link {
  background: 0 0;
  color: #000;
  display: block;
  height: 100%;
  left: 0;
  list-style: none;
  position: absolute;
  text-decoration: none;
  top: 0;
  vertical-align: middle;
  width: 100%;
  &.is-active, &:hover {
    background: #000;
    color: #fff;
    -webkit-transition: background-color .25s,color .25s;
    transition: background-color .25s,color .25s;
  }
}


