.campaign-action-sticky-promo {
  height: rem(70px);
//   height: 5rem;
  position: fixed;
  background-color: #ff0;
  width: 100%;
  z-index: 1;
  bottom: 0;
  display: none;
  .btn-tertiary--sm--fullwidth.container {
    margin-top: rem(10px);
//     margin-top: .71429rem;
    height: rem(37px);
//     height: 2.64286rem;
  }
}

@media screen and (min-width: 30em) {
  .campaign-action-sticky-promo .btn-tertiary--sm--fullwidth.container {
    height: rem(45px);
//     height: 3.21429rem;
  }
}

@media screen and (min-width: 40em) {
  .campaign-action-sticky-promo {
    display: none;
  }
}

.campaign-action-sticky-promo__content {
  width: auto;
  height: 100%;
  float: left;
  padding-left: rem(19px);
//   padding-left: 1.42857rem;
  max-width: 50%;
}

.campaign-action-sticky-promo__content--wide {
  width: auto;
  height: 100%;
  float: left;
  padding-left: rem(19px);
//   padding-left: 1.42857rem;
  max-width: 75%;
}

.campaign-action-sticky-promo__title {
  font-size: rem(23px);
//   font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  font-size: rem(14px);
//   font-size: 1rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 30em) {
  .campaign-action-sticky-promo__title {
    font-size: rem(17px);
//     font-size: 1.28571rem;
  }
}

.campaign-action-sticky-promo__heading {
  font-size: rem(23px);
//   font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: rem(30px);
//   font-size: 2.14286rem;
  padding-right: rem(4px);
//   padding-right: .35714rem;
}

.campaign-action-sticky-promo__close-btn {
  display: none;
  height: rem(22px);
//   height: 1.57143rem;
  width: rem(22px);
//   width: 1.57143rem;
  background: #000;
  position: fixed;
  bottom: rem(70px);
//   bottom: 5rem;
  &:before {
    background-image: url(/images/sprite.png);
    background-image: url(/images/sprite.svg), none;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -12.78571em -15em;
    height: 1.71429em;
    width: 1.71429em;
    margin: rem(5px) rem(4px);
//     margin: .42857rem .35714rem;
    font-size: rem(4px);
//     font-size: .35714rem;
  }
}

.campaign-action-sticky-promo__button {
  width: 33%;
  margin-top: rem(17px);
//   margin-top: 1.28571rem;
  float: right;
  padding-right: rem(19px);
//   padding-right: 1.42857rem;
}

.campaign-action-sticky-promo__button--chevron {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: rem(37px);
//   height: 2.64286rem;
  width: rem(38px);
//   width: 2.71429rem;
  background-color: #000;
  float: right;
  margin-right: rem(19px);
//   margin-right: 1.42857rem;
  &:before {
    background-image: url(/images/sprite.png);
    background-image: url(/images/sprite.svg), none;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -.35714em -11.35714em;
    height: 3.28571em;
    width: 3.57143em;
    font-size: rem(10px);
//     font-size: .78571rem;
  }
}


