.counter {
  padding: rem(24px) 0;
//   padding: 1.71429rem 0;
  margin-bottom: rem(24px);
//   margin-bottom: 1.71429rem;
  background-color: #f7f7f7;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

@media screen and (min-width: 79.5em) {
  .counter {
    padding: rem(24px) rem(124px);
//     padding: 1.71429rem 8.92857rem;
  }
}

.counter-panel {
  text-align: center;
  margin: rem(24px) rem(47px);
//   margin: 1.71429rem 3.42857rem;
}

.counter-panel__heading {
  font-size: rem(23px);
//   font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  &:before {
    @include ai-sprite;
    background-position: -10.64286em -15em;
    height: 1.78571em;
    width: 1.78571em;
    display: block;
    font-size: rem(14px);
//     font-size: 1.01rem;
    margin: 0 auto rem(36px) auto;
//     margin: 0 auto 2.57143rem auto;
  }
}

.counter-panel__number {
  font-size: rem(94px);
//   font-size: 6.71429rem;
  letter-spacing: -6px;
  line-height: 1.2;
  font-family: $f-title;
}

@media screen and (min-width: 40em) {
  .counter-panel__number {
    font-size: rem(103px);
//     font-size: 7.42857rem;
  }
}

.counter-panel__text {
  padding: 0 rem(24px);
//   padding: 0 1.71429rem;
}


