.credits {
  color: #b6b6b6;
  font-style: italic;
}

@media print {
  .credits {
    color: #000;
  }
}

.credits--header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px;
  padding: .85714rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 39.9375em) {
  .credits--header {
    bottom: -38px;
    bottom: -2.71429rem;
    padding-right: 24px;
    padding-right: 1.71429rem;
    text-align: right;
    width: 45%;
    right: 0;
  }
}

@media screen and (min-width: 79.5em) {
  .credits--header {
    padding-right: 126px;
    padding-right: 9rem;
    width: 50%;
  }
}

@media print {
  .credits--header {
    text-align: right;
    margin-top: 25px;
    margin-top: 1.85714rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .credits--sunken-header {
    bottom: -75px;
    bottom: -5.42857rem;
  }
}

.credits--overlay {
  text-align: center;
}

@media screen and (min-width: 39.9375em) {
  .credits--overlay {
    bottom: 0;
    text-align: right;
  }
}


