.donate-overlay {
  max-width: rem(456px);
//   max-width: 32.57143rem;
  text-align: center;
}

@media screen and (min-width: 30em) {
  .donate-overlay {
    margin: 0 auto;
  }
}

.donate-overlay__button {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-decoration: none;
  -webkit-transition: background-color .25s,border-color .25s,color .25s;
  transition: background-color .25s,border-color .25s,color .25s;
  white-space: nowrap;
  background-color: #ff0;
  border: 1px solid #ff0;
  font-size: rem(16px);
//   font-size: 1.143rem;
  padding: rem(14px) rem(24px);
//   padding: 1rem 1.71429rem;
  &:hover {
    background-color: #ffd500;
    border-color: #ffd500;
  }
  &.is-disabled {
    cursor: default;
    opacity: .25;
    &:hover {
      background-color: #ff0;
      border-color: #ff0;
    }
  }
}

.donate-overlay__button--submit {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  -webkit-transition: background-color .25s,border-color .25s,color .25s;
  transition: background-color .25s,border-color .25s,color .25s;
  white-space: nowrap;
  background-color: #ff0;
  border: 1px solid #ff0;
  font-size: rem(16px);
//   font-size: 1.143rem;
  padding: rem(14px) rem(24px);
//   padding: 1rem 1.71429rem;
  display: block;
  margin: rem(24px) 0;
//   margin: 1.71429rem 0;
  &:hover {
    background-color: #ffd500;
    border-color: #ffd500;
  }
  &.is-disabled {
    cursor: default;
    opacity: .25;
    &:hover {
      background-color: #ff0;
      border-color: #ff0;
    }
  }
}

.donate-overlay__next-step {
  display: none;
  line-height: 1.1;
  margin-bottom: 0;
}

.donate-overlay__subtitle {
  font-size: rem(21px);
//   font-size: 1.5rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: rem(24px) auto;
//   margin: 1.71429rem auto;
  max-width: rem(360px);
//   max-width: 25.71429rem;
}


