.follow-us {
  padding: rem(24px);
//   padding: 1.71429rem;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .follow-us {
    padding: 0 rem(24px);
//     padding: 0 1.71429rem;
  }
}

@media screen and (min-width: 65em) {
  .follow-us {
    padding: 0 rem(24px) rem(24px) 0;
//     padding: 0 1.71429rem 1.71429rem 0;
  }
}

@media screen and (min-width: 40em) {
  .follow-us-container {
    height: rem(299px);
//     height: 21.42857rem;
  }
}

.follow-us__heading {
  font-size: rem(23px);
//   font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.follow-us__heading--secondary {
  margin-bottom: rem(8px);
//   margin-bottom: .57143rem;
}

.follow-us__text {
  font-size: rem(21px);
//   font-size: 1.5rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  display: inline-block;
}

@media screen and (min-width: 40em) {
  .follow-us__text {
    margin-top: 0;
  }
}

.follow-us-social-item {
  margin: rem(8px);
//   margin: .57143rem;
  overflow: hidden;
  width: rem(56px);
//   width: 4rem;
  padding: 0;
  font-size: rem(17px);
//   font-size: 1.21429rem;
  &:before {
    display: block;
    margin: rem(14px) rem(16px) rem(10px) rem(16px);
//     margin: 1rem 1.14286rem .78571rem 1.14286rem;
  }
}

@media screen and (min-width: 65em) {
  .follow-us-social-item {
    margin: rem(11px);
//     margin: .85714rem;
  }
}

@media screen and (min-width: 40em) {
  .follow-us__social-buttons {
    margin-bottom: rem(47px);
//     margin-bottom: 3.42857rem;
  }
}

.follow-us__signup-button {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: rem(10px) rem(17px);
//   padding: .71429rem 1.28571rem;
  text-decoration: none;
  -webkit-transition: background-color .25s,border-color .25s,color .25s;
  transition: background-color .25s,border-color .25s,color .25s;
  white-space: nowrap;
  background-color: #ff0;
  border: 1px solid #ff0;
  font-size: rem(16px);
//   font-size: 1.143rem;
  padding: rem(14px) rem(24px);
//   padding: 1rem 1.71429rem;
  margin: 0 auto;
  width: 75%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:hover {
    background-color: #ffd500;
    border-color: #ffd500;
  }
}

@media screen and (min-width: 40em) {
  .follow-us__signup-button {
    width: rem(214px);
//     width: 15.35714rem;
  }
}

.follow-us-social__facebook:before {
  background-image: url(/images/sprite.png);
  background-image: url(/images/sprite.svg), none;
  background-repeat: no-repeat;
  background-size: 20.85714em 20em;
  content: ' ';
  display: inline-block;
  background-position: -13.57143em -13em;
  height: 1.42857em;
  width: 1.42857em;
}

.follow-us-social__twitter:before {
  background-image: url(/images/sprite.png);
  background-image: url(/images/sprite.svg), none;
  background-repeat: no-repeat;
  background-size: 20.85714em 20em;
  content: ' ';
  display: inline-block;
  background-position: -11.78571em -13em;
  height: 1.42857em;
  width: 1.42857em;
}

.follow-us-social__instagram:before {
  background-image: url(/images/sprite.png);
  background-image: url(/images/sprite.svg), none;
  background-repeat: no-repeat;
  background-size: 20.85714em 20em;
  content: ' ';
  display: inline-block;
  background-position: -10em -13em;
  height: 1.42857em;
  width: 1.42857em;
}


