.heading--countries {
  font-size: rem(28px);
  font-weight: 400;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  line-height: 1.1;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .heading--countries {
    font-size: rem(38px);
  }
}

@media screen and (max-width: 39.9375em) {
  .heading--countries {
    margin-bottom: 0;
    padding: 0 rem(24px);
  }
}

.heading--h6 {
  font-size: rem(14px);
  letter-spacing: 0;
  font-weight: 400;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  line-height: 1.1;
}

@media screen and (min-width: 40em) {
  .heading--h6 {
    font-size: rem(21px);
  }
}

.heading--in-padded {
  margin-top: 0;
}

.heading--main {
  font-size: rem(28px);
  font-weight: 400;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  line-height: 1.1;
}

@media screen and (min-width: 40em) {
  .heading--main {
    font-size: rem(38px);
  }
}

.heading--lined {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  margin-bottom: rem(24px);
  margin-left: rem(-24px);
  margin-right: rem(-24px);
  margin-top: rem(24px);
  padding: rem(24px);
}

@media screen and (min-width: 40em) {
  .heading--lined {
    margin: rem(24px) 0;
    padding: rem(24px) 0;
  }
}

.heading--uppercase {
  text-transform: uppercase;
}

.heading--sub, .heading--sub-large {
  font-size: rem(23px);
  font-weight: 400;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  line-height: 1.1;
}

@media screen and (min-width: 40em) {
  .heading--line-top {
    border-top: 1px solid #e5e5e5;
    margin-top: rem(24px);
    padding-top: rem(24px);
  }
}

@media screen and (min-width: 40em) {
  .heading--sub {
    font-size: rem(28px);
  }
}

@media screen and (min-width: 40em) {
  .heading--sub-large {
    font-size: rem(38px);
  }
}

.heading--tape {
  font-size: rem(28px);
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  background-color: #fff;
  box-decoration-break: clone;
  box-shadow: rem(10px) 0 0 #fff, rem(-10px) 0 0 #fff;
  display: inline;
  position: relative;
  line-height: 2.15;
  padding: rem(10px) 0;
  _:-ms-fullscreen {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background: #fff;
    top: 0;
    left: -1px;
  }
}

@media screen and (min-width: 40em) {
  .heading--tape {
    box-shadow: rem(19px) 0 0 #fff, rem(-19px) 0 0 #fff;
    font-size: rem(49px);
    line-height: 1.825;
  }
}

@media screen and (min-width: 65em) {
  .heading--tape {
    font-size: rem(59px);
    line-height: 1.7;
  }
}

@media print {
  .heading--tape {
    -webkit-filter: blur(0);
  }
}

:root .heading--tape:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background: #fff;
  top: 0;
  left: -1px;
}

.heading--tape _:-ms-fullscreen, :root .heading--tape:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background: #fff;
  top: 0;
  right: -1px;
}

.heading--tape--dark {
  font-size: rem(28px);
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  box-decoration-break: clone;
  display: inline;
  position: relative;
  line-height: 2.15;
  padding: rem(10px) 0;
  background-color: #000;
  box-shadow: rem(10px) 0 0 #000, rem(-10px) 0 0 #000;
  color: #fff;
  _:-ms-fullscreen {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background: #000;
    top: 0;
    left: -1px;
  }
}

@media screen and (min-width: 40em) {
  .heading--tape--dark {
    box-shadow: rem(19px) 0 0 #fff, rem(-19px) 0 0 #fff;
    font-size: rem(49px);
    line-height: 1.825;
  }
}

@media screen and (min-width: 65em) {
  .heading--tape--dark {
    font-size: rem(59px);
    line-height: 1.7;
  }
}

@media print {
  .heading--tape--dark {
    -webkit-filter: blur(0);
  }
}

:root .heading--tape--dark:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background: #000;
  top: 0;
  left: -1px;
}

.heading--tape--dark _:-ms-fullscreen, :root .heading--tape--dark:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background: #000;
  top: 0;
  right: -1px;
}

@media screen and (min-width: 40em) {
  .heading--tape--dark {
    box-shadow: rem(19px) 0 0 #000, rem(-19px) 0 0 #000;
  }
}

.heading--tape--mid {
  font-size: rem(28px);
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  box-decoration-break: clone;
  display: inline;
  position: relative;
  line-height: 2.15;
  padding: rem(10px) 0;
  background-color: #dadada;
  box-shadow: rem(10px) 0 0 #dadada, rem(-10px) 0 0 #dadada;
  _:-ms-fullscreen {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background: #dadada;
    top: 0;
    left: -1px;
  }
}

@media screen and (min-width: 40em) {
  .heading--tape--mid {
    box-shadow: rem(19px) 0 0 #fff, rem(-19px) 0 0 #fff;
    font-size: rem(49px);
    line-height: 1.825;
  }
}

@media screen and (min-width: 65em) {
  .heading--tape--mid {
    font-size: rem(59px);
    line-height: 1.7;
  }
}

@media print {
  .heading--tape--mid {
    -webkit-filter: blur(0);
  }
}

:root .heading--tape--mid:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background: #dadada;
  top: 0;
  left: -1px;
}

.heading--tape--mid _:-ms-fullscreen, :root .heading--tape--mid:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background: #dadada;
  top: 0;
  right: -1px;
}

@media screen and (min-width: 40em) {
  .heading--tape--mid {
    box-shadow: rem(19px) 0 0 #dadada, rem(-19px) 0 0 #dadada;
  }
}

.heading--tape--small {
  font-size: rem(23px);
  font-weight: 400;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  background-color: #fff;
  box-decoration-break: clone;
  box-shadow: rem(8px) 0 0 #fff, rem(-8px) 0 0 #fff;
  display: inline;
  line-height: 1.6;
  padding: rem(3px) 0;
}
