// Selector depthness is combined with Bem elements which
// should be a no-no.
// As it is an inherited element and not clear if it will be used
// we mute the alerts by now but no further development should be done
// without correcting this.
// scss-lint:disable SelectorDepth
.image-headline,
.image-headline--left,
.image-headline--right {
  bottom: 0;
  position: absolute;
  text-align: center;
}

@media screen and (max-width: 39.9375em) {
  .image-headline {
    width: 100%;
    left: 0;
  }
}

@media screen and (min-width: 40em) {
  .image-headline {
    text-align: inherit;
    top: 0;
  }
}

@media print {
  .image-headline {
    bottom: rem(24px);
//     bottom: 1.71429rem;
    text-align: inherit;
  }
}

@media screen and (max-width: 39.9375em) {
  .image-headline--left, .image-headline--right {
    width: 100%;
    left: 0;
  }
}

@media screen and (min-width: 40em) {
  .image-headline--left, .image-headline--right {
    text-align: inherit;
    top: 0;
  }
}

@media print {
  .image-headline--left, .image-headline--right {
    bottom: rem(24px);
//     bottom: 1.71429rem;
    text-align: inherit;
  }
}

@media screen and (min-width: 40em) {
  .image-headline--left, .image-headline--right {
    left: 8.33333%;
    right: 8.33333%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline--right {
    text-align: right;
  }
}

@media screen and (max-width: 39.9375em) {
  .image-headline--fill--sm {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline--right .image-headline__aligned .btn--video {
    margin-left: rem(-19px);
//     margin-left: -1.42857rem;
  }
  .image-headline--left .image-headline__aligned .btn--video {
    margin-right: rem(-19px);
//     margin-right: -1.42857rem;
  }
}

@media screen and (min-width: 52.5em) {
  .image-headline__aligned {
    width: 65%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__aligned {
    width: 59%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__aligned--tight {
    width: 40%;
  }
}

.image-headline__btn {
  @include btn;
  @include btn--md;
  @include btn--transparent;
  margin: 0 rem(3px) rem(24px) rem(3px);

  @include media($m-ai-large) {
    margin: 0 rem(3px);
  }
}

.image-headline__btn--primary {
  @include btn--primary;
}

.image-headline__cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 39.9375em) {
  .image-headline__cell--bottom--sm {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
  }
}

.image-headline__copy {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: rem(11px);
//   font-size: .85714rem;
  line-height: 1.85;
  margin: 0 rem(24px);
//   margin: 0 1.71429rem;
  padding: rem(10px) rem(24px);
//   padding: .71429rem 1.71429rem;
  position: relative;
  font-weight: 700;
}

@media screen and (min-width: 40em) {
  .image-headline__copy {
    -webkit-font-smoothing: antialiased;
    font-size: rem(14px);
//     font-size: 1rem;
    margin: 0;
    max-width: 50%;
    padding: rem(19px) rem(24px);
//     padding: 1.42857rem 1.71429rem;
  }
  .image-headline__aligned .image-headline__copy {
    max-width: 70%;
  }
}

@media screen and (min-width: 65em) {
  .image-headline__copy {
    max-width: 45%;
  }
}

@media print {
  .image-headline__copy {
    margin-left: 0;
  }
}

.image-headline__table {
  display: table;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 39.9375em) {
  .image-headline__table--sm {
    display: table;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 39.9375em) {
  .image-headline__text {
    border-bottom: 1px solid #dadada;
  }
}

@media print {
  .image-headline__text {
    margin-left: rem(22px);
//     margin-left: 1.57143rem;
  }
}

.image-headline__text--center {
  width: 80%;
  margin: rem(24px) auto;
//   margin: 1.71429rem auto;
}

@media screen and (min-width: 52.5em) {
  .image-headline__text--center {
    width: 70%;
  }
}

@media screen and (min-width: 65em) {
  .image-headline__text--center {
    width: 60%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__text--center {
    width: 50%;
  }
}

.image-headline__subtitle, .image-headline__subtitle--top--sm {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto rem(3px) auto;
//   margin: 0 auto .21429rem auto;
}

@media screen and (max-width: 39.9375em) {
  .image-headline__subtitle {
    padding: 0 rem(24px);
//     padding: 0 1.71429rem;
  }
}

@media screen and (min-width: 30em) {
  .image-headline__subtitle {
    width: 85%;
  }
  .image-headline__aligned .image-headline__subtitle {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline__subtitle {
    margin: 0 rem(19px) rem(4px) rem(19px);
//     margin: 0 1.42857rem .35714rem 1.42857rem;
  }
  .image-headline--right .image-headline__subtitle {
    margin-left: auto;
  }
  .image-headline--left .image-headline__subtitle {
    margin-right: auto;
  }
  .image-headline--right .image-headline__aligned .image-headline__subtitle {
    right: 20px;
    position: relative;
  }
  .image-headline--left .image-headline__aligned .image-headline__subtitle {
    margin-right: rem(19px);
//     margin-right: 1.42857rem;
  }
}

@media screen and (min-width: 52.5em) {
  .image-headline__subtitle {
    width: 65%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__subtitle {
    width: 59%;
  }
}

@media print {
  .image-headline__subtitle {
    margin-left: rem(31px);
//     margin-left: 2.28571rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .image-headline__subtitle--top--sm {
    padding: 0 rem(24px);
//     padding: 0 1.71429rem;
  }
}

@media screen and (min-width: 30em) {
  .image-headline__subtitle--top--sm {
    width: 85%;
  }
  .image-headline__aligned .image-headline__subtitle--top--sm {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline__subtitle--top--sm {
    margin: 0 rem(19px) rem(4px) rem(19px);
//     margin: 0 1.42857rem .35714rem 1.42857rem;
  }
  .image-headline--right .image-headline__subtitle--top--sm {
    margin-left: auto;
  }
  .image-headline--left .image-headline__subtitle--top--sm {
    margin-right: auto;
  }
  .image-headline--right .image-headline__aligned .image-headline__subtitle--top--sm {
    right: 20px;
    position: relative;
  }
  .image-headline--left .image-headline__aligned .image-headline__subtitle--top--sm {
    margin-right: rem(19px);
//     margin-right: 1.42857rem;
  }
}

@media screen and (min-width: 52.5em) {
  .image-headline__subtitle--top--sm {
    width: 65%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__subtitle--top--sm {
    width: 59%;
  }
}

@media screen and (max-width: 39.9375em) {
  .image-headline__subtitle--top--sm {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    top: rem(19px);
//     top: 1.42857rem;
    width: 100%;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.9375em) {
  .image-headline__subtitle--top--sm {
    width: 100%;
  }
}

.image-headline__subtitle--sm {
  font-size: rem(28px);
//   font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 0;
}

@media screen and (min-width: 40em) {
  .image-headline__subtitle--sm {
    font-size: rem(38px);
//     font-size: 2.75rem;
  }
}

.image-headline__lead--sm {
  font-size: rem(18px);
  margin: rem(24px) auto;
  font-weight: 400;
  line-height: 1.1;
}

@media screen and (min-width: 40em) {
  .image-headline__lead--sm {
    font-size: rem(28px);
  }
}

.image-headline__subtitle--no-tape {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto rem(3px) auto;
//   margin: 0 auto .21429rem auto;
  font-size: rem(38px);
//   font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  color: #fff;
}

@media screen and (max-width: 39.9375em) {
  .image-headline__subtitle--no-tape {
    padding: 0 rem(24px);
//     padding: 0 1.71429rem;
  }
}

@media screen and (min-width: 30em) {
  .image-headline__subtitle--no-tape {
    width: 85%;
  }
  .image-headline__aligned .image-headline__subtitle--no-tape {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline__subtitle--no-tape {
    margin: 0 rem(19px) rem(4px) rem(19px);
//     margin: 0 1.42857rem .35714rem 1.42857rem;
  }
  .image-headline--right .image-headline__subtitle--no-tape {
    margin-left: auto;
  }
  .image-headline--left .image-headline__subtitle--no-tape {
    margin-right: auto;
  }
  .image-headline--right .image-headline__aligned .image-headline__subtitle--no-tape {
    right: 20px;
    position: relative;
  }
  .image-headline--left .image-headline__aligned .image-headline__subtitle--no-tape {
    margin-right: rem(19px);
//     margin-right: 1.42857rem;
  }
}

@media screen and (min-width: 52.5em) {
  .image-headline__subtitle--no-tape {
    width: 65%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__subtitle--no-tape {
    width: 59%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline__subtitle--no-tape {
    font-size: rem(49px);
//     font-size: 3.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 65em) {
  .image-headline__subtitle--no-tape {
    font-size: rem(59px);
//     font-size: 4.28571rem;
  }
}

@media print {
  .image-headline__subtitle--no-tape {
    color: #000;
  }
}

.image-headline__title {
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: #fff;
  display: inline-block;
  line-height: .9;
  margin: 0 0 rem(2px) 0;
//   margin: 0 0 .14286rem 0;
  padding: rem(10px);
//   padding: .71429rem;
  white-space: nowrap;
}

@media screen and (min-width: 40em) {
  .image-headline__title {
    font-size: rem(21px);
//     font-size: 1.5rem;
    margin: 0 0 rem(4px) 0;
//     margin: 0 0 .35714rem 0;
  }
}

.image-headline__sunken-title {
  bottom: rem(-35px);
//   bottom: -2.5rem;
  margin: 0;
  position: absolute;
}

@media screen and (max-width: 39.9375em) {
  .image-headline__sunken-title {
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline__sunken-title {
    bottom: rem(-47px);
//     bottom: -3.375rem;
    margin-left: 8.33333%;
    padding-left: rem(19px);
//     padding-left: 1.42857rem;
  }
}

@media screen and (min-width: 52.5em) {
  .image-headline__sunken-title {
    width: 65%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__sunken-title {
    width: 59%;
  }
}

@media print {
  .image-headline__sunken-title {
    margin-left: rem(37px);
//     margin-left: 2.64286rem;
  }
}

.image-headline__title--standalone {
  margin: rem(10px) auto;
//   margin: .71429rem auto;
}

@media screen and (max-width: 39.9375em) {
  .image-headline__title--standalone {
    text-align: center;
    width: 80%;
  }
}

@media screen and (min-width: 40em) {
  .image-headline__title--standalone {
    margin-left: 8.33333%;
    margin-right: rem(10px);
//     margin-right: .71429rem;
    margin-top: rem(10px);
//     margin-top: .71429rem;
    padding-left: rem(19px);
//     padding-left: 1.42857rem;
  }
}

@media screen and (min-width: 52.5em) {
  .image-headline__title--standalone {
    width: 65%;
  }
}

@media screen and (min-width: 79.5em) {
  .image-headline__title--standalone {
    width: 59%;
  }
}

.image-headline--full {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  text-align: center;
  @include media($m-ai-large) {
    padding: $s-margin--medium;
    text-align: left;
  }
}

.image-headline {
  &__cell-actua-top-left {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    position: relative;
    padding-top: $s-margin--medium;
    @include media($m-ai-large) {
      padding-top: 0;
      width: 70%;
    }
  }

  &__cell-actua-right {
    display: none;
    @include media($m-ai-large) {
      display: table-cell;
      width: 30%;
      vertical-align: bottom;
    }
  }

  &__testimonio-container {
    background-color: $c-black;
    padding: $s-margin--medium;
  }

  &__testimonio-title {
    color: $c-white;
    font-size: 2.75rem;
    font-weight: 400;
    font-family: $f-title;
    line-height: 1.1;
  }

  &__testimonio-text {
    color: $c-white;
  }

  &__testimonio-container--below {
    padding: $s-margin--medium;
    margin-bottom: $s-margin--medium;
    border-bottom: 5px solid $c-black;
    width: 100%;
    @include media($m-ai-large) {
      display: none;
    }
  }

  &__testimonio-title--below {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: $f-title;
    line-height: 1.1;
  }

  &__testimonio-text--below {
    color: $c-grey--dark;
  }

}



.image-headline__actua-title {
  bottom: rem(-35px);
  margin: 0;
  position: absolute;

  text-align: center;
  width: 100%;

  @include media($m-ai-large) {
    bottom: rem(-47px);
    padding-left: rem(19px);
    width: 65%;
  }

}
