.image-header, .image-header--sunken {
  background-position: 50% 50%;
  background-size: cover;
  background-color: #b6b6b6;
  margin: 0 auto;
  max-width: 1472px;
  overflow: visible;
  position: relative;
}

@media print {
  .image-header {
    margin-bottom: 47px;
    margin-bottom: 3.42857rem;
  }
}

.image-header-sunken-spaced {
  margin-bottom: 31px;
  margin-bottom: 2.28571rem;
}

@media screen and (min-width: 40em) {
  .image-header-sunken-spaced {
    margin-bottom: 44px;
    margin-bottom: 3.14286rem;
  }
}

@media print {
  .image-header-sunken-spaced {
    margin-bottom: 56px;
    margin-bottom: 4rem;
  }
}

.image-header__content {
  margin: 0 auto;
  max-width: 1223px;
  max-width: 87.42857rem;
  padding-top: 102.5%;
  position: relative;
}

@media screen and (min-width: 30em) {
  .image-header__content {
    padding-top: 72.5%;
  }
}

@media screen and (min-width: 40em) {
  .image-header__content {
    padding-top: 52.5%;
  }
}

@media screen and (min-width: 65em) {
  .image-header__content {
    padding-top: 42.5%;
  }
}

@media print {
  .image-header__content {
    padding-top: 30%;
  }
}

.image-header__content--fullwidth {
  margin: 0 auto;
  max-width: 1223px;
  max-width: 87.42857rem;
  padding-top: 102.5%;
  position: relative;
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .image-header__content--fullwidth {
    padding-top: 72.5%;
  }
}

@media screen and (min-width: 40em) {
  .image-header__content--fullwidth {
    padding-top: 52.5%;
  }
}

@media screen and (min-width: 65em) {
  .image-header__content--fullwidth {
    padding-top: 42.5%;
  }
}

@media print {
  .image-header__content--fullwidth {
    padding-top: 30%;
  }
}

.image-header__content--headline {
  margin: 0 auto;
  max-width: 1223px;
  max-width: 87.42857rem;
  padding-top: 102.5%;
  position: relative;
}

@media screen and (min-width: 30em) {
  .image-header__content--headline {
    padding-top: 72.5%;
  }
}

@media screen and (min-width: 40em) {
  .image-header__content--headline {
    padding-top: 52.5%;
  }
}

@media screen and (min-width: 65em) {
  .image-header__content--headline {
    padding-top: 42.5%;
  }
}

@media print {
  .image-header__content--headline {
    padding-top: 45%;
  }
}

.image-header__content--video {
  margin: 0 auto;
  max-width: 1223px;
  max-width: 87.42857rem;
  padding-top: 102.5%;
  position: relative;
  max-width: 1271px;
  max-width: 90.85714rem;
  z-index: 1;
}

@media screen and (min-width: 30em) {
  .image-header__content--video {
    padding-top: 72.5%;
  }
}

@media screen and (min-width: 40em) {
  .image-header__content--video {
    padding-top: 52.5%;
  }
}

@media screen and (min-width: 65em) {
  .image-header__content--video {
    padding-top: 42.5%;
  }
}

@media print {
  .image-header__content--video {
    padding-top: 30%;
  }
}

.image-header__copy {
  color: #fff;
  overflow: hidden;
}

@media screen and (min-width: 40em) {
  .image-header__copy {
    width: 80%;
  }
}

@media screen and (min-width: 52.5em) {
  .image-header__copy {
    width: 65%;
  }
}

@media screen and (min-width: 65em) {
  .image-header__copy {
    width: 50%;
  }
}

@media print {
  .image-header__copy {
    color: #000;
  }
}

@media screen and (max-width: 39.9375em) {
  .image-header--has-credits-sm {
    margin-bottom: 44px;
    margin-bottom: 3.14286rem;
  }
}

.image-header--has-credits {
  margin-bottom: 44px;
  margin-bottom: 3.14286rem;
}

.no-image-header {
  margin: 0 auto;
  max-width: 1223px;
  max-width: 87.42857rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
  padding-top: 1.71429rem;
}

@media screen and (max-width: 39.9375em) {
  .no-image-header {
    display: none;
  }
}

.no-image-header--with-title {
  margin: 0 auto;
  max-width: 1223px;
  max-width: 87.42857rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: -24px;
  margin-bottom: -1.71429rem;
  padding: 11px 24px 0 24px;
  padding: .85714rem 1.71429rem 0 1.71429rem;
}

@media screen and (min-width: 40em) {
  .no-image-header--with-title {
    margin-bottom: 0;
    padding: 11px 0 0 0;
    padding: .85714rem 0 0 0;
  }
}


