.lang {
  right: 1000%;
  opacity: 0;
  position: absolute;
  top: rem(72px);
//   top: 5.14286rem;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
}

@media screen and (min-width: 65em) {
  .lang {
    z-index: 1001;
  }
}

@media screen and (min-width: 30em) {
  .lang {
    max-width: rem(299px);
//     max-width: 21.42857rem;
  }
}

.no-js .lang:hover, .lang.is-active {
  opacity: 1;
  right: 0;
}

.lang-btn {
  border: 0;
  outline: 0;
  padding: 0;
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: #fff;
  cursor: pointer;
  display: table-cell;
  float: right;
  height: 100%;
  line-height: rem(72px);
//   line-height: 5.14286rem;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .25s,color .25s,border-color .25s;
  transition: background-color .25s,color .25s,border-color .25s;
  width: rem(72px);
//   width: 5.14286rem;
  z-index: 2;
  position: absolute;
  right: rem(72px);
//   right: 5.14286rem;
  text-align: center;
  top: 0;
  &:hover {
    background-color: #e5e5e5;
  }
  &:focus {
    outline: 0;
  }
  &.is-active {
    color: #fff;
    background-color: #262626;
    + .lang {
      display: block;
      opacity: 1;
      right: 0;
    }
  }
}

@media screen and (min-width: 64.9375em) {
  .lang-btn {
    z-index: 1002;
  }
}

@media screen and (min-width: 65em) {
  .lang-btn {
    right: 0;
  }
}

@media screen and (max-width: 64.9375em) {
  .lang-btn {
    border-right: 1px solid #e5e5e5;
  }
}

@media screen and (min-width: 79.5em) {
  .lang-btn {
    border-right: 1px solid #e5e5e5;
  }
}

.lang-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

.lang-list__link {
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #000;
  display: block;
  padding: rem(19px) rem(24px);
//   padding: 1.42857rem 1.71429rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .25s,color .25s;
  transition: background-color .25s,color .25s;
  &:hover {
    background-color: #dadada;
  }
}


