.map {
  text-align: center;
}

.map__block {
  background-position: 50% 50%;
  background-size: cover;
  background-color: #b6b6b6;
  margin: 0 auto;
  max-width: 1472px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 47px;
  margin-bottom: 3.42857rem;
}

@media screen and (max-width: 39.9375em) {
  .map__block {
    right: 0;
  }
  .col__content .map__block {
    margin-left: -24px;
    margin-left: -1.71429rem;
    margin-right: -24px;
    margin-right: -1.71429rem;
  }
}

@media print {
  .map__block {
    margin-bottom: 24px;
    margin-bottom: 1.71429rem;
  }
}

@media print {
  .map__block .responsive__img {
    display: none;
  }
}

@media screen and (min-width: 39.9375em) {
  .map__block {
    height: 549px;
    height: 39.28571rem;
  }
}

.map__description {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.map__heading {
  font-size: 28px;
  font-size: 2rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  border-top: 1px solid #dadada;
  margin-bottom: 24px;
  margin-bottom: 1.71429rem;
  padding-left: 24px;
  padding-left: 1.71429rem;
  padding-right: 24px;
  padding-right: 1.71429rem;
  padding-top: 24px;
  padding-top: 1.71429rem;
}

@media screen and (min-width: 40em) {
  .map__heading {
    font-size: 38px;
    font-size: 2.75rem;
  }
}

.map__iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


