.not-found {
  -webkit-font-smoothing: antialiased;
  background: #262626;
  color: #fff;
  display: table;
  min-height: rem(420px);
//   min-height: 30rem;
  text-align: center;
  width: 100%;
}

.not-found__cell {
  display: table-cell;
  padding: rem(24px);
//   padding: 1.71429rem;
  vertical-align: middle;
}

.not-found__heading {
  font-size: rem(38px);
//   font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 0;
}

@media screen and (min-width: 40em) {
  .not-found__heading {
    font-size: rem(49px);
//     font-size: 3.5rem;
  }
}

.not-found__subheading {
  margin: rem(19px) auto;
//   margin: 1.42857rem auto;
  max-width: rem(800px);
//   max-width: 57.14286rem;
}

.not-found__button {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-decoration: none;
  -webkit-transition: background-color .25s,border-color .25s,color .25s;
  transition: background-color .25s,border-color .25s,color .25s;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: rem(18px);
//   font-size: 1.286rem;
  padding: rem(22px) rem(42px);
//   padding: 1.57143rem 3rem;
  margin-top: rem(47px);
//   margin-top: 3.42857rem;
  &:hover {
    background-color: #363636;
  }
}


