.quote {
  border-left: 10px solid #000;
  padding-left: 19px;
  padding-left: 1.42857rem;
}

@media screen and (min-width: 40em) {
  .quote {
    border-left: 15px solid #000;
    padding-left: 47px;
    padding-left: 3.42857rem;
  }
}

@media print {
  .quote {
    border-left-width: 3px;
  }
}

.quote--stacked {
  text-align: center;
  margin-bottom: 47px;
  margin-bottom: 3.42857rem;
}

.quote--stacked--lg {
  text-align: center;
  margin-bottom: 47px;
  margin-bottom: 3.42857rem;
  margin: 0 24px 24px 24px;
  margin: 0 1.71429rem 1.71429rem 1.71429rem;
}

@media screen and (min-width: 40em) {
  .quote--stacked--lg {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media screen and (min-width: 52.5em) {
  .quote--stacked--lg {
    width: 60%;
  }
}

@media screen and (min-width: 65em) {
  .quote--stacked--lg {
    width: 50%;
  }
}

.quote__source {
  color: #b6b6b6;
  padding: 19px 0 0 0;
  padding: 1.42857rem 0 0 0;
  font-family: sans-serif;
}

@media print {
  .quote__source {
    color: #000;
  }
}

.quote__source--stacked {
  font-size: 23px;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  position: relative;
  &:before {
    background-image: url(/images/sprite.png);
    background-image: url(/images/sprite.svg), none;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -2.92857em -15em;
    height: 1.78571em;
    width: 2.21429em;
  }
}

.image-headline__cell .quote__source--stacked:before {
  background-position: -.35714em -15em;
}

@media print {
  .image-headline__cell .quote__source--stacked:before {
    background-position: -2.92857em -15em;
  }
}

.quote__source--stacked:before {
  display: block;
  font-size: 14px;
  font-size: 1rem;
  margin: 0 auto 36px auto;
  margin: 0 auto 2.57143rem auto;
}

.image-headline__cell .quote__source--stacked:before {
  display: block;
}

@media screen and (min-width: 40em) {
  .quote__source--stacked {
    font-size: 28px;
    font-size: 2rem;
  }
}

.quote__text {
  font-size: 23px;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  position: relative;
  &:before {
    position: absolute;
    left: -.6em;
    content: '\201C';
  }
  &:after {
    position: relative;
    left: .25em;
    content: '\201D';
  }
}

@media screen and (min-width: 40em) {
  .quote__text {
    font-size: 38px;
    font-size: 2.75rem;
  }
}

.quote__text--stacked {
  font-size: 38px;
  font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 24px 0;
  margin: 1.71429rem 0;
  &:after {
    background-color: #000;
    content: ' ';
    display: block;
    height: 8px;
    width: 159px;
    width: 11.42857rem;
    margin: 4px auto 0 auto;
    margin: .35714rem auto 0 auto;
  }
}

@media screen and (min-width: 40em) {
  .quote__text--stacked:after {
    width: 190px;
    width: 13.57143rem;
  }
}

@media screen and (min-width: 40em) {
  .quote__text--stacked {
    font-size: 49px;
    font-size: 3.5rem;
  }
}

.quote__text--stacked--lg {
  font-size: 38px;
  font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: TradeGothicLT-BoldCondTwenty,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 24px 0;
  margin: 1.71429rem 0;
  &:after {
    background-color: #000;
    content: ' ';
    display: block;
    height: 8px;
    width: 159px;
    width: 11.42857rem;
    margin: 4px auto 0 auto;
    margin: .35714rem auto 0 auto;
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .quote__text--stacked--lg:after {
    width: 190px;
    width: 13.57143rem;
  }
}

@media screen and (min-width: 40em) {
  .quote__text--stacked--lg {
    font-size: 49px;
    font-size: 3.5rem;
  }
}


