.related-content {
  margin: 0 auto;
  overflow: hidden;

  &__grids {
    margin-left: rem(-10px);
  }
}

@media screen and (min-width: 40em) {
  .related-content {
    margin-bottom: rem(14px);
    padding-top: rem(24px);
  }
}

.related-content__title {
  font-size: rem(28px);
  font-weight: 400;
  font-family: $f-title;
  font-feature-settings: 'kern';
  font-kerning: normal;
  line-height: 1.1;
  border-top: 1px solid #dadada;
  margin-left: rem(-24px);
  margin-right: rem(-24px);
  padding-top: rem(24px);
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 40em) {
  .related-content__title {
    font-size: rem(38px);
  }
}

@media screen and (min-width: 40em) {
  .related-content__title {
    margin-left: 0;
    margin-right: 0;
    padding-top: rem(47px);
  }
}

.related-content__more {
  padding: rem(24px);
}

@media screen and (min-width: 40em) {
  .related-content__more {
    padding: rem(24px) 0;
  }
}


