.search-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: rem(1px);
//   min-height: .07143rem;
  padding-left: rem(10px);
//   padding-left: .71429rem;
  margin-bottom: rem(10px);
//   margin-bottom: .71429rem;
  width: 100%;
  height: rem(415px);
//   height: 29.64286rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  &:hover {
    .search-item__content--half {
      background: #dadada;
      border-bottom-color: #dadada;
    }
    .search-item__image-block {
      opacity: .6;
    }
    .search-item__content--bottom,
    .search-item__content--top,
    .search-item__image {
      background: #1a1a1a;
    }
    .search-item__content--padded {
      background: #b6b6b6;
    }
  }
}

@media screen and (min-width: 40em) {
  .search-item {
    width: 50%;
  }
}

@media screen and (min-width: 52.5em) {
  .search-item {
    height: rem(455px);
//     height: 32.5rem;
    width: 33.33333%;
  }
}

@media screen and (min-width: 65em) {
  .search-item {
    width: 25%;
  }
}

.search-item--1\/2 {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: rem(1px);
//   min-height: .07143rem;
  padding-left: rem(10px);
//   padding-left: .71429rem;
  width: 100%;
  // height: rem(240px);
//   height: 17.14286rem;
  &:hover {
    .search-item__content--half {
      background: #dadada;
      border-bottom-color: #dadada;
    }
    .search-item__image-block {
      opacity: .6;
    }
    .search-item__content--bottom,
    .search-item__content--top,
    .search-item__image {
      background: #1a1a1a;
    }
    .search-item__content--padded {
      background: #b6b6b6;
    }
  }
}

@media screen and (min-width: 40em) {
  .search-item--1\/2 {
    margin-bottom: rem(10px);
//     margin-bottom: .71429rem;
  }
}

@media screen and (min-width: 40em) {
  .search-item--1\/2 {
    width: 50%;
    // height: rem(360px);
//     height: 25.71429rem;
  }
}

.search-item--1\/3 {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: rem(1px);
//   min-height: .07143rem;
  padding-left: rem(10px);
//   padding-left: .71429rem;
  width: 100%;
  height: rem(240px);
//   height: 17.14286rem;
  &:hover {
    .search-item__content--half {
      background: #dadada;
      border-bottom-color: #dadada;
    }
    .search-item__image-block {
      opacity: .6;
    }
    .search-item__content--bottom,
    .search-item__content--top,
    .search-item__image {
      background: #1a1a1a;
    }
    .search-item__content--padded {
      background: #b6b6b6;
    }
  }
}

@media screen and (min-width: 40em) {
  .search-item--1\/3 {
    margin-bottom: rem(10px);
//     margin-bottom: .71429rem;
  }
}

@media screen and (min-width: 52.5em) {
  .search-item--1\/3 {
    height: rem(360px);
//     height: 25.71429rem;
    width: 33.33333%;
  }
}

.search-item--bordered {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: rem(1px);
//   min-height: .07143rem;
  padding-left: rem(10px);
//   padding-left: .71429rem;
  margin-bottom: rem(10px);
//   margin-bottom: .71429rem;
  width: 100%;
  height: rem(415px);
//   height: 29.64286rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  &:hover .search-item__content {
    background: #dadada;
    border-bottom-color: #dadada;
  }
  &:before {
    background-color: #000;
    bottom: rem(11px);
//     bottom: .85714rem;
    content: ' ';
    height: rem(8px);
//     height: .57143rem;
    position: absolute;
    width: 66.66666%;
    left: rem(22px);
//     left: 1.57143rem;
    z-index: 1;
  }
}

@media screen and (min-width: 40em) {
  .search-item--bordered {
    width: 50%;
  }
}

@media screen and (min-width: 52.5em) {
  .search-item--bordered {
    height: rem(455px);
//     height: 32.5rem;
    width: 33.33333%;
  }
}

@media screen and (min-width: 65em) {
  .search-item--bordered {
    width: 25%;
  }
}

.search-item__cell--bottom {
  bottom: rem(11px);
  left: rem(11px);
  position: absolute;
  right: rem(11px);
}

.search-item--1\/2 .search-item__cell--bottom, .search-item--1\/3 .search-item__cell--bottom {
  bottom: rem(24px);
  left: rem(24px);
  right: rem(24px);
}

.search-item__cell--top {
  top: rem(11px);
  left: rem(11px);
  position: absolute;
  right: rem(11px);
}

.search-item--1\/2 .search-item__cell--top, .search-item--1\/3 .search-item__cell--top {
  top: rem(24px);
  left: rem(24px);
  right: rem(24px);
}

.search-item__content {
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  border-bottom: rem(11px) solid #fff;
//   border-bottom: .85714rem solid #fff;
  padding: rem(11px) rem(11px) 0 rem(11px);
//   padding: .85714rem .85714rem 0 .85714rem;
}

.search-item--1\/2 .search-item__content, .search-item--1\/3 .search-item__content {
  border-bottom: 0;
}

.search-item__content--bottom,
.search-item__content--top {
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
}

.search-item--1\/2 .search-item__content--bottom, .search-item--1\/3 .search-item__content--bottom {
  border-bottom: 0;
}

.search-item--1\/2 .search-item__content--top, .search-item--1\/3 .search-item__content--top {
  border-bottom: 0;
}

.search-item__content--half {
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  border-bottom: rem(11px) solid #fff;
//   border-bottom: .85714rem solid #fff;
  padding: rem(11px) rem(11px) 0 rem(11px);
//   padding: .85714rem .85714rem 0 .85714rem;
  height: 50%;
}

.search-item--1\/2 .search-item__content--half, .search-item--1\/3 .search-item__content--half {
  border-bottom: 0;
}

.search-item__content--padded {
  background-color: #e5e5e5;
  padding: rem(24px);
//   padding: 1.71429rem;
}

.search-item__date {
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  display: block;
  margin: rem(24px) 0 0 0;
//   margin: 1.71429rem 0 0 0;
}

.search-item__image {
  background-position: 50%;
  background-size: cover;
  height: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
}

.search-item__image-block {
  -webkit-transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
  transition: background .25s ease-in-out,border-color .25s ease-in-out,opacity .25s ease-in-out;
}

.search-item__content--bottom,
.search-item__content--top,
.search-item__image {
  background: #1a1a1a;
}

@media print {
  .search-item__content--bottom,
  .search-item__content--top,
  .search-item__image {
    background: 0 0;
  }
}

.search-item__btn {
  margin: rem(24px) 0 rem(11px) 0;
//   margin: 1.71429rem 0 .85714rem 0;
}

.search-item__link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
}

.search-item__title {
  font-size: rem(28px);
//   font-size: 2rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: rem(11px) 0 0 0;
//   margin: .85714rem 0 0 0;
}

.search-item__title--tape {
  margin: 0 rem(8px);
//   margin: 0 .57143rem;
  position: relative;
  top: rem(1px);
//   top: .07143rem;
}

.search-item__title--huge {
  font-size: rem(23px);
//   font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  border-left: 10px solid #000;
  padding-left: rem(19px);
//   padding-left: 1.42857rem;
  margin: rem(24px) 0;
//   margin: 1.71429rem 0;
}

@media screen and (min-width: 30em) {
  .search-item__title--huge {
    font-size: rem(38px);
//     font-size: 2.75rem;
  }
}

@media screen and (min-width: 40em) {
  .search-item__title--huge {
    font-size: rem(28px);
//     font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $f-title;
    -webkit-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    -webkit-font-kerning: normal;
    font-kerning: normal;
    line-height: 1.1;
    border-left: 8px solid #000;
    padding-left: rem(24px);
//     padding-left: 1.71429rem;
  }
}

@media screen and (min-width: 65em) {
  .search-item__title--huge {
    font-size: rem(38px);
//     font-size: 2.75rem;
  }
}

.search-item__cell-row {
  @include outer-container;
}

.search-item__cell-col--1\/2 {
  @include span-columns(6);
}

.search-item__action-btn {
  @extend %btn-primary--md;

  &--top-right {
    margin-top: rem(10);
    display: block;
    float: right;
  }
}
