.search-btn {
  border: 0;
  outline: 0;
  padding: 0;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: #fff;
  cursor: pointer;
  float: right;
  height: 100%;
  line-height: rem(72px);
//   line-height: 5.14286rem;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .25s,color .25s,border-color .25s;
  transition: background-color .25s,color .25s,border-color .25s;
  width: rem(72px);
//   width: 5.14286rem;
  z-index: 2;
  border-right: 1px solid #e5e5e5;
  display: block;
  font-size: rem(14px);
//   font-size: 1rem;
  position: absolute;
  right: rem(71px);
//   right: 10.28571rem;
  top: 0;
  border-left: 1px solid #e5e5e5;
  &:hover {
    background-color: #e5e5e5;
  }
  &:focus {
    outline: 0;
  }
  &.is-active {
    background-color: #1a1a1a;
    color: #fff;
  }
  &:before {
    @include ai-sprite;
    margin: rem(24px) auto;
//     margin: 1.71429rem auto;
    padding: rem(1px);
//     padding: .07143rem;
    position: relative;
    top: rem(2px);
//     top: .14286rem;
    display: block;
    background-position: -17.57143em -12.14286em;
    height: 1.28571em;
    width: 1.28571em;
  }
  &.is-active {
    &:before {
      background-position: -.35714em -17.14286em;
      font-size: rem(16px);
//       font-size: 1.14286rem;
    }
    + .nav-search {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 21em) {
  .search-btn {
    display: none;
  }
}

@media screen and (min-width: 64.9375em) {
  .search-btn {
    z-index: 1002;
  }
}

@media screen and (min-width: 65em) {
  .search-btn {
    right: 0;
  }
}
