.search-results {
  padding: 24px 11px 0 11px;
  padding: 1.71429rem .85714rem 0 .85714rem;
}

@media screen and (min-width: 79.5em) {
  .search-results {
    padding: 24px 100px 14px 100px;
    padding: 1.71429rem 7.14286rem 1rem 7.14286rem;
  }
}


