.sort__label {
  display: block;
  margin-left: rem(11px);
//   margin-left: .85714rem;
  margin-bottom: rem(11px);
//   margin-bottom: .85714rem;
  padding: rem(10px);
//   padding: .71429rem;
  text-align: right;
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

@media screen and (min-width: 40em) {
  .sort__label {
    margin-top: rem(17px);
//     margin-top: 1.28571rem;
  }
}

.sort__select {
  margin-right: rem(11px);
//   margin-right: .85714rem;
  margin-bottom: rem(11px);
//   margin-bottom: .85714rem;
  select {
    font-size: rem(14px);
//     font-size: 1rem;
    letter-spacing: 0;
//     letter-spacing: .02rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $f-title;
    -webkit-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    -webkit-font-kerning: normal;
    font-kerning: normal;
    line-height: 1.1;
  }
}

@media screen and (min-width: 40em) {
  .sort__select {
    margin-right: 0;
    margin-top: rem(16px);
//     margin-top: 1.14286rem;
  }
}


