.tweet {
  background-color: #55acee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: rem(24px) auto;
//   margin: 1.71429rem auto;
  padding: rem(24px);
//   padding: 1.71429rem;
  text-align: center;
  &:before {
    background-image: url(/images/sprite.png);
    background-image: url(/images/sprite.svg), none;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -15.35714em -13em;
    height: 1.42857em;
    width: 1.42857em;
    display: block;
    font-size: rem(10px);
//     font-size: .71429rem;
    margin: 0 auto rem(24px) auto;
//     margin: 0 auto 1.71429rem auto;
    padding: rem(1px);
//     padding: .07143rem;
  }
}

@media screen and (min-width: 40em) {
  .tweet {
    max-width: rem(400px);
//     max-width: 28.57143rem;
    padding: rem(24px) rem(47px);
//     padding: 1.71429rem 3.42857rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .tweet {
    margin-left: rem(-24px);
//     margin-left: -1.71429rem;
    margin-right: rem(-24px);
//     margin-right: -1.71429rem;
  }
}

.tweet__cta {
  margin: 0;
}

.tweet__link {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: rem(10px) rem(17px);
//   padding: .71429rem 1.28571rem;
  text-decoration: none;
  -webkit-transition: background-color .25s,border-color .25s,color .25s;
  transition: background-color .25s,border-color .25s,color .25s;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #000;
  font-size: rem(16px);
//   font-size: 1.143rem;
  padding: rem(14px) rem(24px);
//   padding: 1rem 1.71429rem;
  margin: rem(24px) 0 0 0;
//   margin: 1.71429rem 0 0 0;
  &:hover {
    background-color: #dadada;
  }
}

.tweet__quote {
  font-size: rem(23px);
//   font-size: 1.7rem;
  font-weight: 400;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  color: #fff;
  margin: 0;
  position: relative;
  &:after {
    content: '\201D';
    left: rem(3px);
//     left: .25rem;
    position: relative;
  }
  &:before {
    content: '\201C';
    position: relative;
    right: rem(3px);
//     right: .25rem;
  }
}

.tweet--alt {
  background: 0 0;
  margin: 0;
  padding: 0;
  &:before {
    content: none;
  }
  .tweet__heading {
    font-size: rem(23px);
//     font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $f-title;
    -webkit-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    -webkit-font-kerning: normal;
    font-kerning: normal;
    line-height: 1.1;
    margin: 0;
  }
  .tweet__icon:before {
    background-image: url(/images/sprite.png);
    background-image: url(/images/sprite.svg), none;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: block;
    background-position: -14.85714em -15em;
    height: 1.42857em;
    width: 1.42857em;
    font-size: rem(36px);
//     font-size: 2.57143rem;
    display: block;
    margin: rem(22px) auto rem(42px) auto;
//     margin: 1.57143rem auto 3rem auto;
  }
  .tweet__quote {
    color: #000;
    padding-bottom: rem(24px);
//     padding-bottom: 1.71429rem;
    padding-top: 0;
    &:after {
      left: rem(-5px);
//       left: -.42857rem;
    }
    &:before {
      right: rem(-5px);
//       right: -.42857rem;
    }
  }
  .tweet__link {
    background: #55acee;
    color: #fff;
    border: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
    margin: 0;
    width: 68%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:active, &:hover {
      background: #55b9ee;
    }
  }
}

@media screen and (min-width: 40em) {
  .tweet--alt {
    max-width: 100%;
    padding: rem(24px);
//     padding: 1.71429rem;
  }
}

@media screen and (min-width: 65em) {
  .tweet--alt .tweet-container {
    height: rem(299px);
//     height: 21.42857rem;
  }
}

@media screen and (min-width: 40em) {
  .tweet--alt .tweet__link {
    width: rem(214px);
//     width: 15.35714rem;
  }
}

