.video {
  position: relative;
}

.video__close {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  background-color: #000;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: block;
  font-size: rem(19px);
//   font-size: 1.42857rem;
  height: rem(72px);
//   height: 5.14286rem;
  line-height: rem(72px);
//   line-height: 5.14286rem;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color .25s,opacity .25s;
  transition: background-color .25s,opacity .25s;
  width: rem(72px);
//   width: 5.14286rem;
  z-index: 1;
  &:before {
    background-image: url(/images/sprite.png);
    background-image: url(/images/sprite.svg), none;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -.35714em -17.14286em;
    height: 1.14286em;
    width: 1.14286em;
    display: block;
    margin: rem(22px) auto;
//     margin: 1.57143rem auto;
    padding: rem(1px);
//     padding: .07143rem;
  }
}

.video__cover {
  background: #b6b6b6;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  z-index: 1;
  &.is-visible {
    display: block;
    opacity: 1;
    ~ .credits {
      display: none;
    }
  }
}

.video__iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


