@media screen and (min-width: 24.375em) {
  .video-share {
    padding: 0 24px;
    padding: 0 1.71429rem;
  }
}

.video-share {
  text-align: center;
  margin-bottom: 24px;
  margin-bottom: 1.71429rem;
}

@media screen and (min-width: 40em) {
  .video-share-container {
    height: 299px;
    height: 21.42857rem;
  }
}

.video-share__heading {
  font-size: 23px;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
}

.video-share__video {
  margin: 0 auto 24px auto;
  margin: 0 auto 1.71429rem auto;
  position: relative;
  width: 90%;
  padding-top: 50%;
}

@media screen and (min-width: 40em) {
  .video-share__video {
    padding-top: 36%;
    width: 64%;
  }
}

@media screen and (min-width: 65em) {
  .video-share__video {
    padding-top: 40%;
    width: 70%;
  }
}

.video-share__content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.video-share__cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.video-share__button {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  background-color: #3A5795;
  border: 0;
  &:active, &:hover {
    background: #3a5f95;
  }
}

@media screen and (min-width: 40em) {
  .video-share__button {
    width: 214px;
    width: 15.35714rem;
  }
}

.video-share__link-cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: 0 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  opacity: .65;
  &:before {
    background-image: url(/images/sprite.png);
    background-image: url(/images/sprite.svg), none;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -17.57143em -.35714em;
    height: 1.42857em;
    width: 1.42857em;
    font-size: 67px;
    font-size: 4.85714rem;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  &:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 40em) {
  .video-share__link-cover:before {
    font-size: 36px;
    font-size: 2.57143rem;
  }
}


