---
title: 'India: Condenadas a ser violadas y desfilar desnudas'
layout: widget-interstitial
header:
c-title: 'India: Condenadas a ser violadas y desfilar desnudas'
---
<h1 class="ai-page-title">{{title}}</h1>

<div class="container--wide">
    <div class="ai-accion-2col">
        <div class="ai-accion-2col__col1">

            <div class="ai-accion-firma-content">
                <img class="lazyload" data-srcset="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1472_42" />
                <div class="credits">Pie de foto</div>
            </div>

            <p class="h5">
                Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi.
            </p>

            <div class="ai-accion-firma-interstitial-actions">
                    <a class="ai-accion-firma-interstitial-actions__mas-info" target="_parent">
                        Ver más información...
                    </a>
                <a href="javascript:window.parent.$('.ai-interstitial').remove();" class="ai-accion-firma-interstitial-actions__cerrar" data-ai-interstitial-close-btn>
                    Cerrar y ver la web
                </a>
            </div>


        </div>
        <div class="ai-accion-2col__col2">

            <div class="ai-accion-firma" id="ai-accion-firma">
                <div class="ai-accion-firma__head">
                    <div class="ai-accion-firma__head-title">
                        <span class="ai-accion-firma__head-title-text">Firma la petición</span>
                    </div>
                    <div class="ai-accion-firma__head-target">
                        Ayúdanos a llegar a <span class="ai-accion-firma__head-target-number">100.000</span>
                    </div>
                </div>

                <div class="ai-accion-firma__bar">
                    <div class="ai-accion-firma__bar-progress" data-ai-firmas="45695" data-ai-max-firmas="100000"></div>
                    <div class="ai-accion-firma__bar-caption">45.695 firmas</div>
                </div>
                <div class="ai-accion-firma__text">
                    Firma y enviaremos esta petición en tu nombre a los líderes de los grupos parlamentarios del Parlamento Europeo.
                </div>
                <form class="ai-accion-firma__formrapido ai-accion-firma__form">
                    <div class="ai-accion-firma__importanttext">
                        Si ya has firmado alguna acción antes, rellena sólo tu email:
                    </div>
                    <input class="ai-accion-firma__input ai-accion-firma__input--email" placeholder="Email *" />
                    <input type="submit" class="ai-accion-firma__button" value="Envía tu firma" />
                    <a class="ai-accion-firma__button-primera" href="javascript:">
                        Es la primera vez que actúo
                        <i class="ai-accion-firma__arrow"></i>
                    </a>
                </form>
                <form class="ai-accion-firma__formcompleto ai-accion-firma__form" style="display:none">
                    <div class="ai-accion-firma__importanttext">
                        ¿Es la primera vez que firmas? Completa el siguiente formulario:
                    </div>
                    <input class="ai-accion-firma__input ai-accion-firma__input--nombre" placeholder="Nombre *" id="nombre"/>
                    <input class="ai-accion-firma__input ai-accion-firma__input--apellido1" placeholder="Apellidos *" />
                    <input class="ai-accion-firma__input ai-accion-firma__input--email" placeholder="Email *" />
                    <input class="ai-accion-firma__input ai-accion-firma__input--telefono" placeholder="Teléfono (sólo españa)" />
                    <select class="ai-accion-firma__input ai-accion-firma__input--pais">
                        <option value="0">---</option>
                        <option value="ESP">España</option>
                        <option value="XXX">Otro</option>
                    </select>
                    <select class="ai-accion-firma__input ai-accion-firma__input--provincia" disabled>
                        <option value="0">Provincia (sólo España)</option>
                        <option>---</option>
                    </select>
                    <input class="ai-accion-firma__input ai-accion-firma__input--dni" placeholder="Número de documento de identidad" / disabled>
                    <label class="ai-accion-firma__check">
                        <input type="checkbox" class=" ai-accion-firma__input--acepto" />
                        Deseo recibir más información de Amnistía Internacional
                    </label>
                    <input type="submit" class="ai-accion-firma__button" value="Envía tu firma" />
                </form>
                <div class="ai-accion-firma__text">
                    Al participar en esta acción aceptas la <a href="">política de privacidad</a>
                </div>
            </div>

        </div>
    </div>

</div>

