---
title: Acción
layout: default
header:
  c-title: 'India: Condenadas a ser violadas y desfilar desnudas'
---
{{partial 'image-header--content' header}}

<div class="ai-c">
  <div class="grid">
    <div class="col col--1/12--md not--sm"></div>
    <div class="col col--5/6--md">
      <div class="col__content">
        <h3 class="h1 ltr">India: Condenadas a ser violadas y desfilar desnudas</h3>
      </div>
    </div>
  </div>

  <div class="ai-accion-2col">
    <div class="ai-accion-2col__col1">

      <div class="ai-accion-firma-content">
        {{partial 'mock-image-1'}}
      </div>

      <p class="meta">
      Iniciada el 31 de diciembre de 2011.<br />
      Actualizada el 31 de diciembre de 2012.
      </p>
      <p class="entradilla">
      Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi.
      </p>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas pulvinar tellus, at blandit est vulputate eu. Integer commodo gravida elit eu venenatis. Nam enim quam, accumsan ut bibendum non, blandit nec risus. Proin eleifend faucibus laoreet. Praesent ut risus nec orci dignissim fringilla et eu risus. Phasellus eu est scelerisque arcu sagittis molestie vitae quis elit. Vivamus vitae volutpat dui. Nulla elementum eros lectus, bibendum condimentum eros aliquet euismod. Morbi ut rhoncus magna, at aliquet ante. Nunc facilisis suscipit iaculis. Donec ultrices dignissim nisi id blandit. Vivamus molestie nec velit et pulvinar. Nulla vel purus tincidunt, semper felis eget, euismod odio.
      <br />

      In mattis lacinia lorem ut accumsan. Quisque laoreet nunc vel turpis commodo placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin commodo ullamcorper est, vitae adipiscing purus sagittis id. Aliquam erat volutpat. Praesent vitae venenatis quam. Etiam a commodo sapien, in mattis elit. Donec vestibulum fermentum metus, sed commodo ante. Morbi sed velit odio.
      <br />
      Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi. Phasellus bibendum leo a lobortis eleifend. Aliquam fermentum a urna sit amet posuere. Nam sit amet erat rhoncus, ornare magna sit amet, euismod dui. Aenean in aliquam sem, sed rhoncus turpis.
      <br />
      Nam id sollicitudin urna. Morbi imperdiet purus id elit sagittis accumsan. Mauris quis metus in metus lobortis euismod. Praesent nec metus mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis tortor mauris, pellentesque non tristique sit amet, dictum eget mi. Integer quis ligula vel risus dignissim fringilla. Nam imperdiet luctus adipiscing. Suspendisse potenti. Nam at odio eu ante accumsan dapibus eu id velit. Nunc interdum magna sem, a scelerisque est viverra quis. Nam ornare gravida tristique. Nullam convallis sapien et facilisis hendrerit. Donec tristique mi eu orci vehicula, vel porta augue porta.
      </p>


      <div class="ai-accion-firma-interstitial-actions">
        <a href="" class="ai-accion-firma-interstitial-actions__mas-info">
          Ver más información...
        </a>
        <a href="javascript:" class="ai-accion-firma-interstitial-actions__cerrar">
          Cerrar y ver la web
        </a>
      </div>


    </div>
    <div class="ai-accion-2col__col2">

      <div class="ai-accion-firma">
        <div class="ai-accion-firma__head">
          <div class="ai-accion-firma__head-title">
            <span class="ai-accion-firma__head-title-text">Firma la petición</span>
          </div>
          <div class="ai-accion-firma__head-target">
            Ayúdanos a llegar a <span class="ai-accion-firma__head-target-number">100.000</span>
          </div>
        </div>

        <div class="ai-accion-firma__bar">
          <div class="ai-accion-firma__bar-progress"></div>
          <div class="ai-accion-firma__bar-caption">45.695 firmas</div>
        </div>
        <script>
document.getElementsByClassName('ai-accion-firma__bar-progress')[0].style.width = '80%';
        </script>
        <div class="ai-accion-firma__text">
          Firma y enviaremos <a href="#carta0" class="ai-lightbox--inline">esta petición</a> en tu nombre a los líderes de los grupos parlamentarios del Parlamento Europeo.
        </div>
        <form class="ai-accion-firma__formrapido ai-accion-firma__form">
          <div class="ai-accion-firma__importanttext">
            Si ya has firmado alguna acción antes, rellena sólo tu email:
          </div>
          <input class="ai-accion-firma__input ai-accion-firma__input--email" placeholder="Email *" />
          <input type="submit" class="ai-accion-firma__button" value="Envía tu firma" />
          <a class="ai-accion-firma__button-primera" href="javascript:">
            Es la primera vez que actúo
            <i class="ai-accion-firma__arrow"></i>
          </a>
        </form>
        <form class="ai-accion-firma__formcompleto ai-accion-firma__form" style="display:none">
          <div class="ai-accion-firma__importanttext">
            ¿Es la primera vez que firmas? Completa el siguiente formulario:
          </div>
          <div class="ai-accion-firma__warning">
            ¡Ups! No te encontramos en nuestra base de datos. Completa el formulario y deja marcada la casilla de recibir información para que tus datos queden guardados para la próxima vez.
          </div>
          <input class="ai-accion-firma__input ai-accion-firma__input--nombre" placeholder="Nombre *" id="nombre"/>
          <input class="ai-accion-firma__input ai-accion-firma__input--apellido1" placeholder="Apellidos *" />
          <input class="ai-accion-firma__input ai-accion-firma__input--email" placeholder="Email *" />
          <input class="ai-accion-firma__input ai-accion-firma__input--telefono" placeholder="Teléfono (sólo españa)" />
          <select class="ai-accion-firma__input ai-accion-firma__input--pais">
            <option value="0">---</option>
            <option value="ESP">España</option>
            <option value="XXX">Otro</option>
          </select>
          <select class="ai-accion-firma__input ai-accion-firma__input--provincia" disabled>
            <option value="0">Provincia (sólo España)</option>
            <option>---</option>
          </select>
          <input class="ai-accion-firma__input ai-accion-firma__input--dni" placeholder="Número de documento de identidad" / disabled>
          <label class="ai-accion-firma__check">
            <input type="checkbox" class=" ai-accion-firma__input--acepto" />
            Deseo recibir más información de Amnistía Internacional
          </label>
          <input type="submit" class="ai-accion-firma__button" value="Envía tu firma" />
        </form>
        <div class="ai-accion-firma__text">
          Al participar en esta acción aceptas la <a href="">política de privacidad</a>
        </div>
      </div>

      <div class="mas_informacion">
        <div class="caja_contenido">
          <div class="titular bandagris"><h3>Más información</h3></div>
          <ul><li><a href="https://www.ai.dev/actua/acciones/arabia-saudi-raif-badawi-latigazos-ene15/banners/" title="Coloca un banner en tu blog o web"><span class="arrow">›</span>Coloca un banner en tu blog o web</a></li></ul>
        </div>
      </div>



    </div>

  </div>

  <hr />

  <div class="ai-accion-2col">
    <div class="ai-accion-2col__col1">
      <div class="ai-accion-firma-content">
        {{partial 'mock-image-1'}}
      </div>

      <div class="ai-accion-firma-compartir">
        <h4 class="ai-accion-firma-compartir__header">¿Nos ayudas a conseguir más firmas?</h4>
        <a class="ai-accion-firma-compartir__facebook" href="javascript:" data-ai-share-title="Acabo de realizar una acción para Amnistía Internacional. ¿Quieres unirte y luchar por esta causa?" data-ai-share-summary-html="#text_facebook">
          Compartir en <span class="ai-accion-firma-compartir__facebook-icon"></span><span class="sr-only">Facebook</span>
        </a>
        <a class="ai-accion-firma-compartir__twitter" href="javascript:" data-ai-share-summary-html="#text_twitter">
          Compartir en <span class="ai-accion-firma-compartir__twitter-icon"></span><span class="sr-only">Twitter</span>
        </a>
      </div>

      <script type="ai/text" id="text_twitter">{accion.parentPage.user_aiogimage_twitter} vía @amnistiaespana</script>
      <script type="ai/text" id="text_facebook">{accion.parentPage.user_aiogimage_title} {accion.parentPage.user_aiogimage_description}</script>

    </div>
    <div class="ai-accion-2col__col2">

      <div class="ai-accion-firma">
        <div class="ai-accion-firma__head">
          <div class="ai-accion-firma__head-title">
            <span class="ai-accion-firma__head-title-text">¡Gracias por firmar!</span>
          </div>
        </div>

        <div class="ai-accion-firma__firmantes">
          Ya somos 45.695 firmantes
        </div>
        <div class="ai-accion-firma__text">
          Cuantos más seamos, mayor capacidad de presión tendremos para poder cambiar las cosas. Por eso, <strong>nuestros logros, llevan tu nombre</strong>.
        </div>

        <div class="ai-accion-firma__text">
          En Amnistía Internacional renunciamos a las subvenciones de gobiernos y donaciones de partidos políticos por una simple razón:
          <strong>nuestra independencia está por encima de todo</strong>. Nos financiamos gracias a las aportaciones de personas que deciden apoyarnos
          económicamente porque compartimos la misma idea: <strong>un mundo más justo</strong>.
        </div>

        <div class="ai-accion-firma__text">
          ¿Te animas a colaborar?
        </div>
        <a class="ai-accion-firma__button" href="#">
          Hazte socio/a
        </a>
      </div>
    </div>
  </div>


  <div class="ai-accion-2col">
    <div class="ai-accion-2col__col1">

      <div class="ai-accion-firma-content">
        {{partial 'mock-image-1'}}
      </div>

      <p class="entradilla">
      Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi.
      </p>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas pulvinar tellus, at blandit est vulputate eu. Integer commodo gravida elit eu venenatis. Nam enim quam, accumsan ut bibendum non, blandit nec risus. Proin eleifend faucibus laoreet. Praesent ut risus nec orci dignissim fringilla et eu risus. Phasellus eu est scelerisque arcu sagittis molestie vitae quis elit. Vivamus vitae volutpat dui. Nulla elementum eros lectus, bibendum condimentum eros aliquet euismod. Morbi ut rhoncus magna, at aliquet ante. Nunc facilisis suscipit iaculis. Donec ultrices dignissim nisi id blandit. Vivamus molestie nec velit et pulvinar. Nulla vel purus tincidunt, semper felis eget, euismod odio.
      <br />

      In mattis lacinia lorem ut accumsan. Quisque laoreet nunc vel turpis commodo placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin commodo ullamcorper est, vitae adipiscing purus sagittis id. Aliquam erat volutpat. Praesent vitae venenatis quam. Etiam a commodo sapien, in mattis elit. Donec vestibulum fermentum metus, sed commodo ante. Morbi sed velit odio.
      <br />
      Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi. Phasellus bibendum leo a lobortis eleifend. Aliquam fermentum a urna sit amet posuere. Nam sit amet erat rhoncus, ornare magna sit amet, euismod dui. Aenean in aliquam sem, sed rhoncus turpis.
      <br />
      Nam id sollicitudin urna. Morbi imperdiet purus id elit sagittis accumsan. Mauris quis metus in metus lobortis euismod. Praesent nec metus mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis tortor mauris, pellentesque non tristique sit amet, dictum eget mi. Integer quis ligula vel risus dignissim fringilla. Nam imperdiet luctus adipiscing. Suspendisse potenti. Nam at odio eu ante accumsan dapibus eu id velit. Nunc interdum magna sem, a scelerisque est viverra quis. Nam ornare gravida tristique. Nullam convallis sapien et facilisis hendrerit. Donec tristique mi eu orci vehicula, vel porta augue porta.
      </p>

    </div>
    <div class="ai-accion-2col__col2">

      <div class="ai-accion-firma">
        <div class="ai-accion-firma__head">
          <div class="ai-accion-firma__head-title">
            <span class="ai-accion-firma__head-title-text">¡Gracias!</span>
          </div>
          <div class="ai-accion-firma__head-target">
            Hemos sido <span class="ai-accion-firma__head-target-number">100.000</span> firmantes
          </div>
        </div>
      </div>


    </div>
  </div>



</div>

<div id="carta0" class="ai-popup ai-popup--bg-white mfp-hide">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat nisi ut laoreet commodo. Praesent dui purus, porta ut ex ultrices, finibus accumsan lectus. Nulla facilisi. Proin sed metus eget nunc mattis porta. Vestibulum placerat laoreet suscipit. Curabitur eu ligula quis felis tristique lacinia vel eget neque. Pellentesque consectetur, magna at varius tincidunt, lectus turpis convallis dolor, quis dapibus sem ex laoreet felis.
  </p>
  <p>
  Nullam tincidunt mauris faucibus lectus efficitur condimentum. Praesent ultrices, ante nec dapibus tempus, urna nulla malesuada risus, vel lacinia leo enim nec diam. Donec quis sagittis metus. Etiam eu diam non orci congue imperdiet. In feugiat, nisi vitae consectetur convallis, elit quam mattis ante, vel dictum ipsum est at neque. Maecenas bibendum ligula elementum faucibus sagittis. Fusce rhoncus tristique feugiat.
  </p>
</div>

