---
title: 'India: Condenadas a ser violadas y desfilar desnudas'
layout: widget-interstitial
header:
c-title: 'India: Condenadas a ser violadas y desfilar desnudas'
---
<h1 class="ai-page-title">{{title}}</h1>

<div class="container--wide">
    <div class="ai-accion-2col">
        <div class="ai-accion-2col__col1">

            <div class="ai-accion-firma-content">
                <img class="lazyload" data-srcset="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?preset=fixed_1472_42" />
                <div class="credits">Pie de foto</div>
            </div>

            <p class="h5">
                Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi.
            </p>
            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas pulvinar tellus, at blandit est vulputate eu. Integer commodo gravida elit eu venenatis. Nam enim quam, accumsan ut bibendum non, blandit nec risus. Proin eleifend faucibus laoreet. Praesent ut risus nec orci dignissim fringilla et eu risus. Phasellus eu est scelerisque arcu sagittis molestie vitae quis elit. Vivamus vitae volutpat dui. Nulla elementum eros lectus, bibendum condimentum eros aliquet euismod. Morbi ut rhoncus magna, at aliquet ante. Nunc facilisis suscipit iaculis. Donec ultrices dignissim nisi id blandit. Vivamus molestie nec velit et pulvinar. Nulla vel purus tincidunt, semper felis eget, euismod odio.-->
                <!--<br />-->
            <!--<blockquote data-scenario="quote_text" class="quote">-->
                <!--<div class="quote__text">It is during our darkest moments that we must focus to see the light</div>-->
                <!--<footer data-scenario="quote_author" class="quote__source">Aristotle Onassis</footer>-->
            <!--</blockquote>-->
            <!--In mattis lacinia lorem ut accumsan. Quisque laoreet nunc vel turpis commodo placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin commodo ullamcorper est, vitae adipiscing purus sagittis id. Aliquam erat volutpat. Praesent vitae venenatis quam. Etiam a commodo sapien, in mattis elit. Donec vestibulum fermentum metus, sed commodo ante. Morbi sed velit odio.-->
            <!--<br />-->
            <!--Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi. Phasellus bibendum leo a lobortis eleifend. Aliquam fermentum a urna sit amet posuere. Nam sit amet erat rhoncus, ornare magna sit amet, euismod dui. Aenean in aliquam sem, sed rhoncus turpis.-->
            <!--<br />-->
            <!--Nam id sollicitudin urna. Morbi imperdiet purus id elit sagittis accumsan. Mauris quis metus in metus lobortis euismod. Praesent nec metus mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis tortor mauris, pellentesque non tristique sit amet, dictum eget mi. Integer quis ligula vel risus dignissim fringilla. Nam imperdiet luctus adipiscing. Suspendisse potenti. Nam at odio eu ante accumsan dapibus eu id velit. Nunc interdum magna sem, a scelerisque est viverra quis. Nam ornare gravida tristique. Nullam convallis sapien et facilisis hendrerit. Donec tristique mi eu orci vehicula, vel porta augue porta.-->
            <!--</p>-->

            <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading" role="tab" id="headingOne">-->
                        <!--<h4 class="panel-title">-->
                            <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                                <!--Mas información-->
                            <!--</a>-->
                        <!--</h4>-->
                    <!--</div>-->
                    <!--<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">-->
                        <!--<div class="panel-body">-->
                            <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<a class="ai-accion-boton-actua" href="#ai-accion-firma" data-ai-accion-boton-actua-ref="#ai-accion-firma">¡Actúa!</a>-->


            <div class="ai-accion-firma-interstitial-actions">
                    <a class="ai-accion-firma-interstitial-actions__mas-info" target="_parent">
                        Ver más información...
                    </a>
                <a href="javascript:window.parent.$('.ai-interstitial').remove();" class="ai-accion-firma-interstitial-actions__cerrar" data-ai-interstitial-close-btn>
                    Cerrar y ver la web
                </a>
            </div>


        </div>
        <div class="ai-accion-2col__col2">

            <div class="ai-accion-firma" id="ai-accion-firma">
                <div class="ai-accion-firma__head">
                    <div class="ai-accion-firma__head-title">
                        <span class="ai-accion-firma__head-title-text">Firma la petición</span>
                    </div>
                    <div class="ai-accion-firma__head-target">
                        Ayúdanos a llegar a <span class="ai-accion-firma__head-target-number">100.000</span>
                    </div>
                </div>

                <div class="ai-accion-firma__bar">
                    <div class="ai-accion-firma__bar-progress" data-ai-firmas="45695" data-ai-max-firmas="100000"></div>
                    <div class="ai-accion-firma__bar-caption">45.695 firmas</div>
                </div>
                <div class="ai-accion-firma__text">
                    Firma y enviaremos esta petición en tu nombre a los líderes de los grupos parlamentarios del Parlamento Europeo.
                </div>
                <form class="ai-accion-firma__formrapido ai-accion-firma__form">
                    <div class="ai-accion-firma__importanttext">
                        Si ya has firmado alguna acción antes, rellena sólo tu email:
                    </div>
                    <input class="ai-accion-firma__input ai-accion-firma__input--email" placeholder="Email *" />
                    <input type="submit" class="ai-accion-firma__button" value="Envía tu firma" />
                    <a class="ai-accion-firma__button-primera" href="javascript:">
                        Es la primera vez que actúo
                        <i class="ai-accion-firma__arrow"></i>
                    </a>
                </form>
                <form class="ai-accion-firma__formcompleto ai-accion-firma__form" style="display:none">
                    <div class="ai-accion-firma__importanttext">
                        ¿Es la primera vez que firmas? Completa el siguiente formulario:
                    </div>
                    <input class="ai-accion-firma__input ai-accion-firma__input--nombre" placeholder="Nombre *" id="nombre"/>
                    <input class="ai-accion-firma__input ai-accion-firma__input--apellido1" placeholder="Apellidos *" />
                    <input class="ai-accion-firma__input ai-accion-firma__input--email" placeholder="Email *" />
                    <input class="ai-accion-firma__input ai-accion-firma__input--telefono" placeholder="Teléfono (sólo españa)" />
                    <select class="ai-accion-firma__input ai-accion-firma__input--pais">
                        <option value="0">---</option>
                        <option value="ESP">España</option>
                        <option value="XXX">Otro</option>
                    </select>
                    <select class="ai-accion-firma__input ai-accion-firma__input--provincia" disabled>
                        <option value="0">Provincia (sólo España)</option>
                        <option>---</option>
                    </select>
                    <input class="ai-accion-firma__input ai-accion-firma__input--dni" placeholder="Número de documento de identidad" / disabled>
                    <label class="ai-accion-firma__check">
                        <input type="checkbox" class=" ai-accion-firma__input--acepto" />
                        Deseo recibir más información de Amnistía Internacional
                    </label>
                    <input type="submit" class="ai-accion-firma__button" value="Envía tu firma" />
                </form>
                <div class="ai-accion-firma__text">
                    Al participar en esta acción aceptas la <a href="">política de privacidad</a>
                </div>
            </div>

        </div>
    </div>

</div>

