---
title: Acción
layout: default
header:
  c-title: 'India: Condenadas a ser violadas y desfilar desnudas'
---
{{partial 'image-header--content' header}}

<div class="container--wide container--padded-vertical">

  <div class="ai-accion-2col">
    <div class="ai-accion-2col__col1">

      <div class="meta">
      Iniciada el 31 de diciembre de 2011.<br />
      Actualizada el 31 de diciembre de 2012.
      </div>
      <p class="entradilla">
      Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi.
      </p>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas pulvinar tellus, at blandit est vulputate eu. Integer commodo gravida elit eu venenatis. Nam enim quam, accumsan ut bibendum non, blandit nec risus. Proin eleifend faucibus laoreet. Praesent ut risus nec orci dignissim fringilla et eu risus. Phasellus eu est scelerisque arcu sagittis molestie vitae quis elit. Vivamus vitae volutpat dui. Nulla elementum eros lectus, bibendum condimentum eros aliquet euismod. Morbi ut rhoncus magna, at aliquet ante. Nunc facilisis suscipit iaculis. Donec ultrices dignissim nisi id blandit. Vivamus molestie nec velit et pulvinar. Nulla vel purus tincidunt, semper felis eget, euismod odio.
      <br />

      In mattis lacinia lorem ut accumsan. Quisque laoreet nunc vel turpis commodo placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin commodo ullamcorper est, vitae adipiscing purus sagittis id. Aliquam erat volutpat. Praesent vitae venenatis quam. Etiam a commodo sapien, in mattis elit. Donec vestibulum fermentum metus, sed commodo ante. Morbi sed velit odio.
      <br />
      Phasellus dignissim sapien quis tellus volutpat sagittis ac sed ante. Fusce iaculis cursus dui, eu bibendum elit. Nunc ac fermentum magna, eu elementum nisi. Phasellus bibendum leo a lobortis eleifend. Aliquam fermentum a urna sit amet posuere. Nam sit amet erat rhoncus, ornare magna sit amet, euismod dui. Aenean in aliquam sem, sed rhoncus turpis.
      <br />
      Nam id sollicitudin urna. Morbi imperdiet purus id elit sagittis accumsan. Mauris quis metus in metus lobortis euismod. Praesent nec metus mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis tortor mauris, pellentesque non tristique sit amet, dictum eget mi. Integer quis ligula vel risus dignissim fringilla. Nam imperdiet luctus adipiscing. Suspendisse potenti. Nam at odio eu ante accumsan dapibus eu id velit. Nunc interdum magna sem, a scelerisque est viverra quis. Nam ornare gravida tristique. Nullam convallis sapien et facilisis hendrerit. Donec tristique mi eu orci vehicula, vel porta augue porta.
      </p>

    </div>
    <div class="ai-accion-2col__col2">

      <div class="ai-accion-firma">
        <div class="ai-accion-firma__head">
          <div class="ai-accion-firma__head-title">
            <span class="ai-accion-firma__head-title-text">Firma la petición</span>
          </div>
          <div class="ai-accion-firma__head-target">
            Ayúdanos a llegar a <span class="ai-accion-firma__head-target-number">100.000</span>
          </div>
        </div>

        <div class="ai-accion-firma__bar">
          <div class="ai-accion-firma__bar-progress"></div>
          <div class="ai-accion-firma__bar-caption">45.695 firmas</div>
        </div>
        <script>
document.getElementsByClassName('ai-accion-firma__bar-progress')[0].style.width = '80%';
        </script>
        <div class="ai-accion-firma__text">
          Firma y enviaremos esta petición en tu nombre a los líderes de los grupos parlamentarios del Parlamento Europeo.
        </div>
        <form class="ai-accion-firma__formrapido ai-accion-firma__form">
          <div class="ai-accion-firma__importanttext">
            Si ya has firmado alguna acción antes, rellena sólo tu email:
          </div>
          <input class="ai-accion-firma__input" placeholder="Email *" />
          <input type="submit" class="ai-accion-firma__button" value="Firma" />
          <a class="ai-accion-firma__button-primera" href="javascript:tmp_show_formcompleto()">
            Es la primera vez que actúo
            <i class="ai-accion-firma__arrow"></i>
          </a>
          <script>
function tmp_show_formcompleto() {
  document.getElementsByClassName('ai-accion-firma__formrapido')[0].style.display = 'none';
  document.getElementsByClassName('ai-accion-firma__formcompleto')[0].style.display = 'block';
}
          </script>
        </form>
        <form class="ai-accion-firma__formcompleto ai-accion-firma__form" style="display:none">
          <div class="ai-accion-firma__importanttext">
            ¿Es la primera vez que firmas? Completa el siguiente formulario:
          </div>
          <div class="ai-accion-firma__warning">
            ¡Ups! No te encontramos en nuestra base de datos. Completa el formulario y deja marcada la casilla de recibir información para que tus datos queden guardados para la próxima vez.
          </div>
          <input class="ai-accion-firma__input" placeholder="Nombre *" />
          <input class="ai-accion-firma__input" placeholder="Apellidos *" />
          <input class="ai-accion-firma__input" placeholder="Email *" />
          <input class="ai-accion-firma__input" placeholder="Teléfono (sólo españa)" />
          <select class="ai-accion-firma__input">
            <option>España</option>
            <option>---</option>
          </select>
          <select class="ai-accion-firma__input" disabled>
            <option>Provincia (sólo España)</option>
            <option>---</option>
          </select>
          <input class="ai-accion-firma__input" placeholder="Número de documento de identidad" / disabled>
          <label class="ai-accion-firma__check">
            <input type="checkbox" />
            Deseo recibir más información de Amnistía Internacional
          </label>
          <input type="submit" class="ai-accion-firma__button" value="Firma" />
        </form>
        <div class="ai-accion-firma__text">
          Al participar en esta acción aceptas la <a href="">política de privacidad</a>
        </div>
      </div>

    </div>
  </div>

</div>
