---
title: Actua
layout: default
iter_4: [1,2,3,4]
iter_6: [1,2,3,4,5,6]
iter_8: [1,2,3,4,5,6,7,8]
iter_14: [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
header:
  c-title: Actúa
---
<div class="image-header image-header--has-credits-sm">
  <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1224_42, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1039_52, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_839_52, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_639_72, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_479_102, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_345_102, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_345_102_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;amp;preset=fixed_1472_42" alt="" class="responsive__img">
  </noscript>
  <div class="image-header__content--medium">
    <div class="image-headline--full">
      <div class="image-headline__table">
        <div class="image-headline__cell-actua-left">
          <div class="image-headline__aligned">
            <h2 class="image-headline__subtitle">
              <span class="heading--tape--dark">Llevamos 1.578.348 firmas en 2015</span>
            </h2>
          </div>
        </div>
        <div class="image-headline__cell-actua-right">
          <div class="image-headline__testimonio-container">
            <div class="image-headline__testimonio-title">"Lorem ipsum dolor consectetur"</div>
            <p class="image-headline__testimonio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat auctor lacinia. Nunc molestie turpis vel sapien consequat cursus. Aenean lacinia, velit eget scelerisque condimentum, turpis turpis lacinia nibh, eu gravida justo nunc eu amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-headline__testimonio-container--below">
  <div class="image-headline__testimonio-title--below">"Lorem ipsum dolor consectetur"</div>
  <p class="image-headline__testimonio-text--below">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat auctor lacinia. Nunc molestie turpis vel sapien consequat cursus. Aenean lacinia, velit eget scelerisque condimentum, turpis turpis lacinia nibh, eu gravida justo nunc eu amet.</p>
</div>



<div class="container--wide">

  <h2 class="heading-block--main">
    Actúa en la lucha por los derechos humanos
  </h2>

  <div class="grid">

    {{#each iter_14}}
    <article class="search-item--1/3">
      <a class="search-item__content--top" href="accion.html">
        <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
        </noscript>
        <div class="search-item__cell--top">
          <ul class="tags--cell">
            <li class="tags__item--solo"><span class="tags__icon--news">Nigeria</span></li>
          </ul>
          <h1 class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></h1>
          <button class="search-item__action-btn">¡Firma!</button>
        </div>

        <div class="search-item__cell--bottom">
          <div class="search-item__action-bar">
            <div class="search-item__action-bar-copy1">54.451 firmas</div>
            <div class="search-item__action-bar-copy2">Ayúdanos a llegar a 70.000</div>
            <div class="search-item__action-bar-container">
              <div class="search-item__action-bar-fullbar"></div>
              <div class="search-item__action-bar-progressbar" style="width:70%"></div>
            </div>
          </div>
        </div>
      </a>
    </article>
    {{/each}}
  </div>
</div>
<div class="container--wide container--txt-center container--padded-vertical">
    <a class="btn btn--secondary btn--md" href="">Ver el archivo de acciones cerradas</a>
</div>

{{partial 'mock-buenas-noticias'}}
