---
title: Actua
layout: default
iter_4: [1,2,3,4]
iter_8: [1,2,3,4,5,6,7,8]
header:
  c-title: Actúa
---
<div class="image-header image-header--has-credits-sm">
  <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1224_42, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1039_52, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_839_52, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_639_72, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_479_102, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_345_102, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_345_102_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;amp;preset=fixed_1472_42" alt="" class="responsive__img">
  </noscript>
  <div class="image-header__content--headline">
    <div class="image-headline--left">
      <div class="image-headline__table">
        <div class="image-headline__cell">
          <div class="image-headline__aligned">
            <h1 class="image-headline__title">Actúa en la lucha por los derechos humanos</h1>
            <h2 class="image-headline__subtitle">
              <span class="heading--tape--dark">Llevamos 1.578.348 firmas en 2015</span>
            </h2>
            <!-- <div class="image-headline__text"><p class="image-headline__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>                          <div> -->
            <!--     <a class="btn--header" href="#">Read More</a> -->
            <!--   </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container--wide">

  <h2 class="heading-block--main">
    Ciberactúa
  </h2>

  <div class="grid">

    {{#each iter_8}}
    <article class="ca-list__item">
      <div class="ca-list__item__image">
        <div class="responsive--bg lazyloaded" data-bgset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228_hi 2x [(min-width: 640px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208_hi 2x [(min-width: 346px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208_hi 2x" style="background-image: url(https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228);"><picture style="display: none;"><source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228_hi 2x" media="(min-width: 640px)" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228_hi 2x"><source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208_hi 2x" media="(min-width: 346px)" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208_hi 2x"><source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208_hi 2x"><img class=" lazyloaded"></picture></div>
        <noscript>
          &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228" alt="" class="responsive__img" /&gt;
        </noscript>
        <ul class="tags--bottom">
          <li class="tags__item--solo"><span class="tags__icon--action">Acción</span></li>
        </ul>
      </div>
      <div class="ca-list__item__content--half">
        <p class="tags__item--faux">take Action!</p>
        <h1 class="ca-list__item__title">Release torture victim Adrián Vásquez now!</h1>
        <a href="accion.html" class="btn-primary--md--fullwidth">¡Actúa!</a>
      </div>
    </article>
    {{/each}}

  </div>
</div>
<div class="container--wide container--txt-center container--padded-vertical">
    <a class="btn-secondary--sm" href="">Cargar más acciones</a>
</div>

{{partial 'mock-buenas-noticias'}}
