---
title: Actua
layout: default
iter_4: [1,2,3,4]
iter_8: [1,2,3,4,5,6,7,8]
header:
  c-title: Actúa
---

{{partial 'image-header--landing' header}}

<div class="container--wide">

  <div class="grid">

    {{#each iter_8}}
    <article class="ca-list__item">
      <div class="ca-list__item__image">
        <div class="responsive--bg lazyloaded" data-bgset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228_hi 2x [(min-width: 640px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208_hi 2x [(min-width: 346px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208_hi 2x" style="background-image: url(https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228);"><picture style="display: none;"><source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228_hi 2x" media="(min-width: 640px)" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228_hi 2x"><source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208_hi 2x" media="(min-width: 346px)" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_615_208_hi 2x"><source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_321_208_hi 2x"><img class=" lazyloaded"></picture></div>
        <noscript>
          &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/9500/209568_adri_n_vasquez_lagunes.jpg?preset=fixed_391_228" alt="" class="responsive__img" /&gt;
        </noscript>
        <ul class="tags--bottom">
          <li class="tags__item--solo"><span class="tags__icon--action">Acción</span></li>
        </ul>
      </div>
      <div class="ca-list__item__content--half">
        <p class="tags__item--faux">take Action!</p>
        <h1 class="ca-list__item__title">Release torture victim Adrián Vásquez now!</h1>
        <a href="accion.html" class="btn-primary--md--fullwidth">¡Actúa!</a>
      </div>
    </article>
    {{/each}}

    {{#each iter_8}}
    <article class="search-item--1/2">
    <a class="search-item__content--bottom" href="accion.html">
      <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
      </noscript>
      <div class="search-item__cell--bottom">
        <ul class="tags--cell">
          <li class="tags__item--solo"><span class="tags__icon--news">Nigeria</span></li>
        </ul>
        <h1 class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></h1>
      </div>
    </a>
  </article>
    {{/each}}
  </div>
</div>
<div class="container--wide container--txt-center container--padded-vertical">
    <a class="btn-secondary--sm" href="">Cargar más acciones</a>
</div>

{{partial 'mock-buenas-noticias'}}
