---
title: Home
layout: default
iter_4: [1,2,3,4]
---

{{partial 'carousel--featured'}}

<div class="container--full-bleed">
  <div class="cta--light">
    <h1 class="heading--main heading--spacer-with-sub-heading">Trabajamos por un mundo en el que todas las personas puedan disfrutar de sus derechos humanos.</h1>
    <div class="cta__copy"><p>Amnistía Internacional es un movimiento global integrado por más de 7 millones de personas en más de 150 países y territorios, que actúan para poner fin a los abusos contra los derechos humanos.</p></div>
    <button class="cta__button--primary">Hazte socio</button>
    <div class="cta__copy"><p></p></div>
  </div>
</div>

<!-- <div class="container--full-bleed"> -->
<!--   <div class="cta--light"> -->
<!--         <h1 class="heading--main heading--spacer-with-sub-heading">Trabajamos por un mundo en el que todas las personas puedan disfrutar de sus derechos humanos.</h1> -->
<!--     <div class="row"> -->
<!--       <div class="col-md-9"> -->
<!--         <div class="cta__copy"><p>Amnistía Internacional es un movimiento global integrado por más de 7 millones de personas en más de 150 países y territorios, que actúan para poner fin a los abusos contra los derechos humanos.</p></div> -->
<!--       </div> -->
<!--       <div class="col-md-3"> -->
<!--         <button class="btn-primary--lg--fullwidth">Hazte socio</button> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


<div class="container--wide container--padded-vertical-double">

  <h2 class="heading-block--main">
    También te puede interesar
  </h2>
  {{partial 'ca-list--3col'}}
</div>


<div class="container--wide">

  <h2 class="heading-block--main">Últimas noticias</h2>

  <div class="grid">
    {{#each iter_4}}
    <article class="search-item--bordered">
      <a class="search-item__content" href="#">
        <ul class="tags">
          <li class="tags__item"><span class="tags__icon--news">Noticia</span></li>
        </ul>
        <!-- <p class="tags__item--faux">Iraq</p> -->
        <time class="search-item__date">8 de Agosto de 2015</time>
        <h1 class="search-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est nulla, a suscipit diam facilisis ac posuere.</h1>
      </a>
    </article>
    {{/each}}
  </div>
</div>

<div class="container--wide container--txt-center container--padded-vertical">
    <a class="btn-secondary--sm" href="">Ver más noticias</a>
</div>



{{partial 'mock-buenas-noticias'}}
{{partial 'image-block--activista'}}
