---
title: Home
layout: default
iter_4: [1,2,3,4]
---

{{partial 'carousel--featured'}}

<div class="container">
  <div class="grid cta__cols">
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Who We Are</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
          </picture>
          <noscript>
            &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150" alt="" class="cta__img"&gt;
          </noscript>
          <p class="cta__exlplain">Since 1961, we’ve been helping people claim their rights across the world.</p>
          <a class="visually-hidden" href="/en/who-we-are/">READ OUR STORY</a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">What We Do</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
          </picture>
          <noscript>
            &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150" alt="" class="cta__img"&gt;
          </noscript>
          <p class="cta__exlplain">From the death penalty to free speech, we protect people’s human rights.</p>
          <a class="visually-hidden" href="/en/what-we-do/">BROWSE THE ISSUES</a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Get Involved</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
          </picture>
          <noscript>
            &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;amp;preset=proportional_150" alt="" class="cta__img"&gt;
          </noscript>
          <p class="cta__exlplain">Write a letter, volunteer, donate… and speak out against injustice worldwide.</p>
          <a class="visually-hidden" href="/en/get-involved/">TAKE ACTION</a>
        </div>
      </div>
  </div>
  <div class="grid cta__cols--bottom">
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="/en/who-we-are/" aria-hidden="true">
              <div class="cta-button__inner">
                  READ OUR STORY
            </div>
          </a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="/en/what-we-do/" aria-hidden="true">
              <div class="cta-button__inner">
                  BROWSE THE ISSUES
            </div>
          </a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="/en/get-involved/" aria-hidden="true">
              <div class="cta-button__inner">
                  TAKE ACTION
            </div>
          </a>
        </div>
      </div>
  </div>
</div>


<div class="container--wide">
  <div class="grid">
    <div class="col col--1/12--md not--sm"></div>
    <div class="col col--5/6--md">
      <div class="col__content">
        <h3 class="h1 ltr">Estas acciones también te pueden interesar</h3>
      </div>
    </div>
  </div>

  <div class="grid">
    {{#each iter_4}}
    <article class="search-item--1/2">
    <a class="search-item__content--bottom" href="#">
      <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
      <noscript>
        <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
      </noscript>
      <div class="search-item__cell--bottom">
        <ul class="tags--cell">
          <li class="tags__item--solo"><span class="tags__icon--news">Nigeria</span></li>
        </ul>
        <h1 class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></h1>
      </div>
    </a>
  </article>
    {{/each}}
  </div>
</div>




<div class="container--wide">
  <div class="grid">
    <div class="col col--1/12--md not--sm"></div>
    <div class="col col--5/6--md">
      <div class="col__content">
        <h3 class="h1 ltr">Últimas noticias</h3>
      </div>
    </div>
  </div>

  <div class="grid">
    {{#each iter_4}}
    <article class="search-item--bordered">
      <a class="search-item__content" href="#">
        <ul class="tags">
          <li class="tags__item"><span class="tags__icon--news">Press Release</span></li>
        </ul>
        <p class="tags__item--faux">Iraq</p>
        <time class="search-item__date">8th August 2014</time>
        <h1 class="search-item__title">Lorem ipsum dolar sit amet, consectetur adipiscing.</h1>
      </a>
    </article>
    {{/each}}
  </div>
</div>

<div class="container--wide container--txt-center container--padded-vertical">
    <a class="btn-secondary--sm" href="">Ver más noticias</a>
</div>



{{partial 'mock-buenas-noticias'}}
{{partial 'image-block--full-screen-image'}}
