---
title: Home
layout: default
iter_4: [1,2,3,4]
---

{{partial 'carousel--featured'}}

<div class="container">
  <div class="grid cta__cols">
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Hazte socio</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
          </picture>
          <noscript>
            &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1851/who-we-are.png?preset=proportional_150" alt="" class="cta__img"&gt;
          </noscript>
          <p class="cta__exlplain">Defiende los derechos humanos. Más de 500.000 personas ya lo están haciendo.</p>
          <a class="visually-hidden" href="">Hazte socio</a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Hazte voluntario</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
          </picture>
          <noscript>
            &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/1850/what-we-do.png?preset=proportional_150" alt="" class="cta__img"&gt;
          </noscript>
          <p class="cta__exlplain">Tus acciones pueden marcar la diferencia.</p>
          <a class="visually-hidden" href="/en/what-we-do/">¡Actúa!</a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Haz una donación</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="cta__img print-hidden lazyloaded">
          </picture>
          <noscript>
            &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8087/get-involved.png?center=0.5%2c0.5&amp;amp;amp;preset=proportional_150" alt="" class="cta__img"&gt;
          </noscript>
          <p class="cta__exlplain">Con tu ayuda podemos llegar a más gente. Miles de personas te esperan.</p>
          <a class="visually-hidden" href="/en/get-involved/">Dona</a>
        </div>
      </div>
  </div>
  <div class="grid cta__cols--bottom">
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="/en/who-we-are/" aria-hidden="true">
              <div class="cta-button__inner">
                  Hazte socio
            </div>
          </a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="/en/what-we-do/" aria-hidden="true">
              <div class="cta-button__inner">
                 ¡Actúa!
            </div>
          </a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="/en/get-involved/" aria-hidden="true">
              <div class="cta-button__inner">
                  Haz una donación
            </div>
          </a>
        </div>
      </div>
  </div>
</div>


<div class="container--wide container--bordered-top">

  <h2 class="heading-block--main">
    Estas acciones también te pueden interesar
  </h2>
  {{partial 'ca-list--3col'}}
</div>


<div class="container--wide">

  <h2 class="heading-block--main">Últimas noticias</h2>

  <div class="grid">
    {{#each iter_4}}
    <article class="search-item--bordered">
      <a class="search-item__content" href="#">
        <ul class="tags">
          <li class="tags__item"><span class="tags__icon--news">Noticia</span></li>
        </ul>
        <!-- <p class="tags__item--faux">Iraq</p> -->
        <time class="search-item__date">8 de Agosto de 2015</time>
        <h1 class="search-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est nulla, a suscipit diam facilisis ac posuere.</h1>
      </a>
    </article>
    {{/each}}
  </div>
</div>

<div class="container--wide container--txt-center container--padded-vertical">
    <a class="btn-secondary--sm" href="">Ver más noticias</a>
</div>



{{partial 'mock-buenas-noticias'}}
{{partial 'image-block--activista'}}
