---
title: 'Bangladesh: Dos líderes de la oposición podrían ser ejecutados de forma inminente tras graves defectos en sus juicios y apelaciones'
layout: default
iter_2: [1,2]
iter_3: [1,2,3]
---
<div class="image-header image-header--has-credits-sm">
  <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1224_42, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1039_52, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_839_52, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_639_72, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_479_102, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_345_102, https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;preset=fixed_345_102_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&amp;amp;preset=fixed_1472_42" alt="" class="responsive__img">
  </noscript>
  <div class="image-header__content--headline">
    <ul class="tags--header--md">
      <li class="tags__item--bold"><span class="tags__icon--bold--news">Noticia</span></li>
    </ul>
  </div>

  <span class="credits credits--header credits--overlay">&#169;2015</span>

</div>


<div class="ai-breadcrumbs-container">
  <nav class="ai-breadcrumbs">
    <div class="ai-breadcrumbs__item">
      <a class="ai-breadcrumbs__link" href="home.html">Inicio</a>
    </div>
    <div class="ai-breadcrumbs__item">
      <a class="ai-breadcrumbs__link" href="actua.html">En qué estamos</a>
    </div>
    <div class="ai-breadcrumbs__item">
      <a class="ai-breadcrumbs__link" href="#">Noticias</a>
    </div>
    <div class="ai-breadcrumbs__item ai-breadcrumbs__item--current">
      <span class="ai-breadcrumbs__link ai-breadcrumbs__link--current">Noticia</span>
    </div>
  </nav>
</div>

<div class="ai-c ai-c--wide">
  <div class="grid">
    <div class="col col--1/12--md not--sm"></div>
    <div class="col col--1/2--md">
      <div class="col__content">


        <h1 class="heading--main heading--in-padded" data-start-content="">{{title}}</h1>
        <p class="meta">
        <time datetime="2015-10-27T18:50:01">27 de octubre de 2015, 18:50 UTC</time>
        </p>
        <div class="wysiwyg">
          <p>Israeli forces have carried out a series of unlawful killings of Palestinians using intentional lethal force without justification, said Amnesty International today, based on the findings of an ongoing research trip to the West Bank, including East Jerusalem.</p>
          <p>The organization has documented in depth at least four incidents in which Palestinians were deliberately shot dead by Israeli forces when they posed no imminent threat to life, in what appear to have been extrajudicial executions.</p>
          <p>In some cases, the person shot was left bleeding to death on the ground and was not given prompt medical assistance, in violation of the prohibition of torture and other ill-treatment. Since 1 October, Israeli forces have killed more than 30 Palestinians in the occupied West Bank and Israel either after stabbings were carried out or the Israeli authorities allege stabbing attacks were intended.</p>
          <p>“A clear pattern has emerged of lethal force being used unlawfully by Israeli forces following a wave of recent stabbing attacks by Palestinians against Israeli civilians and military or police forces in Israel and the occupied West Bank,” said Philip Luther, Director of the Middle East and North Africa Programme at Amnesty International.</p>
          <blockquote data-scenario="quote_text" class="quote">
            <div class="quote__text">There is mounting evidence that, as tensions have risen dramatically, in some cases Israeli forces appear to have ripped up the rulebook and resorted to extreme and unlawful measures. They seem increasingly prone to using lethal force against anyone they perceive as posing a threat, without ensuring that the threat is real.</div>
            <footer data-scenario="quote_author" class="quote__source">Philip Luther, Director of the Middle East and North Africa Programme at Amnesty International</footer>
          </blockquote>
          <p>“There is mounting evidence that, as tensions have risen dramatically, in some cases Israeli forces appear to have ripped up the rulebook and resorted to extreme and unlawful measures. They seem increasingly prone to using lethal force against anyone they perceive as posing a threat, without ensuring that the threat is real.</p>
          <p>“Intentional lethal force should only be used when absolutely necessary to protect life. Instead we are increasingly seeing Israeli forces recklessly flouting international standards by shooting to kill in situations where it is completely unjustified. Israeli forces must end this pattern of unlawful killings and bring all those responsible to justice.”</p>
          <p>In an especially egregious case, Israeli forces shot dead 19-year-old Sa’ad Muhammad Youssef al-Atrash in the Old City of Hebron as he attempted to retrieve an ID card at an Israeli soldier’s request on 26 October. The Israeli police labelled the incident an “attempted stabbing” but an eyewitness watching the events unfold from her balcony said he had posed no threat when he was shot. One of the soldiers had asked him for ID, and as he reached into his pocket to grab his card another soldier standing behind him shot him on his right side, she told Amnesty International. The eyewitness said he was shot six or seven times and bled profusely as he lay on the ground for about 40 minutes afterwards, while soldiers failed to provide medical treatment. She also reported seeing soldiers bring a knife and place it in the dying man’s hand.</p>
          <p>“Then they put him on a stretcher and pushed him towards an ambulance but didn’t put him in. By this time he looked extremely yellow and I thought that he was dead at that point. He remained in front of the ambulance for another 20 minutes before he was put inside it and taken away,” the witness said.</p>
          <p>On 25 October, a short distance from where al-Atrash was killed, Israeli border police shot dead Dania Jihad Hussein Ershied, 17. Shortly before she was killed, she had passed through a checkpoint equipped with a metal detector and two revolving gates, between which Israeli forces frequently lock people they deem suspicious. At a second checkpoint in front of Hebron’s Ibrahimi Mosque she was called for a second inspection by more than five border police officers, who began searching her bag and yelling at her to show her knife.</p>
          <p>Warning shots were fired at her feet, prompting her to step back and raise her hands in the air. She was shouting at the police that she did not have a knife and still had her arms raised when police again opened fire, shooting her six or seven times.</p>
          <p>A photo of Ershied’s body shows a knife lying near the body, and the Israeli police spokesperson has stated that she attempted to stab a border policeman. However, even if Dania Jihad Hussein Ershied had a knife in her possession, eyewitness accounts indicate she was not posing a threat to Israeli forces when she was shot, and her killing is therefore absolutely unjustified.</p>
          <p>Amnesty International has gathered evidence of other recent shootings in which Israeli forces used unwarranted lethal force in what were likely extrajudicial executions.</p>
          <p><a href="https://www.amnesty.org/en/documents/mde15/2633/2015/en/">On 4 October, Fadi Alloun, 19, from Issawiyya in East Jerusalem</a>, was shot and killed by Israeli police near Jerusalem’s Old City, in another apparent extrajudicial execution. Israeli police said that he had a knife in his hand when he was shot, after stabbing a 16-year-old Israeli boy who was lightly injured. But video of the incident shows him being chased by a group of Israeli civilians before police arrived on the scene and shot him from some metres away, without attempting to arrest him.</p>
          <p><a href="https://www.amnesty.org/en/documents/mde15/2529/2015/en/">Hadeel al-Hashlamoun was shot dead on 22 September at a checkpoint in Hebron</a>. Israeli forces said she was attempting to stab a soldier when they repeatedly shot her, but two eyewitnesses contradicted this account. Amnesty International has previously said the evidence indicates her killing was an extrajudicial execution.</p>
          <p>“Israeli forces and civilians have faced genuine attacks and threats to their lives over the past weeks. But heavily armed soldiers and police wearing body armour facing a possible knife attack have a duty to use proportionate and graduated force and attempt to arrest suspects before resorting to the use of lethal force,” said Philip Luther.</p>
          <blockquote data-scenario="quote_text" class="quote">
            <div class="quote__text">Israeli forces and civilians have faced genuine attacks and threats to their lives over the past weeks. But heavily armed soldiers and police wearing body armour facing a possible knife attack have a duty to use proportionate and graduated force and attempt to arrest suspects before resorting to the use of lethal force.</div>
            <footer data-scenario="quote_author" class="quote__source">Philip Luther</footer>
          </blockquote>
          <p>“Unfortunately, Israel’s investigation systems have long served to perpetuate impunity for unlawful killings of Palestinians by Israeli military and police forces. While we urge the Israeli authorities to conduct independent, impartial investigations into all these incidents, wilful killings of Palestinians in the Occupied Palestinian Territories are grave breaches of the Fourth Geneva Convention, over which all states can exercise universal jurisdiction.”</p>
        </div>


        <section class="further-reading">


          <ul class="further-reading__links">
            <li class="further-reading-links__item">
              <a href="https://www.amnesty.org/en/latest/news/2015/10/what-i-saw-in-issawiya-was-the-collective-punishment-of-thousands-of-people/" class="further-reading-link further-reading-link--inward">What I saw in Issawiya was the collective punishment of thousands of people</a>
            </li>
          </ul>
        </section>

        <aside>
          <h2 class="heading--h6 heading--spacer-with-sub-heading">Categorías</h2>
          <ul class="tags">
            <li class="tags__item"><a class="tags__link" href="/en/search/?country=1261" rel="tag">Middle East and North Africa</a></li>
            <li class="tags__item"><a class="tags__link" href="/en/search/?country=1478" rel="tag">Palestine (State of)</a></li>
            <li class="tags__item"><a class="tags__link" href="/en/search/?country=1471" rel="tag">Israel and Occupied Palestinian Territories</a></li>
            <li class="tags__item"><a class="tags__link" href="/en/search/?issue=1253" rel="tag">Armed Conflict</a></li>
            <li class="tags__item"><a class="tags__link" href="/en/search/?issue=1623" rel="tag">Killings and Disappearances</a></li>
            <li class="tags__item"><a class="tags__link" href="/en/search/?issue=1624" rel="tag">Unlawful Killings</a></li>
            <li class="tags__item"><a class="tags__link" href="/en/search/?issue=1588" rel="tag">Discrimination</a></li>
            <li class="tags__item"><a class="tags__link" href="/en/search/?issue=1591" rel="tag">Racial Discrimination</a></li>
          </ul>
        </aside>

        {{partial 'share'}}

      </div>
    </div>
    <div class="col col--1/12--md not--sm"></div>
    <div class="col col--1/3--md col--1/4--final">



      <div class="col__content--right print-hidden not--sm">
        <div class="recently-added-container">
          <h2 class="heading--sub heading--uppercase heading--in-padded centered--sm">Últimas noticias</h2>
          <ul class="recently-added">
            <li class="recently-added__item">
              <ul class="tags">
                <li class="tags__item tags__item--close">
                  <span class="tags__icon--news">News</span>
                </li>
              </ul>
              <a href="/en/latest/news/2015/10/australia-damning-evidence-of-officials-involvement-in-transnational-crime-uncovered/" class="recently-added-item__title">Australia: Damning evidence of officials' involvement in transnational crime uncovered</a>
            </li>
            <li class="recently-added__item">
              <ul class="tags">
                <li class="tags__item tags__item--close">
                  <span class="tags__icon--news">News</span>
                </li>
              </ul>
              <a href="/en/latest/news/2015/10/usa-must-listen-to-the-united-nations-and-lift-economic-embargo-on-cuba/" class="recently-added-item__title">USA must listen to the United Nations and lift economic embargo on Cuba </a>
            </li>
            <li class="recently-added__item">
              <ul class="tags">
                <li class="tags__item tags__item--close">
                  <span class="tags__icon--news">News</span>
                </li>
              </ul>
              <a href="/en/latest/news/2015/10/turkmenistan-satellite-images-reveal-how-mass-forced-evictions-blight-upcoming-asian-games/" class="recently-added-item__title">Turkmenistan: Satellite images reveal how mass forced evictions blight upcoming Asian Games</a>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="container--wide">

  <h2 class="heading-block--main">
    Contenidos relacionados
  </h2>

  <div class="grid">

    {{#each iter_2}}
    <article class="search-item--1/2">
      <a class="search-item__content--bottom" href="accion.html">
        <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
        </noscript>
        <div class="search-item__cell--bottom">
          <ul class="tags--cell">
            <li class="tags__item--solo"><span class="tags__icon--news">Nigeria</span></li>
          </ul>
          <h1 class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></h1>
        </div>
      </a>
    </article>
    {{/each}}


    {{#each iter_3}}
    <article class="search-item--1/3">
      <a class="search-item__content--bottom" href="accion.html">
        <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
        </noscript>
        <div class="search-item__cell--bottom">
          <ul class="tags--cell">
            <li class="tags__item--solo"><span class="tags__icon--news">Nigeria</span></li>
          </ul>
          <h1 class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></h1>
        </div>
      </a>
    </article>
    {{/each}}


  </div>
</div>
