---
title: Test JS
layout: default
---

<!--
Lightbox
Galleria
CookieBanner
Interstitial
SortElements?
TreeMenu?

Carruseles
Lazyload / Responsive img...
Scripts de Acciones
-->

<div class="container">
  <h1>Lightbox</h1>
  <a href="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&preset=fixed_1472_42_hi" rel="lightbox" title="Pie de foto">
    <img src="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&preset=fixed_639_72" alt=" " />
  </a>

  <h1>Lightbox gallery</h1>
  <a href="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&preset=fixed_1472_42_hi" rel="lightbox[2]" title="Pie de foto 1">
    <img src="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&preset=fixed_639_72" alt=" " />
  </a>
  <a href="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?anchor=topcenter&preset=fixed_1472_42_hi" rel="lightbox[2]" title="Pie de foto 2">
    <img src="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?anchor=topcenter&preset=fixed_639_72" alt=" " />
  </a>

  <h1>Lightbox gallery 2</h1>
  <a href="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&preset=fixed_839_52_hi" rel="lightbox[3]" title="Pie de foto 2-1">
    <img src="https://www.amnesty.org/media/patternlibrary/air_fivefaces_2.jpg?anchor=topcenter&preset=fixed_639_72" alt=" " />
  </a>
  <a href="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?anchor=topcenter&preset=fixed_839_52_hi" rel="lightbox[3]" title="Pie de foto 2-2">
    <img src="https://www.amnesty.org/media/patternlibrary/armedconflict_2944x1224_header.jpg?anchor=topcenter&preset=fixed_639_72" alt=" " />
  </a>

  <h1>Lightbox external page</h1>
  <a title="Política de privacidad" class="ai-lightbox ai-lightbox--html" href="https://www.es.amnesty.org/politica-de-privacidad-ventana/">política de privacidad</a>

<div class="container">
  <h1>Interstitial</h1>
  <script>
require(['jqp/interstitial'], function() {
  $.interstitial('open', {
    url: 'https://www.es.amnesty.org/'
  });
});
  </script>
</div>



</div>
