<div class="ai-interstitial">
	<div class="ai-interstitial__topbar">
		<div class="ai-interstitial__caption">
			{{title}}
		</div>
		<a class="ai-interstitial__skip" href="javascript:">
			{{skip_text}}
		</a>
	</div>
	<div class="ai-interstitial__iframe-container">
		<iframe class="ai-interstitial__iframe" src="{{url}}"></iframe>
	</div>
</div>
