.logo {
  height: rem(72px);
  width: rem(182);
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

.logo-print {
  display: none;
  height: rem(72px);
  width: rem(169px);
  margin-left: rem(24px);
}

@media print {
  .logo-print {
    display: block;
  }
}

.logo__link {
  background-color: #ff0;
  display: block;
  font-size: rem(14px);
//   font-size: 1rem;
  height: 100%;
  position: relative;
  text-indent: -1000%;
  width: 100%;
  &:after {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -8.35714em -5.85714em;
    height: 5.14286em;
    width: 4.42857em;
  }
  &:before {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    // en - background-position: -.35714em -5.85714em;
    background-position: -8.29em -.35714em;
    height: 5.14286em;
    width: 9em;
  }
  &:after {
    position: absolute;
    top: 0;
    margin-right: 0;
    right: 0;
  }
  &:before {
    display: none;
  }
}

@media print {
  .logo__link:after {
    right: 0;
    margin-right: 0;
  }
}

.logo__link:before {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

@media print {
  .logo__link:before {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.logo__link:focus {
  -webkit-box-shadow: inset 0 0 0 3px #000;
  box-shadow: inset 0 0 0 3px #000;
  outline: 0;
}


