.logo {
  height: rem(72);
//   height: 5.14286rem;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: rem(100);
//   width: 5.14286rem;
  z-index: 2;
}

@media screen and (min-width: 25.3125em) {
  .logo {
    width: rem(200);
  }
}

.logo-print {
  display: none;
  height: rem(72px);
//   height: 5.14286rem;
  width: rem(169px);
//   width: 12.07143rem;
  margin-left: rem(24px);
//   margin-left: 1.71429rem;
}

@media print {
  .logo-print {
    display: block;
  }
}

.logo__link {
  background-color: #ff0;
  display: block;
  font-size: rem(14px);
//   font-size: 1rem;
  height: 100%;
  position: relative;
  text-indent: -1000%;
  width: 100%;
  &:after {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    background-position: -1em 0;
    height: 5.14286em;
    width: 6.72857em;
  }
  &:before {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    display: inline-block;
    // en - background-position: -.35714em -5.85714em;
    background-position: -9.57143em -.35714em;
    height: 5.14286em;
    width: 7.64286em;
  }
  &:after {
    margin-right: rem(-42);
    position: absolute;
    right: 50%;
    top: 0;
  }
  &:before {
    display: none;
  }
}

@media screen and (min-width: 25.3125em) {
  .logo__link:after {
    margin-right: 0;
    right: 0;
  }
}

@media print {
  .logo__link:after {
    right: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 25.3125em) {
  .logo__link:before {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media print {
  .logo__link:before {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.logo__link:focus {
  -webkit-box-shadow: inset 0 0 0 3px #000;
  box-shadow: inset 0 0 0 3px #000;
  outline: 0;
}
