<nav class="ai-nav3">
  <div class="ai-nav3__item ai-nav3__item--current">
    <span class="ai-nav3__link ai-nav3__link--current">La campaña</span>
  </div>
  <div class="ai-nav3__item">
    <a class="ai-nav3__link" href="campaign-sub.html">Personas en riesgo</a>
  </div>
  <div class="ai-nav3__item">
    <a class="ai-nav3__link" href="#">Los países de la campaña</a>
  </div>
  <div class="ai-nav3__item">
    <a class="ai-nav3__link" href="#">Testimonios</a>
  </div>
</nav>

