.share-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table-cell;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

.share-list__item {
  margin: 0;
  padding: 0;
  float: left;
  height: rem(58px);
//   height: 4.14286rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  width: rem(58px);
//   width: 4.14286rem;
  &:hover {
    background-color: #e5e5e5;
  }
}

.share-list__link--facebook {
  display: block;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  &:before {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    background-position: -13.57143em -13em;
    height: 1.42857em;
    width: 1.42857em;
    display: block;
    margin: rem(18px) auto;
//     margin: 1.35714rem auto;
    padding: rem(1px);
//     padding: .07143rem;
  }
}

.share-list__link--twitter {
  display: block;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  &:before {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    background-position: -11.78571em -13em;
    height: 1.42857em;
    width: 1.42857em;
    display: block;
    margin: rem(18px) auto;
//     margin: 1.35714rem auto;
    padding: rem(1px);
//     padding: .07143rem;
  }
}

.share-list__link--email {
  display: block;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  &:before {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    background-position: -17.57143em -2.14286em;
    height: 1.42857em;
    width: 1.42857em;
    display: block;
    margin: rem(18px) auto;
//     margin: 1.35714rem auto;
    padding: rem(1px);
//     padding: .07143rem;
  }
}

.share-list__link--whatsapp {
  display: block;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  &:before {
    @include ai-sprite;
    background-repeat: no-repeat;
    background-size: 20.85714em 20em;
    content: ' ';
    background-position: -19.4em -18.55em;
    height: 1.42857em;
    width: 1.42857em;
    display: block;
    margin: rem(18px) auto;
    padding: rem(1px);
  }
}

@media screen and (max-width: 640px) {
  .share-list__item {
    width: 2.8em;
    height: 2.8rem;
  }
  .share-list__item a {
    &:before {
      margin: 0.8rem auto !important;
    }
  }
}