<ul class="share-list">
  <li class="share-list__item"><a href="javascript:" class="share-list__link--twitter">Twitter</a></li>
  <li class="share-list__item"><a href="javascript:" class="share-list__link--facebook">Facebook</a></li>
  <li class="share-list__item"><a href="javascript:" class="share-list__link--whatsapp">WhatsApp</a></li>
  <li class="share-list__item"><a href="javascript:" class="share-list__link--email">Email</a></li>
</ul>
