<ul class="share-list">
  <li class="share-list__item"><a href="https://twitter.com/home?status=Egypt%3a+Guilty+verdict+https%3a%2f%2fwww.amnesty.org%2fen%2flatest%2fnews%2f2015%2f08%2fegypt-guilty-verdict-against-al-jazeera-journalists-affront-to-justice%2f" data-ga="social,twitter,tweet,pagename" target="_blank" class="share-list__link--twitter">Twitter</a></li>
  <li class="share-list__item"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3a%2f%2fwww.amnesty.org%2fen%2flatest%2fnews%2f2015%2f08%2fegypt-guilty-verdict-against-al-jazeera-journalists-affront-to-justice%2f" data-ga="social,facebook,share,pagename" target="_blank" class="share-list__link--facebook">Facebook</a></li>
  <li class="share-list__item"><a href="mailto:?body=Share this https://www.amnesty.org/en/latest/news/2015/08/egypt-guilty-verdict-against-al-jazeera-journalists-affront-to-justice/" target="_blank" class="share-list__link--email" data-ga="event,Outgoing links,Click,external">Email</a></li>
</ul>
