---
iter_3: [1,2,3]
---
<div class="content-panels-container">
  {{#each iter_3}}
  <article class="content-panel">
    <div class="content-panel__content">
      <div class="responsive--bg lazyloaded" data-bgset="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_401_360, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_401_360_hi 2x [(min-width: 840px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_791_240, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_791_240_hi 2x [(min-width: 640px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_639_240, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_639_240_hi 2x [(min-width: 346px)] | https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_345_240, https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_345_240_hi 2x" style="background-image: url(https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;preset=fixed_401_360);"></div>
      <noscript>
        &lt;img src="https://www.amnesty.org/remote.axd/amnestysgprdasset.blob.core.windows.net/media/8756/unfollowme-webheader.jpg?center=0.5%2c0.5&amp;amp;amp;preset=fixed_391_415" alt="" class="responsive__img" /&gt;
      </noscript>
      <div class="content-panel__content-bottom">
        <ul class="tags--cell">
          <li class="tags__item--solo">
            <span class="tags__icon--campaign">Campaigns</span>
          </li>
        </ul>
        <h1 class="content-panel__heading">
          <span class="heading--tape--small">UnfollowMe</span>
        </h1>
        <a class="btn-transparent--sm search-item__btn" href="/en/get-involved/unfollowme/">See More
        </a>
      </div>
    </div>
  </article>
  {{/each}}
</div>
