.site-search {
  @include outer-container;
  &__input {
    @include span-columns(12);
    @include media($m-ai-small) {
      @include span-columns(9);
    }

    font-weight: 400;
    //text-transform: uppercase;
    font-family: $f-title;
    font-size: rem(18);
    background-color: transparent;
    line-height: normal;
    border: 1px solid $c-grey--mid;
    padding: rem(10px) rem(17px);
    box-sizing: border-box;
    &:focus {
      outline: 0;
    }
  }

  &__submit {
    @include span-columns(12);
    @include media($m-ai-small) {
      @include span-columns(3);
    }
    @include btn;
    @include btn--primary;
    @include btn--sm;
  }
}