<div class="site-search">
    <input class="site-search__input" placeholder="What are you looking for?" type="text" name="q" value="spain">
    <button class="site-search__submit" type="submit">Search</button>
</div>