.share {
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: rem(24px) 0;
//   margin: 1.71429rem 0;
  &:after, &:before {
    clear: both;
    content: ' ';
    display: table;
  }
}

@media screen and (max-width: 39.9375em) {
  .share {
    margin-left: rem(-24px);
//     margin-left: -1.71429rem;
    margin-right: rem(-24px);
//     margin-right: -1.71429rem;
    padding: 0 rem(24px);
//     padding: 0 1.71429rem;
  }
}

.share__cell {
  display: table-cell;
  vertical-align: middle;
  padding-right: rem(15px);
}

.share__title {
  font-size: rem(14px);
//   font-size: 1rem;
  letter-spacing: 0;
//   letter-spacing: .02rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $f-title;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 0;
  white-space: nowrap;
  float: left;
}


