<i class="logo-print" aria-hidden="true">
    <div class="logo__link">Amnistía Internacional España</div>
</i>
<header class="header " data-header role="banner">
  <div class="header__container" data-header-container>
    <div class="header__slogan-container">
      <div class="header__slogan">
        Actuamos por los derechos humanos en todo el mundo
      </div>
    </div>
    {{partial 'logo'}}
    {{partial 'nav'}}

    <div class="search-btn" data-nav-search-btn>Buscar</div>

    <form action="/en/search/" class="nav-search" data-nav-search>
      <div class="nav-search__inner">
        <div class="nav-search__field">
          <label class="sr-only" for="ai-nav-search-input">¿Qué estas buscando?</label>
          <input class="nav-search__input" id="ai-nav-search-input" data-nav-search-input placeholder="¿Qué estás buscando?" type="text" name="q" />
        </div>
        <button class="nav-search__submit" type="submit" data-nav-search-submit-btn>Buscar</button>
      </div>
    </form>

  </div>
</header>

