<div class="cookies cookies--hidden print-hidden">
  <div class="cookies__container">
    <p class="cookies__message">We use cookies! <a href="#">Learn More</a></p>
    <button class="cookies__btn">
        Okay, got it
    </button>
  </div>
</div>

