<div class="grid">
  <div class="col col--1/12--md not--sm"></div>
  <div class="col col--5/6--md">
    <div class="col__content">
      <h3 class="h3 ltr">Locations A-Z</h3>
      <div class="col col--1/12--md not--sm"></div>
      <div class="col col--5/6--md">
        <div class="col__content">
          <ul class="alphabet-list print-hidden">
            <li class="alphabet-list__item"><a class="alphabet-list__link alphabet-list__link--active" href="#A" data-locations-link="#A"><span class="alphabet-list__inner">A</span></a></li>
            <li class="alphabet-list__item"><a class="alphabet-list__link" href="#B" data-locations-link="#B"><span class="alphabet-list__inner">B</span></a></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">C</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">D</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">E</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">F</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">G</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">H</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">I</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">J</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">K</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">L</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">M</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">N</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">O</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">P</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">Q</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">R</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">S</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">T</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">U</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">V</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">W</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">X</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">Y</span></li>
            <li class="alphabet-list__item--blank"><span class="alphabet-list__inner">Z</span></li>
            <li class="alphabet-list__item--empty"><span class="alphabet-list__inner">&nbsp;</span></li>
            <li class="alphabet-list__item--empty"><span class="alphabet-list__inner">&nbsp;</span></li>
            <li class="alphabet-list__item--empty"><span class="alphabet-list__inner">&nbsp;</span></li>
            <li class="alphabet-list__item--empty"><span class="alphabet-list__inner">&nbsp;</span></li>
          </ul>
        </div>
      </div>
      <div class="col col--1/12--md not--sm"></div>
    </div>
    <div class="grid">
      <div class="col col--1/12--md not--sm"></div>
      <div class="col col--5/6--md">
        <div class="col__content">
          <div id="A" class="grid locations locations--active" data-alphabet-location>
            <h3 class="locations__title">A</h3>
            <div class="locations__container">
              <ul class="locations__list--region">
                <li class="locations__item"><a class="locations__item-link" href="#">Africa Region</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Australasia Region</a></li>
              </ul>


              <ul class="locations__list--country">
                <li class="locations__item"><a class="locations__item-link" href="#">Afghanistan</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Albania</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Algeria</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">American Samoa</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Andorra</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Angola</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Anguilla</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Antigua and Barbuda</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Antilles</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Argentina</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Armenia</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Australia</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Austria</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Azerbaijan</a></li>
              </ul>
            </div>
          </div>
          <div id="B" class="grid locations" data-alphabet-location>
            <h3 class="locations__title">B</h3>
            <div class="locations__container">


              <ul class="locations__list--country">
                <li class="locations__item"><a class="locations__item-link" href="#">Bahamas</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Bahrain</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Bangladesh</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Barbados</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Belarus</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Belgium</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Belize</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Benin</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Bermuda</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Bhutan</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Bolivia</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Bosnia and Herzegovina</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Botswana</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Brazil</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Brunei Darussalam</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Bulgaria</a></li>
                <li class="locations__item"><a class="locations__item-link" href="#">Burkina Faso</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
