.ai-como-ayudar {

  @include outer-container;

  &__item {

    @include span-columns(12);

    margin-bottom: $s-margin--small;
    padding: 0 $s-margin--small;

    @include media($m-ai-medium-only) {
      height: rem(130);
      margin-bottom: $s-margin--medium;
      padding: 0;
    }

    @include media($m-ai-medium-only) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($m-ai-large) {
      @include span-columns(3);
      @include omega(4n);
    }

    &:hover {
      background-color: rgba(0, 0, 0, .1);
      transition: background-color .25s,border-color .25s,color .25s;
    }

  }

  &__item-container {
    @include outer-container;
  }

  &__item-container-icon {
    @include span-columns(3);
    padding-left: $s-margin--small;
  }

  &__item-container-text {
    @include span-columns(8);
    @include shift(1);
  }

  // &__icon {
  // }

  &__title {
    @include f-title;
    font-size: 2em;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: $s-margin--small;
  }

  &__copy {
    margin-top: 0;
    margin-bottom: 0;
  }

}
