---
iter_6: [1,2,3,4,5,6]
---
<div class="ai-como-ayudar">
  {{#each iter_6}}
  <a class="ai-como-ayudar__item" href="#">
    <div class="ai-como-ayudar__item-container">
      <div class="ai-como-ayudar__item-container-icon">
        <picture class="ai-como-ayudar__icon">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200_hi 2x" media="(min-width: 346px)" srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_200_hi 2x">
        <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x" srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Heading 1" class="key-facts__img print-hidden lazyloaded">
        </picture>
      </div>
      <div class="ai-como-ayudar__item-container-text">
        <p class="ai-como-ayudar__title">Haz un legado</p>
        <p class="ai-como-ayudar__copy">Si eres docente, padre o madre, actúa por los derechos humanos.</p>
      </div>
    </div>
  </a>
  {{/each}}
</div>
