<aside class="tweet">
  <blockquote class="tweet__quote">This is a tweet component, this text forms the tweet when the button is pressed.</blockquote>
  <h2 class="tweet__cta"><a class="tweet__link" target="_blank" href="#">Tweet this now</a></h2>
</aside>

