---
iter_4: [1,2,3,4]
---
<div class="ai-people-acted">
    <div class="ai-people-acted__headline">
        Ya están actuando
    </div>
    <div class="ai-people-acted__list">
        {{#each iter_4}}
            <p class="ai-people-acted__act">
                <strong>John Doe</strong>, de Madrid, actuó hace 10 minutos
            </p>
        {{/each}}
    </div>
</div>