<div class="image-block--shaded">
  <div class="responsive--bg lazyload print-hidden" data-bgset="https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_479_122_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_345_152, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_345_152_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1472_42" alt="" class="responsive__img print-hidden">
  </noscript>
  <div class="image-block__content--tall">
    <div class="image-block__text">
      <div class="image-headline__table">
        <div class="image-headline__cell">
          <blockquote class="quote--stacked--lg">
            <header class="quote__source--stacked">Dr Tun Aung</header>
            <div class="quote__text--stacked--lg">All those activities are beyond my wildest imagination. The extent of the campaign and hundreds of personal letters written to me and my family made me very emotional and humbled.</div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>


