<div class="image-block">
  <div class="responsive--bg lazyload print-hidden" data-bgset="https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1224_52, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1224_52_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1039_62, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1039_62_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_839_72, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_839_72_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_639_82, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_639_82_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_479_122, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_479_122_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_345_152, https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_345_152_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/mediacentre2.jpg?preset=fixed_1472_42" alt="" class="responsive__img print-hidden">
  </noscript>
  <div class="image-block__content--tall">
    <div class="image-block__text--left">
      <div class="image-headline__table">
        <div class="image-headline__cell">
          <h2 class="image-headline__subtitle--no-tape">Visit our multimedia newsroom</h2>
          <div class="image-header__copy">
            View the latest news footage and recent video clips in our video newsroom. Content is updated in real time by our global corresponddents, lorem ipsum cognito ergo sum. Phasellus venenatis, nulla in finibus lacinia, urna odio imperdiet ligula, ac tempus dolor turpis eu elit. Etiam dignissim fermentum nibh, rhoncus mattis risus vestibulum eget.
            <p class="credits">&#169;2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

