.ai-cta-2col {

  @include outer-container;
  background-color: $c-grey--lightest;
  padding: $s-margin--medium;

  &__copycontainer {
    border-bottom: 1px solid $c-grey--light;
    padding-bottom: $s-margin--medium;

    @include media($m-ai-large) {
      @include span-columns(9);
      border-right: 1px solid $c-grey--light;
      padding-right: $s-margin--medium;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__bannercontainer {
    @include media($m-ai-large) {
      @include span-columns(3);
    }
  }

  &__copy-title {
    font-family: $f-title;
    font-weight: 400;
    line-height: 1.1;
    font-size: 2rem;
    @include media($m-ai-medium) {
      font-size: 2.75rem;
    }
  }

  &__banner-title {
    font-family: $f-title;
    font-weight: 400;
    line-height: 1.1;
    font-size: 1.5rem;
    text-transform: uppercase;
    @include media($m-ai-large) {
      text-align: right;
      font-size: 2rem;
    }
  }

  &__banner-text {
    @include media($m-ai-large) {
      text-align: right;
    }
  }

  &__banner-btn {
    @extend %btn-primary--lg--fullwidth;
  }
}
