.ai-cta-2col {

  @include outer-container;
  @include media($m-ai-large) {
    @include fill-parent;
    @include row(table);
  }

  &__copycontainer {
    background-color: $c-grey--lighter;
    padding: $s-margin--medium;

    @include media($m-ai-large-max) {
    }

    @include media($m-ai-large) {
      @include span-columns(9);
      border-bottom: 0;
      padding-bottom: 0;
      vertical-align: middle;
    }
  }

  &__bannercontainer {
    background-color: $c-grey--light;
    padding: $s-margin--medium;

    @include media($m-ai-large-max) {
    }

    @include media($m-ai-large) {
      @include span-columns(3);
      @include reset-display;
    }
  }

  &__copy-title {
    font-family: $f-title;
    font-weight: 400;
    line-height: 1.1;
    font-size: 1.4rem;
    margin-top: 0;
    @include media($m-ai-medium) {
      font-size: 2.25rem;
    }
  }

  &__banner-title {
    font-family: $f-title;
    font-weight: 400;
    line-height: 1.1;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    @include media($m-ai-large) {
      font-size: 1.7em;
    }
  }

  &__banner-text {
    text-align: center;
  }

  &__banner-btn {
    @include btn;
    @include btn--primary;
    @include btn--md;
    @include btn--fullwidth;
    @include media($m-ai-large) {
      @include btn--lg;
    }
  }
}
